Repository SciTools/iris, pull requests merged in 2018-10, with the labels that each got.

#3082 Update tests.rst
  docs/iris/src/developers_guide/tests.rst
Labels: SemVer: Patch, Type: Documentation

#3153 2d coords
  docs/iris/src/_templates/index.html
  docs/iris/src/_templates/layout.html
  docs/iris/src/whatsnew/2.2.rst
  docs/iris/src/whatsnew/index.rst
  lib/iris/__init__.py
  lib/iris/analysis/_grid_angles.py
  lib/iris/analysis/cartography.py
  lib/iris/coords.py
  lib/iris/plot.py
  lib/iris/tests/__init__.py
  lib/iris/tests/integration/plot/test_plot_2d_coords.py
  lib/iris/tests/integration/plot/test_vector_plots.py
  lib/iris/tests/results/imagerepo.json
  lib/iris/tests/stock/__init__.py
  lib/iris/tests/stock/_stock_2d_latlons.py
  lib/iris/tests/test_coding_standards.py
  lib/iris/tests/unit/analysis/cartography/test_gridcell_angles.py
  lib/iris/tests/unit/analysis/cartography/test_rotate_grid_vectors.py
  lib/iris/tests/unit/analysis/regrid/test_RectilinearRegridder.py
  lib/iris/tests/unit/coords/test_Coord.py
  lib/iris/tests/unit/plot/test__check_bounds_contiguity_and_mask.py
  lib/iris/tests/unit/plot/test__get_plot_defn.py
  lib/iris/tests/unit/plot/test__get_plot_defn_custom_coords_picked.py
  requirements/core.txt
Labels: 2d_coords_mergeback, Feature: 2D coords

#3067 minor requirements tidy
  requirements/all.txt
  requirements/gen_conda_requirements.py
Labels: SemVer: Patch, Type: Infrastructure

#3184 Test contig tol
  lib/iris/tests/unit/plot/_blockplot_common.py
  lib/iris/tests/unit/plot/test_pcolor.py
  lib/iris/tests/unit/plot/test_pcolormesh.py
Labels: Feature: 2D coords

#3144 Public contiguity checking
  lib/iris/coords.py
  lib/iris/plot.py
  lib/iris/tests/stock/_stock_2d_latlons.py
  lib/iris/tests/unit/coords/test_Coord.py
  lib/iris/tests/unit/plot/test__check_bounds_contiguity_and_mask.py
  lib/iris/tests/unit/util/test_find_discontiguities.py
  lib/iris/tests/unit/util/test_mask_cube.py
  lib/iris/util.py
Labels: Feature: 2D coords

#3130 Update RMS aggregator with lazy function
  lib/iris/analysis/__init__.py
  lib/iris/tests/unit/analysis/test_RMS.py
Labels: Feature: Dask for lazy data, SemVer: Minor, Type: Enhancement
