Repository SciTools/iris, pull requests merged in 2018-06, with the labels that each got.

#3039 Use the correct pypi name for nc-time-axis.
  requirements/all.txt
Labels: SemVer: Patch, Type: Infrastructure

#3016 Use cftime instead of netcdftime
  docs/iris/src/userguide/interpolation_and_regridding.rst
  docs/iris/src/whatsnew/contributions_2.1/newfeature_2018-May-23_cftime.txt
  lib/iris/analysis/__init__.py
  lib/iris/coord_categorisation.py
  lib/iris/coords.py
  lib/iris/cube.py
  lib/iris/fileformats/nimrod_load_rules.py
  lib/iris/fileformats/pp.py
  lib/iris/fileformats/pp_load_rules.py
  lib/iris/fileformats/pp_save_rules.py
  lib/iris/fileformats/um/_fast_load_structured_fields.py
  lib/iris/pandas.py
  lib/iris/plot.py
  lib/iris/tests/integration/plot/test_netcdftime.py
  lib/iris/tests/integration/test_PartialDateTime.py
  lib/iris/tests/test_pandas.py
  lib/iris/tests/test_pp_module.py
  lib/iris/tests/unit/coords/test_Cell.py
  lib/iris/tests/unit/fileformats/pp_load_rules/test__all_other_rules.py
  lib/iris/tests/unit/fileformats/pp_load_rules/test__convert_time_coords.py
  lib/iris/tests/unit/fileformats/pp_load_rules/test_convert.py
  lib/iris/tests/unit/fileformats/um/fast_load/test__convert_collation.py
  lib/iris/tests/unit/fileformats/um/fast_load_structured_fields/test_FieldCollation.py
  lib/iris/tests/unit/plot/test__fixup_dates.py
  lib/iris/tests/unit/time/test_PartialDateTime.py
  lib/iris/time.py
  requirements/core.txt
Labels: SemVer: Minor

#3037 Fixed the intermittent test in #3035.
  lib/iris/tests/results/FF/ffheader.txt
  lib/iris/tests/results/PP/extra_char_data.pp.txt
  lib/iris/tests/results/PP/extra_char_data.w_data_loaded.pp.txt
  lib/iris/tests/results/PP/extra_data_time_series.pp.txt
  lib/iris/tests/results/PP/extra_x_data.pp.txt
  lib/iris/tests/results/PP/global_test.pp.txt
  lib/iris/tests/results/PP/nae_unpacked.pp.txt
  lib/iris/tests/results/PP/rle_unpacked.pp.txt
  lib/iris/tests/results/cdm/TestStockCubeStringRepresentations/0d_str.txt
  lib/iris/tests/results/cdm/TestStockCubeStringRepresentations/1d_str.txt
  lib/iris/tests/results/cdm/TestStockCubeStringRepresentations/2d_str.txt
  lib/iris/tests/results/cdm/masked_save_pp.txt
  lib/iris/tests/results/cdm/str_repr/0d_cube.__str__.txt
  lib/iris/tests/results/cdm/str_repr/0d_cube.__unicode__.txt
  lib/iris/tests/results/coord_api/str_repr/aux_time_repr.txt
  lib/iris/tests/results/coord_api/str_repr/dim_time_repr.txt
  lib/iris/tests/results/cube_to_pp/append_multi.txt
  lib/iris/tests/results/cube_to_pp/append_single.txt
  lib/iris/tests/results/cube_to_pp/depth.latitude.pp.txt
  lib/iris/tests/results/cube_to_pp/depth.time.pp.txt
  lib/iris/tests/results/cube_to_pp/eta.latitude.pp.txt
  lib/iris/tests/results/cube_to_pp/pressure.latitude.pp.txt
  lib/iris/tests/results/cube_to_pp/pressure.time.pp.txt
  lib/iris/tests/results/cube_to_pp/replace_multi.txt
  lib/iris/tests/results/cube_to_pp/replace_single.txt
  lib/iris/tests/results/cube_to_pp/simple.txt
  lib/iris/tests/results/netcdf/netcdf_stereo.cml
  lib/iris/tests/results/trajectory/tri_polar_latitude_slice.cml
  lib/iris/tests/results/usecases/pp_to_cf_conversion/to_pp/000003000000.03.236.000128.1990.12.01.00.00.b.pp.txt
  lib/iris/tests/results/usecases/pp_to_cf_conversion/to_pp/000003000000.03.236.004224.1990.12.01.00.00.b.pp.txt
  lib/iris/tests/results/usecases/pp_to_cf_conversion/to_pp/000003000000.03.236.008320.1990.12.01.00.00.b.pp.txt
  lib/iris/tests/results/usecases/pp_to_cf_conversion/to_pp/000003000000.16.202.000128.1860.09.01.00.00.b.pp.txt
  lib/iris/tests/unit/coords/test_CellMeasure.py
  lib/iris/util.py
Labels: Type: Bug

#3033 Add dask-array as a requirement when pip installing.
  requirements/core.txt
Labels: SemVer: Patch, Type: Infrastructure

#3031 Unpin netcdf4
  docs/iris/src/userguide/interpolation_and_regridding.rst
  lib/iris/tests/results/integration/netcdf/TestSaveMultipleAuxFactories/hybrid_height_cubes.cml
  lib/iris/tests/results/netcdf/int64_data_netcdf3.cml
  lib/iris/tests/results/netcdf/netcdf_deferred_index_0.cml
  lib/iris/tests/results/netcdf/netcdf_deferred_index_1.cml
  lib/iris/tests/results/netcdf/netcdf_deferred_mix_0.cml
  lib/iris/tests/results/netcdf/netcdf_deferred_mix_1.cml
  lib/iris/tests/results/netcdf/netcdf_deferred_slice_0.cml
  lib/iris/tests/results/netcdf/netcdf_deferred_slice_1.cml
  lib/iris/tests/results/netcdf/netcdf_deferred_slice_2.cml
  lib/iris/tests/results/netcdf/netcdf_deferred_tuple_0.cml
  lib/iris/tests/results/netcdf/netcdf_deferred_tuple_1.cml
  lib/iris/tests/results/netcdf/netcdf_deferred_tuple_2.cml
  lib/iris/tests/results/netcdf/netcdf_global_xyt_hires.cml
  lib/iris/tests/results/netcdf/netcdf_global_xyt_total.cml
  lib/iris/tests/results/netcdf/netcdf_global_xyzt_gems.cml
  lib/iris/tests/results/netcdf/netcdf_global_xyzt_gems_iter_0.cml
  lib/iris/tests/results/netcdf/netcdf_laea.cml
  lib/iris/tests/results/netcdf/netcdf_merc.cml
  lib/iris/tests/results/netcdf/netcdf_monotonic.cml
  lib/iris/tests/results/netcdf/netcdf_rotated_xy_land.cml
  lib/iris/tests/results/netcdf/netcdf_rotated_xyt_precipitation.cml
  lib/iris/tests/results/netcdf/netcdf_save_load_hybrid_height.cml
  lib/iris/tests/results/netcdf/netcdf_save_load_ndim_auxiliary.cml
  lib/iris/tests/results/netcdf/netcdf_units_0.cml
  lib/iris/tests/results/netcdf/netcdf_units_1.cml
  lib/iris/tests/results/netcdf/uint32_data_netcdf3.cml
  lib/iris/tests/results/system/supported_filetype_.nc.cml
  lib/iris/tests/results/usecases/pp_to_cf_conversion/from_netcdf/000003000000.03.236.000128.1990.12.01.00.00.b_0.cml
  lib/iris/tests/results/usecases/pp_to_cf_conversion/from_netcdf/000003000000.03.236.004224.1990.12.01.00.00.b_0.cml
  lib/iris/tests/results/usecases/pp_to_cf_conversion/from_netcdf/000003000000.03.236.008320.1990.12.01.00.00.b_0.cml
  lib/iris/tests/results/usecases/pp_to_cf_conversion/from_netcdf/000003000000.16.202.000128.1860.09.01.00.00.b_0.cml
  lib/iris/tests/results/usecases/pp_to_cf_conversion/from_netcdf/008000000000.44.101.000128.1890.09.01.00.00.b_0.cml
  lib/iris/tests/results/usecases/pp_to_cf_conversion/from_netcdf/12187.b_0.cml
  lib/iris/tests/results/usecases/pp_to_cf_conversion/from_netcdf/HadCM2_ts_SAT_ann_18602100.b_0.cml
  lib/iris/tests/results/usecases/pp_to_cf_conversion/from_netcdf/aaxzc_level_lat_orig.b_0.cml
  lib/iris/tests/results/usecases/pp_to_cf_conversion/from_netcdf/aaxzc_lon_lat_press_orig.b_0.cml
  lib/iris/tests/results/usecases/pp_to_cf_conversion/from_netcdf/aaxzc_lon_lat_several.b_0.cml
  lib/iris/tests/results/usecases/pp_to_cf_conversion/from_netcdf/aaxzc_n10r13xy.b_0.cml
  lib/iris/tests/results/usecases/pp_to_cf_conversion/from_netcdf/aaxzc_time_press.b_0.cml
  lib/iris/tests/results/usecases/pp_to_cf_conversion/from_netcdf/aaxzc_tseries.b_0.cml
  lib/iris/tests/results/usecases/pp_to_cf_conversion/from_netcdf/abcza_pa19591997_daily_29.b_0.cml
  lib/iris/tests/results/usecases/pp_to_cf_conversion/from_netcdf/abcza_pa19591997_daily_29.b_1.cml
  lib/iris/tests/results/usecases/pp_to_cf_conversion/from_netcdf/abcza_pa19591997_daily_29.b_2.cml
  lib/iris/tests/results/usecases/pp_to_cf_conversion/from_netcdf/abxpa_press_lat.b_0.cml
  lib/iris/tests/results/usecases/pp_to_cf_conversion/from_netcdf/integer.b_0.cml
  lib/iris/tests/results/usecases/pp_to_cf_conversion/from_netcdf/model.b_0.cml
  requirements/core.txt
Labels: Experience-needed: High, SemVer: Minor, Type: Infrastructure

#3045 Updated the README, and copied that over to the iris docs homepage.
  README.md
  docs/iris/src/_templates/index.html
  docs/iris/src/_templates/layout.html
Labels: SemVer: Minor, Type: Documentation

#3044 Added the what's new for iris 2.1
  docs/iris/src/_templates/index.html
  docs/iris/src/whatsnew/1.5.rst
  docs/iris/src/whatsnew/2.1.rst
  docs/iris/src/whatsnew/contributions_2.0/incompatiblechange_2018-Jan-12_area_weighted_regridder_dtype.txt
  docs/iris/src/whatsnew/contributions_2.1/bugfix_2018-May-03_var_name_constraint.txt
  docs/iris/src/whatsnew/contributions_2.1/incompatiblechange_2018-May-01_remove_experimental_um.txt
  docs/iris/src/whatsnew/contributions_2.1/newfeature_2018-Feb-04_lazy_convert_units.txt
  docs/iris/src/whatsnew/contributions_2.1/newfeature_2018-Jan-04_missing_value_attr.txt
  docs/iris/src/whatsnew/contributions_2.1/newfeature_2018-Jan-18_trajectory-interpolate.txt
  docs/iris/src/whatsnew/contributions_2.1/newfeature_2018-Mar-08_co_realise_cubes.txt
  docs/iris/src/whatsnew/contributions_2.1/newfeature_2018-May-03_multidim_collapse.txt
  docs/iris/src/whatsnew/contributions_2.1/newfeature_2018-May-03_stash_names.txt
  docs/iris/src/whatsnew/contributions_2.1/newfeature_2018-May-08_repr-html.txt
  docs/iris/src/whatsnew/contributions_2.1/newfeature_2018-May-22_cf_units_2.txt
  docs/iris/src/whatsnew/contributions_2.1/newfeature_2018-May-23_cftime.txt
  docs/iris/src/whatsnew/images/transverse_merc.png
  docs/iris/src/whatsnew/index.rst
Labels: SemVer: Minor, Type: Documentation

#3046 Updated the cf-standard names to v54.
  etc/cf-standard-name-table.xml
Labels: Experience-needed: Low, SemVer: Minor, Type: Enhancement

#3047 Release branch close (v1.13.x, v2.0.x)
  .travis.yml
  docs/iris/src/sphinxext/gen_gallery.py
Labels: SemVer: Minor, Type: Infrastructure

#3050 Updated the branding and execution of Iris docs
  README.md
  docs/iris/src/_static/favicon-16x16.png
  docs/iris/src/_static/favicon-32x32.png
  docs/iris/src/_static/style.css
  docs/iris/src/_templates/index.html
  docs/iris/src/_templates/layout.html
  docs/iris/src/conf.py
  docs/iris/src/whatsnew/2.1.rst
  setup.py
Labels: SemVer: Patch, Type: Documentation

#3052 [DOC] Iris Introduction updates
  README.md
  docs/iris/src/_templates/index.html
Labels: SemVer: Patch, Type: Documentation

#3051 Prepare for 2.1.0 release
  lib/iris/__init__.py
Labels: Type: Infrastructure

#3056 [DOC] Remove first 'and' from strapline to make it easier to read
  README.md
  docs/iris/src/_templates/layout.html
  setup.py
Labels: SemVer: Patch, Type: Documentation

#3066 http -> https for copybutton.js
  docs/iris/src/_templates/layout.html
Labels: SemVer: Patch, Type: Documentation

#3062 Explain use of saver='string' in iris.save
  lib/iris/io/__init__.py
Labels: SemVer: Patch, Type: Documentation
