Repository SciTools/iris, pull requests merged in 2018-05, with the labels that each got.

#2960 test_pearsonr: use compatible cubes for testing compatible cubes
  lib/iris/tests/unit/analysis/stats/test_pearsonr.py
Labels: SemVer: Patch, Type: Infrastructure

#3003 Use iris.tests.mock for Python 3
  lib/iris/tests/unit/data_manager/test_DataManager.py
  lib/iris/tests/unit/fileformats/dot/test__dot_path.py
  lib/iris/tests/unit/fileformats/netcdf/test__FillValueMaskCheckAndStoreTarget.py
  lib/iris/tests/unit/fileformats/netcdf/test_save.py
  lib/iris/tests/unit/fileformats/rules/test_Loader.py
  lib/iris/tests/unit/fileformats/um/test_um_to_pp.py
  lib/iris/tests/unit/lazy_data/test_as_lazy_data.py
  lib/iris/tests/unit/test_sample_data_path.py
Labels: SemVer: Minor, Type: Infrastructure

#2965 Pin Dask to >=0.17.1
  requirements/core.txt
Labels: SemVer: Minor, Status: Blocked, Type: Infrastructure

#2770 Fill a usability gap in iris.analysis.Trajectory
  docs/iris/src/whatsnew/contributions_2.1/newfeature_2018-Jan-18_trajectory-interpolate.txt
  lib/iris/analysis/trajectory.py
  lib/iris/tests/unit/analysis/trajectory/test_Trajectory.py
Labels: SemVer: Minor, Status: Stalled

#2781 Remove iris.experimental.um module
  docs/iris/src/whatsnew/contributions_2.1/incompatiblechange_2018-May-01_remove_experimental_um.txt
  lib/iris/experimental/um.py
  lib/iris/tests/integration/test_FieldsFileVariant.py
  lib/iris/tests/integration/test_ff.py
  lib/iris/tests/unit/experimental/um/__init__.py
  lib/iris/tests/unit/experimental/um/test_Field.py
  lib/iris/tests/unit/experimental/um/test_Field2.py
  lib/iris/tests/unit/experimental/um/test_Field3.py
  lib/iris/tests/unit/experimental/um/test_FieldsFileVariant.py
  lib/iris/tests/unit/experimental/um/test_FixedLengthHeader.py
Labels: SemVer: Minor

#2354 Gracefully handle long time intervals
  lib/iris/coords.py
  lib/iris/tests/unit/coords/test_Coord.py
  requirements/core.txt
Labels: SemVer: Minor, Status: Work in progress

#3009 Prevent creation of invalid CF variable names.
  docs/iris/src/whatsnew/contributions_2.1/bugfix_2018-May-03_var_name_constraint.txt
  lib/iris/fileformats/netcdf.py
  lib/iris/tests/unit/fileformats/netcdf/test_Saver.py
Labels: SemVer: Minor, Type: Bug, in progress

#2983 Attempts to fix docs-build error reporting.
  .travis.yml
Labels: SemVer: Patch, Type: Infrastructure

#3011 phenomenon translation updates
  lib/iris/fileformats/um_cf_map.py
Labels: SemVer: Minor, Type: Enhancement

#3013 Replace iris.co_realise_cubes with CubeList.realise_data.
  docs/iris/src/whatsnew/contributions_2.1/newfeature_2018-Mar-08_co_realise_cubes.txt
  lib/iris/__init__.py
  lib/iris/_lazy_data.py
  lib/iris/coords.py
  lib/iris/cube.py
  lib/iris/tests/unit/cube/test_CubeList.py
Labels: SemVer: Minor, Type: Enhancement

#3020 Amend var_name documentation
  lib/iris/_cube_coord_common.py
  lib/iris/aux_factory.py
  lib/iris/coords.py
Labels: SemVer: Patch, Type: Documentation

#2918 Add _repr_html_ for Iris cubes
  docs/iris/src/whatsnew/contributions_2.1/newfeature_2018-May-08_repr-html.txt
  lib/iris/cube.py
  lib/iris/experimental/representation.py
  lib/iris/tests/integration/experimental/test_CubeRepresentation.py
  lib/iris/tests/unit/experimental/representation/test_CubeRepresentation.py
Labels: SemVer: Minor, Type: Enhancement

#3036 Remove the CODING matrix item.
  .travis.yml
Labels: SemVer: Patch, Type: Infrastructure

#2943 Add Albers Equal Area Projection and some test as per #2496
  lib/iris/coord_systems.py
  lib/iris/fileformats/_pyke_rules/fc_rules_cf.krb
  lib/iris/fileformats/netcdf.py
  lib/iris/tests/unit/coord_systems/test_AlbersEqualArea.py
  lib/iris/tests/unit/fileformats/netcdf/test_Saver.py
Labels: SemVer: Minor, Type: Enhancement
