Repository SciTools/iris, pull requests merged in 2019-11, with the labels that each got.

#3475 Improve repr_html coverage
  lib/iris/cube.py
  lib/iris/experimental/representation.py
  lib/iris/tests/unit/experimental/representation/test_CubeRepresentation.py
Labels: Type: Documentation

#3514 Make Coord abstract
  lib/iris/coords.py
  lib/iris/tests/unit/coords/test_CellMethod.py
  lib/iris/tests/unit/coords/test_Coord.py
Labels: Status: Work in progress, Type: Infrastructure

#3526 Airspeed Velocity Set Up
  .gitignore
  asv.conf.json
  lib/iris/tests/benchmarking/__init__.py
  lib/iris/tests/benchmarking/regridding.py
  requirements/test.txt
Labels: SemVer: Major, Type: Infrastructure, Type: Performance

#3522 Align development guide URLs
  .github/CONTRIBUTING.md
Labels: SemVer: Major, T-Shirt: Small, Type: Documentation

#3525 what's new entry for unpinning mpl
  docs/iris/src/whatsnew/contributions_3.0.0/newfeature_2019-Oct-17_unpin_mpl.txt
Labels: SemVer: Major, T-Shirt: Small, Type: Documentation

#3523 Remove iris.experimental.concatenate module
  docs/iris/src/whatsnew/contributions_3.0.0/incompatiblechange_2019-Nov-12_remove_experimental_concatenate_module.txt
  lib/iris/experimental/concatenate.py
Labels: SemVer: Major, T-Shirt: Small, Type: Technical Debt

#3539 Purge iris.experimental.regrid np<1.7 support
  lib/iris/experimental/regrid.py
Labels: SemVer: Major, Type: Technical Debt

#3527 Move experimental equalise_attributes
  docs/iris/src/userguide/merge_and_concat.rst
  docs/iris/src/whatsnew/contributions_3.0.0/incompatiblechange_2019-Nov-13_move_experimental_equalise_cubes.txt
  lib/iris/experimental/equalise_cubes.py
  lib/iris/tests/unit/experimental/equalise_cubes/__init__.py
  lib/iris/tests/unit/util/test_equalise_attributes.py
  lib/iris/util.py
Labels: SemVer: Major, T-Shirt: Small, Type: Technical Debt

#3540 Purge cartopy<0.12 support
  lib/iris/coord_systems.py
  requirements/core.txt
Labels: SemVer: Major, Type: Technical Debt

#3534 Remove reference to invalid coords in cube summary
  lib/iris/cube.py
Labels: SemVer: Major, Type: Technical Debt

#3532 Fix unit test_Coord class name
  lib/iris/tests/unit/coords/test_Coord.py
Labels: SemVer: Major, Type: Technical Debt

#3531 Make _DimensionalMetadata abstract
  lib/iris/coords.py
  lib/iris/tests/unit/coords/test__DimensionalMetadata.py
Labels: SemVer: Major, Type: Technical Debt

#3548 __getitem__ gets ancillary variables
  lib/iris/cube.py
  lib/iris/tests/unit/cube/test_Cube.py
Labels: Type: Bug

#3541 Support at least python>=3.6
  lib/iris/config.py
Labels: SemVer: Major, Type: Technical Debt

#3538 Use functools.lru_cache for maths dtype caching
  lib/iris/analysis/maths.py
Labels: SemVer: Major, Type: Infrastructure, Type: Technical Debt

#3533 CellMeasure.measure with valid default
  docs/iris/src/whatsnew/contributions_3.0.0/bugfix_2019-Nov-14_cell_measure_positional_argument.txt
  lib/iris/coords.py
  lib/iris/tests/unit/coords/test_CellMeasure.py
  lib/iris/tests/unit/cube/test_Cube.py
  lib/iris/tests/unit/experimental/representation/test_CubeRepresentation.py
  lib/iris/tests/unit/fileformats/netcdf/test_Saver.py
Labels: SemVer: Major, Status: Decision needed, Type: Technical Debt

#3536 Fix equality
  lib/iris/cube.py
  lib/iris/tests/unit/cube/test_Cube.py
Labels: Type: Bug

#3535 Update .gitignore for .ipynb_checkpoints
  .gitignore
Labels: Type: Infrastructure

#3546 Fix copy to include Ancillary variables and Cell measures
  docs/iris/src/whatsnew/contributions_3.0.0/bugfix_2019-Nov-19_cell_measure_copy_loss.txt
  lib/iris/analysis/__init__.py
  lib/iris/cube.py
  lib/iris/tests/unit/cube/test_Cube.py
Labels: Type: Bug

#3463 Add NameConstraint with relaxed name loading
  docs/iris/src/userguide/loading_iris_cubes.rst
  docs/iris/src/whatsnew/contributions_3.0.0/newfeature_2019-Oct-15_nameconstraint.txt
  docs/iris/src/whatsnew/contributions_3.0.0/newfeature_2019-Oct-15_names_property.txt
  docs/iris/src/whatsnew/contributions_3.0.0/newfeature_2019-Oct-15_relaxed_name_loading.txt
  lib/iris/__init__.py
  lib/iris/_constraints.py
  lib/iris/_cube_coord_common.py
  lib/iris/tests/test_constraints.py
  lib/iris/tests/unit/constraints/__init__.py
  lib/iris/tests/unit/constraints/test_NameConstraint.py
  lib/iris/tests/unit/cube_coord_common/test_CFVariableMixin.py
Labels: SemVer: Major, Type: Enhancement

#3550 PI-3473: Netcdf saving of ancillary variables
  lib/iris/fileformats/netcdf.py
  lib/iris/tests/results/netcdf/TestNetCDFSave__ancillaries/aliases.cdl
  lib/iris/tests/results/netcdf/TestNetCDFSave__ancillaries/fulldims.cdl
  lib/iris/tests/results/netcdf/TestNetCDFSave__ancillaries/multiple.cdl
  lib/iris/tests/results/netcdf/TestNetCDFSave__ancillaries/partialdims.cdl
  lib/iris/tests/results/netcdf/TestNetCDFSave__ancillaries/shared.cdl
  lib/iris/tests/test_netcdf.py
Labels: T-Shirt: Medium

#3564 _regrid_area_weighted_array: move indices variables
  lib/iris/experimental/regrid.py
Labels: Experience: Low, T-Shirt: Small, Type: Enhancement

#3549 PI-3483: Ensure collapsed/aggregated_by/rolling_window treat ancillary variables properly
  docs/iris/src/whatsnew/contributions_3.0.0/newfeature_2019-Nov-27_cell_measure_statistics.txt
  lib/iris/cube.py
  lib/iris/tests/unit/cube/test_Cube.py
  lib/iris/util.py
Labels: T-Shirt: Small
