Repository SciTools/iris, pull requests merged in 2019-08, with the labels that each got.

#3302 Partial Collapse of Multidimensional Auxcoords with Bounds
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-Apr-03_partial_collapse_bounded_coords.txt
  lib/iris/coords.py
  lib/iris/tests/unit/coords/test_Coord.py
Labels: SemVer: Minor, Type: Bug

#3361 Chunk control
  lib/iris/_lazy_data.py
  lib/iris/fileformats/netcdf.py
  lib/iris/tests/unit/analysis/test_RMS.py
  lib/iris/tests/unit/cube/test_Cube.py
  lib/iris/tests/unit/fileformats/netcdf/test__get_cf_var_data.py
  lib/iris/tests/unit/lazy_data/test_as_lazy_data.py
  lib/iris/tests/unit/lazy_data/test_is_lazy_data.py
Labels: SemVer: Minor, Type: Performance

#3352 Adding date range time example to docs.
  docs/iris/src/userguide/loading_iris_cubes.rst
Labels: Type: Documentation
