Repository SciTools/iris, pull requests merged in 2019-12, with the labels that each got.

#3582 Fixes required due to the release of iris-grib v0.15.0
  .travis.yml
  lib/iris/tests/__init__.py
  lib/iris/tests/integration/test_grib2.py
  lib/iris/tests/integration/test_grib_load.py
  lib/iris/tests/results/grib_load/3_layer.cml
  lib/iris/tests/results/grib_load/earth_shape_0.cml
  lib/iris/tests/results/grib_load/earth_shape_1.cml
  lib/iris/tests/results/grib_load/earth_shape_2.cml
  lib/iris/tests/results/grib_load/earth_shape_3.cml
  lib/iris/tests/results/grib_load/earth_shape_4.cml
  lib/iris/tests/results/grib_load/earth_shape_5.cml
  lib/iris/tests/results/grib_load/earth_shape_6.cml
  lib/iris/tests/results/grib_load/earth_shape_7.cml
  lib/iris/tests/results/grib_load/ineg_jneg.cml
  lib/iris/tests/results/grib_load/ineg_jpos.cml
  lib/iris/tests/results/grib_load/ipos_jneg.cml
  lib/iris/tests/results/grib_load/ipos_jpos.cml
  lib/iris/tests/results/grib_load/lambert_grib2.cml
  lib/iris/tests/results/grib_load/missing_values_grib2.cml
  lib/iris/tests/results/grib_load/reduced_gg_grib2.cml
  lib/iris/tests/results/grib_load/regular_gg_grib2.cml
  lib/iris/tests/results/grib_load/time_bound_grib2.cml
  lib/iris/tests/results/integration/grib2/TestDRT3/grid_complex_spatial_differencing.cml
  lib/iris/tests/results/integration/grib2/TestGDT30/lambert.cml
  lib/iris/tests/results/integration/grib2/TestGDT40/reduced.cml
  lib/iris/tests/results/integration/grib2/TestGDT40/regular.cml
  lib/iris/tests/results/integration/grib2/TestImport/gdt1.cml
  lib/iris/tests/results/integration/grib2/TestImport/gdt90_with_bitmap.cml
  lib/iris/tests/results/integration/name_grib/NAMEII/0_TRACER_AIR_CONCENTRATION.cml
  lib/iris/tests/results/integration/name_grib/NAMEII/1_TRACER_DOSAGE.cml
  lib/iris/tests/results/integration/name_grib/NAMEII/2_TRACER_WET_DEPOSITION.cml
  lib/iris/tests/results/integration/name_grib/NAMEII/3_TRACER_DRY_DEPOSITION.cml
  lib/iris/tests/results/integration/name_grib/NAMEII/4_TRACER_TOTAL_DEPOSITION.cml
  lib/iris/tests/results/integration/name_grib/NAMEIII/0_TRACER_AIR_CONCENTRATION.cml
  lib/iris/tests/results/integration/name_grib/NAMEIII/1_TRACER_AIR_CONCENTRATION.cml
  lib/iris/tests/results/integration/name_grib/NAMEIII/2_TRACER_DRY_DEPOSITION.cml
  lib/iris/tests/results/integration/name_grib/NAMEIII/3_TRACER_WET_DEPOSITION.cml
  lib/iris/tests/results/integration/name_grib/NAMEIII/4_TRACER_DEPOSITION.cml
  lib/iris/tests/results/system/supported_filetype_.grib2.cml
  lib/iris/tests/results/uri_callback/grib_global.cml
Labels: Feature: iris-grib, SemVer: Minor

#3566 PI-3552: Add concatenate support for Ancilary Variables and Cell Measures
  docs/iris/src/whatsnew/contributions_3.0.0/bugfix_2019-Dec-02_cell_measure_concatenate.txt
  lib/iris/_concatenate.py
  lib/iris/coords.py
  lib/iris/cube.py
  lib/iris/tests/integration/concatenate/test_concatenate.py
  lib/iris/tests/test_concatenate.py
  lib/iris/tests/unit/concatenate/test_concatenate.py
Labels: Type: Bug, Type: Enhancement

#3583 PI-3478: Common metadata API
  .flake8
  lib/iris/_concatenate.py
  lib/iris/_constraints.py
  lib/iris/_merge.py
  lib/iris/analysis/__init__.py
  lib/iris/aux_factory.py
  lib/iris/common/__init__.py
  lib/iris/common/metadata.py
  lib/iris/common/mixin.py
  lib/iris/coords.py
  lib/iris/cube.py
  lib/iris/fileformats/_pyke_rules/fc_rules_cf.krb
  lib/iris/iterate.py
  lib/iris/plot.py
  lib/iris/tests/integration/fast_load/test_fast_load.py
  lib/iris/tests/test_coord_api.py
  lib/iris/tests/unit/common/__init__.py
  lib/iris/tests/unit/common/metadata/__init__.py
  lib/iris/tests/unit/common/metadata/test_AncillaryVariableMetadata.py
  lib/iris/tests/unit/common/metadata/test_BaseMetadata.py
  lib/iris/tests/unit/common/metadata/test_CellMeasureMetadata.py
  lib/iris/tests/unit/common/metadata/test_CoordMetadata.py
  lib/iris/tests/unit/common/metadata/test_CubeMetadata.py
  lib/iris/tests/unit/common/metadata/test_MetadataManagerFactory.py
  lib/iris/tests/unit/common/metadata/test__NamedTupleMeta.py
  lib/iris/tests/unit/common/mixin/__init__.py
  lib/iris/tests/unit/common/mixin/test_CFVariableMixin.py
  lib/iris/tests/unit/common/mixin/test_LimitedAttributeDict.py
  lib/iris/tests/unit/common/mixin/test__get_valid_standard_name.py
  lib/iris/tests/unit/coords/test_CellMethod.py
  lib/iris/tests/unit/coords/test_Coord.py
  lib/iris/tests/unit/cube_coord_common/test_CFVariableMixin.py
  lib/iris/tests/unit/experimental/stratify/test_relevel.py
  lib/iris/tests/unit/fileformats/netcdf/test__load_aux_factory.py
  lib/iris/util.py
Labels: Experience: High, Feature: Arithmetic, SemVer: Major, Type: Enhancement
