Repository SciTools/iris, pull requests merged in 2019-09, with the labels that each got.

#3384 Fix naming of cubes from abf/abl files
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-Aug-29_abf_abl_cube_names.txt
  lib/iris/fileformats/abf.py
  lib/iris/tests/results/abf/load.cml
Labels: SemVer: Patch

#3315 metadata translations may 2019
  lib/iris/fileformats/um_cf_map.py
  tools/gen_translations.py
Labels: SemVer: Minor, Type: Infrastructure

#3399 Support name tokens
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-Sep-16_cellmethod_tokens.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-Sep-16_var_name_tokens.txt
  lib/iris/_cube_coord_common.py
  lib/iris/coords.py
  lib/iris/tests/unit/coords/test_CellMethod.py
  lib/iris/tests/unit/cube_coord_common/__init__.py
  lib/iris/tests/unit/cube_coord_common/test_CFVariableMixin.py
Labels: SemVer: Minor, Type: Bug

#3002 Colourised Logos
  docs/iris/src/_static/Iris7_1_trim_100.png
  docs/iris/src/_static/Iris7_1_trim_full.png
Labels: Status: Decision needed, Type: Documentation, Votable Feature

#3393 Support Standard Name Modifers (not units!)
  docs/iris/src/whatsnew/contributions_2.3.0/newfeature_2019-Sep-02_standard_name_modifiers.txt
  lib/iris/_cube_coord_common.py
  lib/iris/fileformats/_pyke_rules/fc_rules_cf.krb
  lib/iris/tests/integration/test_netcdf.py
  lib/iris/tests/unit/cube_coord_common/test_CFVariableMixin.py
  lib/iris/tests/unit/cube_coord_common/test_get_valid_standard_name.py
  lib/iris/tests/unit/fileformats/pyke_rules/compiled_krb/fc_rules_cf_fc/test_build_cube_metadata.py
  lib/iris/tests/unit/fileformats/pyke_rules/compiled_krb/fc_rules_cf_fc/test_get_names.py
Labels: Feature: CF1.6/1.7, SemVer: Minor, Type: Enhancement

#3405 update readme.md docs badges
  README.md
Labels: Experience-needed: Low, SemVer: Minor, Type: Infrastructure

#3412 iris image: crop and resize plus add favicons
  docs/iris/src/_static/Iris7_1_trim_100.png
  docs/iris/src/_static/Iris7_1_trim_full.png
  docs/iris/src/_static/favicon-16x16.png
  docs/iris/src/_static/favicon-32x32.png
Labels: SemVer: Minor, Type: Infrastructure

#3398 NEMO Ocean Data Gallery Example
  docs/iris/example_code/Oceanography/load_nemo.py
  docs/iris/example_tests/test_load_nemo.py
  docs/iris/src/whatsnew/contributions_2.3.0/docchange_2019-Sep-13_nemo_gallery_example.txt
  lib/iris/tests/results/imagerepo.json
Labels: SemVer: Minor, Type: Documentation

#3418 update logo banner
  docs/iris/src/_static/logo_banner.png
Labels: SemVer: Minor, Type: Infrastructure

#3395 Support climatological bounds for NetCDF Save and Load
  docs/iris/src/whatsnew/contributions_2.3.0/newfeature_2019-Sep-11_climatological_bounds.txt
  lib/iris/aux_factory.py
  lib/iris/coords.py
  lib/iris/fileformats/_pyke_rules/fc_rules_cf.krb
  lib/iris/fileformats/netcdf.py
  lib/iris/tests/__init__.py
  lib/iris/tests/integration/test_climatology.py
  lib/iris/tests/results/integration/climatology/TestClimatology/reference_simpledata.cdl
  lib/iris/tests/results/unit/fileformats/netcdf/Saver/write/with_climatology.cdl
  lib/iris/tests/stock/__init__.py
  lib/iris/tests/test_coding_standards.py
  lib/iris/tests/test_coord_api.py
  lib/iris/tests/unit/coords/test_Coord.py
  lib/iris/tests/unit/fileformats/netcdf/test_Saver.py
  lib/iris/tests/unit/fileformats/pyke_rules/compiled_krb/fc_rules_cf_fc/test_build_auxiliary_coordinate.py
  lib/iris/tests/unit/fileformats/pyke_rules/compiled_krb/fc_rules_cf_fc/test_build_dimension_coordinate.py
  lib/iris/tests/unit/fileformats/pyke_rules/compiled_krb/fc_rules_cf_fc/test_get_cf_bounds_var.py
Labels: Feature: CF1.6/1.7, SemVer: Minor, Type: Enhancement

#3295 Removal of a cube's cell measure by name (#3081)
  docs/iris/src/whatsnew/contributions_2.3.0/newfeature_2019-Mar-08_remove_cell_measure_by_name.txt
  lib/iris/cube.py
  lib/iris/tests/unit/cube/test_Cube.py
Labels: SemVer: Minor, Type: Bug

#3425 Climatological xml
  lib/iris/coords.py
  lib/iris/tests/results/netcdf/netcdf_tmerc_and_climatology.cml
Labels: SemVer: Minor, Type: Infrastructure

#3299 Make MEAN with weights lazy
  lib/iris/analysis/__init__.py
  requirements/core.txt
Labels: SemVer: Minor, Type: Enhancement

#3421 use @property everywhere
  lib/iris/coords.py
  lib/iris/fileformats/pp.py
  lib/iris/palette.py
Labels: SemVer: Minor, Status: Work in progress, Type: Enhancement

#3281 Adds lazy version of aggregated_by routine to Cube.
  docs/iris/src/whatsnew/contributions_2.3.0/newfeature_2019-Jul-11_lazy-aggregated_by.txt
  lib/iris/cube.py
  lib/iris/tests/unit/cube/test_Cube.py
Labels: SemVer: Minor, Status: Work in progress, Type: Enhancement

#3426 only build docs for latest python
  .travis.yml
Labels: SemVer: Minor, Type: Documentation
