Repository SciTools/iris, pull requests merged in 2019-10, with the labels that each got.

#3428 Allow non-float cell measures
  docs/iris/src/whatsnew/contributions_2.3.0/newfeature_2019-Sep-27_cell_measure_integer_data.txt
  lib/iris/coords.py
  lib/iris/tests/unit/coords/test_CellMeasure.py
Labels: SemVer: Minor, Type: Enhancement

#3434 Fix handling of cell measures during transposes of cubes
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-Oct-01_cube_transpose_cell_measures.txt
  lib/iris/cube.py
  lib/iris/tests/unit/coords/test_CellMeasure.py
  lib/iris/tests/unit/cube/test_Cube.py
Labels: SemVer: Minor, Type: Bug

#3313 Add repr_html for CubeLists
  lib/iris/cube.py
  lib/iris/experimental/representation.py
  lib/iris/tests/unit/experimental/representation/test_CubeListRepresentation.py
Labels: SemVer: Minor, Type: Enhancement

#3436 whatsnew entry for CubeList _repr_html_
  docs/iris/src/whatsnew/contributions_2.3.0/newfeature_2019-Oct-02_cubelist_repr_html.txt
Labels: SemVer: Minor, Type: Enhancement

#3427 enforce non-masked dimension coordinate points/bounds
  docs/iris/src/userguide/interpolation_and_regridding.rst
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-Oct-01_masked_dimcoords_and_auxcoords.txt
  lib/iris/analysis/_interpolation.py
  lib/iris/coords.py
  lib/iris/tests/test_coord_api.py
  lib/iris/tests/unit/coords/__init__.py
  lib/iris/tests/unit/coords/test_AuxCoord.py
  lib/iris/tests/unit/coords/test_DimCoord.py
Labels: SemVer: Minor, Type: Bug

#3440 Bump version to 2.3.0rc0
  lib/iris/__init__.py
Labels: SemVer: Minor, Type: Infrastructure

#3441 Add more What's New entries
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-Aug-30_circular_quiver_plot.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-Sep-06_html_repr_crash.txt
Labels: SemVer: Minor, Type: Documentation

#3442 Additional whatsnew contributions for v2.3 release.
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2018-Aug-28_lazy_bounds_collapse.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2018-Nov-28_lambert_conformal_secant_latitudes.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2018-Nov-29_proportion_falsemask.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-May-20_um_landsea_masked.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-Oct-01_cube_transpose_cell_measures.txt
  docs/iris/src/whatsnew/contributions_2.3.0/docchange_2019-Aug-22_random_load_order.txt
  docs/iris/src/whatsnew/contributions_2.3.0/docchange_2019-Aug-27_date_range_constraints.txt
  docs/iris/src/whatsnew/contributions_2.3.0/docchange_2019-Mar-06_discontig_masking.txt
  docs/iris/src/whatsnew/contributions_2.3.0/newfeature_2018-Oct-24_lazy_rms_agg.txt
Labels: SemVer: Minor, Type: Documentation, Type: Technical Debt

#3445 bump version to 3.0.dev0
  lib/iris/__init__.py
Labels: SemVer: Major, Type: Infrastructure

#3448 Updates for auto docs on master branch for Iris 3 release
  docs/iris/src/_templates/index.html
  docs/iris/src/_templates/layout.html
  docs/iris/src/whatsnew/index.rst
Labels: SemVer: Major, Type: Infrastructure

#3446 disable python2 travis-ci
  .travis.yml
  requirements/all.txt
  requirements/extensions.txt
  requirements/gen_conda_requirements.py
Labels: SemVer: Major, Type: Infrastructure

#3450 Iris 2.3 What's New
  docs/iris/src/_templates/index.html
  docs/iris/src/whatsnew/2.3.rst
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2018-Aug-28_lazy_bounds_collapse.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2018-Nov-28_lambert_conformal_secant_latitudes.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2018-Nov-29_proportion_falsemask.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2018-Sep-17_aggregate_by_multdim_coords.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-Apr-03_partial_collapse_bounded_coords.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-Aug-29_abf_abl_cube_names.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-Aug-30_circular_quiver_plot.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-May-20_um_landsea_masked.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-Oct-01_cf_conventions_attribute.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-Oct-01_cube_transpose_cell_measures.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-Oct-01_masked_dimcoords_and_auxcoords.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-Oct-02_boolean_data_compare.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-Sep-03_self_referencing_vollcello_reading.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-Sep-06_html_repr_crash.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-Sep-16_cellmethod_tokens.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-Sep-16_var_name_tokens.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-Sep-20_vp_coordsystem_definition.txt
  docs/iris/src/whatsnew/contributions_2.3.0/docchange_2019-Aug-22_random_load_order.txt
  docs/iris/src/whatsnew/contributions_2.3.0/docchange_2019-Aug-27_date_range_constraints.txt
  docs/iris/src/whatsnew/contributions_2.3.0/docchange_2019-Mar-06_discontig_masking.txt
  docs/iris/src/whatsnew/contributions_2.3.0/docchange_2019-Sep-13_nemo_gallery_example.txt
  docs/iris/src/whatsnew/contributions_2.3.0/newfeature_2018-Jul-25_dask_chunking.txt
  docs/iris/src/whatsnew/contributions_2.3.0/newfeature_2018-Oct-24_lazy_rms_agg.txt
  docs/iris/src/whatsnew/contributions_2.3.0/newfeature_2019-Jul-11_lazy-aggregated_by.txt
  docs/iris/src/whatsnew/contributions_2.3.0/newfeature_2019-Mar-08_remove_cell_measure_by_name.txt
  docs/iris/src/whatsnew/contributions_2.3.0/newfeature_2019-Oct-02_cube_equality_tolerance.txt
  docs/iris/src/whatsnew/contributions_2.3.0/newfeature_2019-Oct-02_cubelist_repr_html.txt
  docs/iris/src/whatsnew/contributions_2.3.0/newfeature_2019-Sep-02_standard_name_modifiers.txt
  docs/iris/src/whatsnew/contributions_2.3.0/newfeature_2019-Sep-04_move_experimental_point-in-cell_regridder_to_analysis.txt
  docs/iris/src/whatsnew/contributions_2.3.0/newfeature_2019-Sep-11_climatological_bounds.txt
  docs/iris/src/whatsnew/contributions_2.3.0/newfeature_2019-Sep-20_geostationary_coordsystem.txt
  docs/iris/src/whatsnew/contributions_2.3.0/newfeature_2019-Sep-27_cell_measure_integer_data.txt
  docs/iris/src/whatsnew/index.rst
  lib/iris/coords.py
Labels: SemVer: Minor, Type: Documentation

#3454 Mergeback v2.3.x branch onto master
  docs/iris/src/whatsnew/2.3.rst
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2018-Sep-17_aggregate_by_multdim_coords.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-Apr-03_partial_collapse_bounded_coords.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-Aug-29_abf_abl_cube_names.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-Oct-01_cf_conventions_attribute.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-Oct-01_cube_transpose_cell_measures.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-Oct-01_masked_dimcoords_and_auxcoords.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-Oct-02_boolean_data_compare.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-Sep-03_self_referencing_vollcello_reading.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-Sep-16_cellmethod_tokens.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-Sep-16_var_name_tokens.txt
  docs/iris/src/whatsnew/contributions_2.3.0/bugfix_2019-Sep-20_vp_coordsystem_definition.txt
  docs/iris/src/whatsnew/contributions_2.3.0/docchange_2019-Sep-13_nemo_gallery_example.txt
  docs/iris/src/whatsnew/contributions_2.3.0/newfeature_2018-Jul-25_dask_chunking.txt
  docs/iris/src/whatsnew/contributions_2.3.0/newfeature_2019-Jul-11_lazy-aggregated_by.txt
  docs/iris/src/whatsnew/contributions_2.3.0/newfeature_2019-Mar-08_remove_cell_measure_by_name.txt
  docs/iris/src/whatsnew/contributions_2.3.0/newfeature_2019-Oct-02_cube_equality_tolerance.txt
  docs/iris/src/whatsnew/contributions_2.3.0/newfeature_2019-Oct-02_cubelist_repr_html.txt
  docs/iris/src/whatsnew/contributions_2.3.0/newfeature_2019-Sep-02_standard_name_modifiers.txt
  docs/iris/src/whatsnew/contributions_2.3.0/newfeature_2019-Sep-04_move_experimental_point-in-cell_regridder_to_analysis.txt
  docs/iris/src/whatsnew/contributions_2.3.0/newfeature_2019-Sep-11_climatological_bounds.txt
  docs/iris/src/whatsnew/contributions_2.3.0/newfeature_2019-Sep-20_geostationary_coordsystem.txt
  docs/iris/src/whatsnew/contributions_2.3.0/newfeature_2019-Sep-27_cell_measure_integer_data.txt
  lib/iris/coords.py
Labels: Type: Infrastructure

#3378 Sanitize text before making repr_html
  lib/iris/experimental/representation.py
  lib/iris/tests/integration/experimental/test_CubeRepresentation.py
  lib/iris/tests/unit/experimental/representation/__init__.py
  lib/iris/tests/unit/experimental/representation/test_CubeListRepresentation.py
  lib/iris/tests/unit/experimental/representation/test_CubeRepresentation.py
Labels: SemVer: Minor, T-Shirt: Small, Type: Bug

#3468 unpin mpl
  .travis.yml
  docs/iris/example_code/Meteorology/COP_maps.py
  docs/iris/src/conf.py
  docs/iris/src/userguide/cube_maths.rst
  docs/iris/src/userguide/index.rst
  lib/iris/tests/results/imagerepo.json
  lib/iris/tests/runner/_runner.py
  requirements/core.txt
Labels: SemVer: Major, Type: Enhancement, Type: Infrastructure

#3301 Analysis percentile method - update applicability test for fast_percentile_method
  lib/iris/analysis/__init__.py
  lib/iris/tests/test_analysis.py
Labels: SemVer: Major, Type: Performance

#3464 Fix for review changes missed
  docs/iris/src/whatsnew/contributions_3.0.0/deprecate_2019-Oct-14_remove_deprecated_future_flags.txt
  lib/iris/tests/unit/test_Future.py
Labels: SemVer: Major

#3469 Have Travis test with iris-grib, remove problem tests
  .travis.yml
  lib/iris/tests/__init__.py
  lib/iris/tests/integration/test_grib2.py
  lib/iris/tests/integration/test_grib_load.py
  lib/iris/tests/test_grib_load_translations.py
  lib/iris/tests/test_grib_save.py
Labels: SemVer: Major, Type: Infrastructure

#3479 Fix test timings for Python 3.
  lib/iris/tests/__init__.py
Labels: SemVer: Major, Status: Decision needed, Type: Technical Debt

#3422 Include AncillaryVariables and restructure Cube metadata.
  docs/iris/src/whatsnew/contributions_3.0.0/newfeature_2019-Oct-14_cf_ancillary_data.txt
  lib/iris/_concatenate.py
  lib/iris/_merge.py
  lib/iris/coords.py
  lib/iris/cube.py
  lib/iris/exceptions.py
  lib/iris/tests/test_coord_api.py
  lib/iris/tests/unit/coords/test_AncillaryVariable.py
  lib/iris/tests/unit/coords/test_CellMeasure.py
  lib/iris/tests/unit/coords/test_Coord.py
  lib/iris/tests/unit/cube/test_Cube.py
Labels: Feature: CF1.6/1.7, SemVer: Major, T-Shirt: Medium, Type: Enhancement

#2608 TEST: Extends #2569 to unpickle
  lib/iris/tests/integration/test_pickle.py
Labels: Feature: iris-grib, SemVer: Major, Status: Blocked, Type: Bug

#3492 Fix AncillaryVariable doc-string
  lib/iris/coords.py
Labels: SemVer: Major, Type: Documentation

#3494 Fix cube summary capitalisation
  lib/iris/cube.py
  lib/iris/tests/integration/test_netcdf.py
  lib/iris/tests/unit/cube/test_Cube.py
Labels: Type: Documentation
