Repository SciTools/iris, pull requests merged in 2019-07, with the labels that each got.

#3350 update travis
  .travis.yml
  lib/iris/tests/test_basic_maths.py
  requirements/core.txt
Labels: Type: Infrastructure

#3335 Single Merge for load_cube
  lib/iris/__init__.py
Labels: SemVer: Minor, Type: Enhancement

#1988 IEP 1
  docs/iris/src/IEP/IEP001.adoc
Labels: Status: Decision needed

#3293 added note about laziness of operations to statistical functions
  lib/iris/analysis/stats.py
Labels: SemVer: Minor, Type: Documentation

#3354 Save docs patch
  lib/iris/fileformats/pp.py
Labels: SemVer: Minor, Type: Documentation

#3355 Unpin dask
  lib/iris/tests/unit/fileformats/pp/test__create_field_data.py
  lib/iris/tests/unit/lazy_data/test_as_concrete_data.py
  lib/iris/tests/unit/lazy_data/test_co_realise_cubes.py
  requirements/core.txt
Labels: SemVer: Minor, Type: Infrastructure
