Repository SciTools/iris, pull requests merged in 2020-11, with the labels that each got.

#3927 pin cftime<1.3.0
  requirements/ci/py36.yml
  requirements/ci/py37.yml
  requirements/core.txt
Labels: New: Pull Request, Type: Infrastructure

#3925 Updated CF saver version in User Guide and docstring
  docs/iris/src/userguide/saving_iris_cubes.rst
  docs/iris/src/whatsnew/3.0.rst
  lib/iris/fileformats/cf.py
  lib/iris/fileformats/netcdf.py
  requirements/ci/py36.yml
  requirements/ci/py37.yml
Labels: Type: Documentation

#3928 Migrate to cirrus-ci
  .cirrus.yml
  .gitignore
  .stickler.yml
  .travis.yml
  README.md
  docs/iris/src/common_links.inc
  docs/iris/src/conf.py
  docs/iris/src/whatsnew/3.0.rst
  lib/iris/tests/results/analysis/sqrt.cml
  lib/iris/tests/test_basic_maths.py
  lib/iris/tests/test_coding_standards.py
  lib/iris/tests/test_netcdf.py
  noxfile.py
  requirements/ci/py36.yml
  requirements/ci/py37.yml
  requirements/core.txt
  setup.cfg
Labels: New: Pull Request, Type: Infrastructure

#3929 ignore url for doc link check
  docs/iris/src/conf.py
  docs/iris/src/userguide/plotting_a_cube.rst
Labels: New: Pull Request, Type: Documentation, Type: Infrastructure

#3924 whatsnew for coord default units
  docs/iris/src/whatsnew/3.0.rst
Labels: Experience: Low, New: Pull Request, Type: Documentation

#3930 Merge back v3.0.x
  .cirrus.yml
  .gitignore
  .stickler.yml
  .travis.yml
  README.md
  docs/iris/src/common_links.inc
  docs/iris/src/conf.py
  docs/iris/src/developers_guide/release.rst
  docs/iris/src/further_topics/lenient_metadata.rst
  docs/iris/src/userguide/plotting_a_cube.rst
  docs/iris/src/userguide/saving_iris_cubes.rst
  docs/iris/src/whatsnew/3.0.rst
  lib/iris/fileformats/cf.py
  lib/iris/fileformats/netcdf.py
  lib/iris/quickplot.py
  lib/iris/tests/idiff.py
  lib/iris/tests/results/analysis/sqrt.cml
  lib/iris/tests/results/imagerepo.json
  lib/iris/tests/test_basic_maths.py
  lib/iris/tests/test_coding_standards.py
  lib/iris/tests/test_netcdf.py
  lib/iris/tests/test_quickplot.py
  noxfile.py
  requirements/ci/py36.yml
  requirements/ci/py37.yml
  requirements/setup.txt
  setup.cfg
Labels: New: Issue

#3922 Cube._summary_coord_extra: efficiency and bugfix
  docs/iris/src/whatsnew/3.0.rst
  lib/iris/cube.py
  lib/iris/tests/unit/cube/test_Cube.py
Labels: New: Pull Request, Type: Bug
