Repository SciTools/iris, pull requests merged in 2020-06, with the labels that each got.

#3639 PI-2370: Improved text for whatsnew on cached area-weights
  docs/iris/src/whatsnew/contributions_3.0.0/newfeature_2019-Dec-20_cache_area_weights.txt
Labels: Type: Documentation

#3679 PI-3677: Remove regex from standard names check
  lib/iris/_cube_coord_common.py
  lib/iris/tests/unit/cube_coord_common/test_get_valid_standard_name.py
Labels: SemVer: Major, Type: Bug

#3641 PI-3637: Allow derived coordinates to be removed
  lib/iris/cube.py
  lib/iris/tests/results/derived/removed_derived_coord.cml
  lib/iris/tests/test_hybrid.py
Labels: Status: Work in progress
