Repository SciTools/iris, pull requests merged in 2020-07, with the labels that each got.

#3750 pin cftime
  requirements/core.txt
Labels: Experience: Low, SemVer: Patch, Type: Bug, Type: Infrastructure, Type: Technical Debt

#3753 fix travis-ci push-built-docs
  .travis.yml
Labels: Type: Documentation, Type: Infrastructure

#3754 added readthedocs badge
  README.md
Labels: Type: Infrastructure

#3758 Numpy rounding fix
  lib/iris/fileformats/pp_load_rules.py
  requirements/core.txt
Labels: Type: Enhancement, Type: Technical Debt

#3755 flake8 outstanding files
  .flake8
  docs/iris/gallery_tests/gallerytest_util.py
  lib/iris/_concatenate.py
  lib/iris/analysis/_area_weighted.py
  lib/iris/analysis/_regrid.py
  lib/iris/fileformats/name_loaders.py
  lib/iris/fileformats/nimrod_load_rules.py
  lib/iris/tests/unit/coords/test_CellMethod.py
  lib/iris/tests/unit/fileformats/pyke_rules/compiled_krb/fc_rules_cf_fc/test_build_auxiliary_coordinate.py
  lib/iris/tests/unit/fileformats/pyke_rules/compiled_krb/fc_rules_cf_fc/test_build_mercator_coordinate_system.py
  lib/iris/tests/unit/fileformats/pyke_rules/compiled_krb/fc_rules_cf_fc/test_build_stereographic_coordinate_system.py
  lib/iris/tests/unit/fileformats/pyke_rules/compiled_krb/fc_rules_cf_fc/test_has_supported_mercator_parameters.py
  lib/iris/tests/unit/fileformats/pyke_rules/compiled_krb/fc_rules_cf_fc/test_has_supported_stereographic_parameters.py
Labels: Type: Infrastructure

#3757 Unpin cftime
  requirements/core.txt
Labels: Type: Bug, Type: Technical Debt

#3761 moved to oceanography section of gallery
  docs/iris/gallery_code/oceanography/plot_orca_projection.py
  docs/iris/src/whatsnew/1.7.rst
  docs/iris/src/whatsnew/contributions_3.0.0/docchange_2020-Jul-23_moved_gallery_entry.txt
Labels: Type: Documentation

#3763 pin matplotlib<3.3 for readthedocs conda
  ci/requirements/readthedocs.yml
Labels: Type: Documentation
