Repository SciTools/iris, pull requests merged in 2020-12, with the labels that each got.

#3931 Add string arguments for Cube methods
  docs/iris/src/whatsnew/latest.rst
  lib/iris/cube.py
  lib/iris/tests/unit/cube/test_Cube.py
Labels: New: Pull Request, Type: Bug

#3933 Gallery: update seasonal ensemble example
  docs/iris/gallery_code/meteorology/plot_lagged_ensemble.py
  docs/iris/src/whatsnew/latest.rst
Labels: Type: Documentation

#3913 remove stock_mdi_arrays.npz
  docs/iris/src/whatsnew/latest.rst
  lib/iris/tests/stock_mdi_arrays.npz
Labels: Peloton 🚴‍♂️

#3906 Put cube data on the x axis if plotting just a cube against a vertical or y coordinate
  docs/iris/gallery_code/oceanography/plot_atlantic_profiles.py
  docs/iris/src/userguide/regridding_plots/interpolate_column.py
  docs/iris/src/whatsnew/latest.rst
  lib/iris/plot.py
  lib/iris/quickplot.py
  lib/iris/tests/results/imagerepo.json
  lib/iris/tests/unit/quickplot/test_plot.py
Labels: Peloton 🚴‍♂️

#3939 CI requirements drop pip packages
  noxfile.py
  requirements/ci/py36.yml
  requirements/ci/py37.yml
Labels: New: Pull Request, Type: Infrastructure

#3942 update links
  docs/iris/src/userguide/citation.rst
  docs/iris/src/userguide/cube_maths.rst
Labels: Type: Documentation
