Repository SciTools/iris, pull requests merged in 2020-10, with the labels that each got.

#3896 bump whatsnew latest and version to 3.1.dev0
  docs/iris/src/whatsnew/3.0.rst
  docs/iris/src/whatsnew/index.rst
  docs/iris/src/whatsnew/latest.rst
  lib/iris/__init__.py
Labels: New: Pull Request, Type: Documentation, Type: Infrastructure

#3897 add #3791 whatsnew entry
  docs/iris/src/whatsnew/3.0.rst
Labels: New: Pull Request, Type: Documentation

#3898 Add release highlights and pin rc version
  docs/iris/src/whatsnew/3.0.rst
  docs/iris/src/whatsnew/index.rst
  docs/iris/src/whatsnew/latest.rst
  lib/iris/__init__.py
Labels: New: Pull Request, Type: Documentation

#3899 reorder release highlights
  docs/iris/src/whatsnew/3.0.rst
Labels: New: Pull Request, Type: Documentation

#3903 Fix spelling
  docs/iris/src/further_topics/lenient_metadata.rst
  docs/iris/src/whatsnew/3.0.rst
Labels: Type: Documentation

#3902 Fix unit label handling
  docs/iris/src/whatsnew/3.0.rst
  lib/iris/quickplot.py
  lib/iris/tests/idiff.py
  lib/iris/tests/results/imagerepo.json
  lib/iris/tests/test_quickplot.py
Labels: New: Pull Request, Type: Bug

#3895 Release Docs Improvements
  docs/iris/src/developers_guide/release.rst
Labels: Type: Documentation

#3909 Relax setup.py setup requirements
  requirements/setup.txt
Labels: New: Pull Request, Type: Bug

#3914 Cube print respin
  lib/iris/cube.py
  lib/iris/experimental/representation.py
  lib/iris/tests/unit/cube/test_Cube.py
Labels: New: Pull Request
