Repository SciTools/iris, pull requests merged in 2020-09, with the labels that each got.

#3813 Legacy doc notice
  docs/iris/src/index.rst
Labels: Type: Documentation

#3814 tidy issue templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/issue.md
Labels: Type: Infrastructure

#3815 Parse with packaging version
  lib/iris/quickplot.py
Labels: Type: Enhancement

#3816 move whatsnew contributions
  docs/iris/src/userguide/cube_maths.rst
  docs/iris/src/whatsnew/contributions_3.0.0/bugfix_2019-Nov-21_cell_measure_attributes.txt
  docs/iris/src/whatsnew/contributions_3.0.0/docchange_2020-Aug-25_clarify_unit_handling.txt
  docs/iris/src/whatsnew/contributions_3.0.0/incompatiblechange_2020-May-15_change_default_unit_loading.txt
  docs/iris/src/whatsnew/contributions_3.0.0/newfeature_2019-Nov-21_netcdf_ancillary_data.txt
  docs/iris/src/whatsnew/latest.rst
Labels: Type: Documentation

#3819 Automate pull request labels
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: Type: Enhancement

#3812 Requirements re-haul
  .readthedocs.yml
  .travis.yml
  ci/requirements/readthedocs.yml
  pyproject.toml
  requirements/all.txt
  requirements/ci/iris.yml
  requirements/ci/py36.yml
  requirements/ci/py37.yml
  requirements/ci/readthedocs.yml
  requirements/core.txt
  requirements/docs.txt
  requirements/extensions.txt
  requirements/gen_conda_requirements.py
  requirements/setup.txt
  requirements/test.txt
  setup.py
Labels: Type: Infrastructure

#3823 Add template collapsible markdown sections
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Labels: New: Pull Request, Type: Enhancement, Type: Infrastructure

#3817 Updated Iris install instructions
  INSTALL
  MANIFEST.in
  README.md
  docs/iris/src/installing.rst
Labels: Type: Documentation

#3830 Added link to scitools.org.uk on the main index.
  docs/iris/src/index.rst
Labels: Type: Documentation

#3831 whatsnew entry for dependencies
  docs/iris/src/userguide/regridding_plots/regridding_plot.py
  docs/iris/src/whatsnew/latest.rst
  lib/iris/common/metadata.py
Labels: New: Pull Request, Type: Documentation

#3832 Fix sphinx logger
  lib/iris/analysis/maths.py
  lib/iris/common/metadata.py
  lib/iris/common/resolve.py
  lib/iris/config.py
  lib/iris/etc/logging.yaml
Labels: Type: Documentation, Type: Infrastructure, Type: Technical Debt

#3833 Iris readme minimal
  README.md
  docs/iris/src/index.rst
  docs/iris/src/userguide/citation.rst
Labels: Type: Documentation, Type: Infrastructure

#3701 Lazy regridding with Linear, Nearest, and AreaWeighted
  docs/iris/src/userguide/interpolation_and_regridding.rst
  docs/iris/src/userguide/real_and_lazy_data.rst
  docs/iris/src/whatsnew/contributions_3.0.0/newfeature_2020-Sep-03_lazy_regridding.txt
  lib/iris/_lazy_data.py
  lib/iris/analysis/__init__.py
  lib/iris/analysis/_area_weighted.py
  lib/iris/analysis/_regrid.py
  lib/iris/cube.py
  lib/iris/experimental/regrid.py
  lib/iris/tests/experimental/regrid/test_regrid_area_weighted_rectilinear_src_and_grid.py
  lib/iris/tests/unit/analysis/regrid/test_RectilinearRegridder.py
  lib/iris/tests/unit/lazy_data/test_map_complete_blocks.py
Labels: Feature: ESMValTool, Type: Enhancement

#3842 [FB] [PI-3478] Add resolve doc-strings
  lib/iris/common/__init__.py
  lib/iris/common/lenient.py
  lib/iris/common/metadata.py
  lib/iris/common/mixin.py
  lib/iris/common/resolve.py
Labels: Feature: Arithmetic, New: Pull Request, Type: Documentation

#3838 "What's New" credit and referencing
  .github/pull_request_template.md
  docs/iris/src/developers_guide/documenting/docstrings.rst
  docs/iris/src/developers_guide/documenting/whats_new_contributions.rst
  docs/iris/src/developers_guide/pulls.rst
  docs/iris/src/whatsnew/latest.rst
  docs/iris/src/whatsnew/latest.rst.template
Labels: Type: Documentation, Type: Enhancement

#3849 whatsnew - using the author github id
  docs/iris/src/developers_guide/documenting/whats_new_contributions.rst
  docs/iris/src/whatsnew/latest.rst
Labels: New: Pull Request, Type: Documentation, Type: Enhancement

#3851 whatsnew - branded section icons
  .github/ISSUE_TEMPLATE/feature-request.md
  docs/iris/src/developers_guide/documenting/whats_new_contributions.rst
  docs/iris/src/whatsnew/latest.rst
  docs/iris/src/whatsnew/latest.rst.template
Labels: Type: Documentation

#3850 whatsnew - announcements
  docs/iris/src/whatsnew/latest.rst
  docs/iris/src/whatsnew/latest.rst.template
Labels: Type: Documentation

#3846 Image tests: set agg backend after rcdefaults
  lib/iris/tests/__init__.py
Labels: Type: Testing

#3855 "What's New" entry for #3846.
  docs/iris/src/whatsnew/latest.rst
Labels: Type: Documentation

#3853 whatsnew - links and versions
  docs/iris/src/whatsnew/latest.rst
Labels: Type: Documentation

#3859 whatsnew - remove contents directive
  docs/iris/src/whatsnew/latest.rst
  docs/iris/src/whatsnew/latest.rst.template
Labels: New: Pull Request, Type: Documentation

#3861 whatsnew - update announcement
  docs/iris/src/whatsnew/latest.rst
Labels: New: Pull Request, Type: Documentation

#3863 update pre-commit flake8 version
  .pre-commit-config.yaml
Labels: New: Pull Request, Type: Infrastructure

#3862 Add additional pre-commit hooks
  .pre-commit-config.yaml
Labels: New: Pull Request, Type: Infrastructure

#3866 update black version
  .flake8
  .pre-commit-config.yaml
  docs/iris/gallery_code/general/plot_custom_file_loading.py
  docs/iris/src/whatsnew/latest.rst
  lib/iris/_concatenate.py
  lib/iris/analysis/_area_weighted.py
  lib/iris/analysis/_regrid.py
  lib/iris/analysis/calculus.py
  lib/iris/common/mixin.py
  lib/iris/common/resolve.py
  lib/iris/cube.py
  lib/iris/fileformats/_ff.py
  lib/iris/fileformats/cf.py
  lib/iris/fileformats/name_loaders.py
  lib/iris/fileformats/netcdf.py
  lib/iris/fileformats/nimrod_load_rules.py
  lib/iris/fileformats/pp.py
  lib/iris/plot.py
  lib/iris/tests/test_cdm.py
  lib/iris/tests/test_merge.py
  lib/iris/tests/test_netcdf.py
  lib/iris/tests/test_nimrod.py
  lib/iris/tests/test_pp_cf.py
  lib/iris/tests/unit/analysis/area_weighted/test_AreaWeightedRegridder.py
  lib/iris/tests/unit/common/lenient/test__Lenient.py
  lib/iris/tests/unit/common/metadata/test_AncillaryVariableMetadata.py
  lib/iris/tests/unit/common/metadata/test_BaseMetadata.py
  lib/iris/tests/unit/common/metadata/test_CellMeasureMetadata.py
  lib/iris/tests/unit/common/metadata/test_CoordMetadata.py
  lib/iris/tests/unit/common/metadata/test_CubeMetadata.py
  lib/iris/tests/unit/common/mixin/test_LimitedAttributeDict.py
  lib/iris/tests/unit/coords/test_AncillaryVariable.py
  lib/iris/tests/unit/cube/test_Cube.py
  lib/iris/tests/unit/fileformats/nimrod_load_rules/test_units.py
  lib/iris/tests/unit/fileformats/pp/test_PPField.py
  lib/iris/tests/unit/fileformats/pp/test_save.py
  lib/iris/tests/unit/fileformats/um/fast_load_structured_fields/test_BasicFieldCollation.py
  lib/iris/tests/unit/fileformats/um/optimal_array_structuring/test_optimal_array_structure.py
  lib/iris/tests/unit/util/test__slice_data_with_keys.py
  requirements/ci/py36.yml
  requirements/ci/py37.yml
  requirements/test.txt
Labels: New: Pull Request, Type: Infrastructure

#3852 Developer guide overhaul
  .github/CONTRIBUTING.md
  .github/pull_request_template.md
  docs/iris/src/common_links.inc
  docs/iris/src/conf.py
  docs/iris/src/developers_guide/ci_checks.png
  docs/iris/src/developers_guide/code_format.rst
  docs/iris/src/developers_guide/contributing_changes.rst
  docs/iris/src/developers_guide/contributing_ci_tests.rst
  docs/iris/src/developers_guide/contributing_code_formatting.rst
  docs/iris/src/developers_guide/contributing_codebase_index.rst
  docs/iris/src/developers_guide/contributing_deprecations.rst
  docs/iris/src/developers_guide/contributing_documentation.rst
  docs/iris/src/developers_guide/contributing_getting_involved.rst
  docs/iris/src/developers_guide/contributing_graphics_tests.rst
  docs/iris/src/developers_guide/contributing_pull_request_checklist.rst
  docs/iris/src/developers_guide/contributing_running_tests.rst
  docs/iris/src/developers_guide/contributing_testing.rst
  docs/iris/src/developers_guide/contributing_testing_index.rst
  docs/iris/src/developers_guide/documenting/docstrings.rst
  docs/iris/src/developers_guide/documenting/index.rst
  docs/iris/src/developers_guide/documenting/rest_guide.rst
  docs/iris/src/developers_guide/gitwash/branch_dropdown.png
  docs/iris/src/developers_guide/gitwash/configure_git.rst
  docs/iris/src/developers_guide/gitwash/development_workflow.rst
  docs/iris/src/developers_guide/gitwash/forking.rst
  docs/iris/src/developers_guide/gitwash/forking_button.png
  docs/iris/src/developers_guide/gitwash/forking_hell.rst
  docs/iris/src/developers_guide/gitwash/git_development.rst
  docs/iris/src/developers_guide/gitwash/git_install.rst
  docs/iris/src/developers_guide/gitwash/git_intro.rst
  docs/iris/src/developers_guide/gitwash/git_links.inc
  docs/iris/src/developers_guide/gitwash/git_resources.rst
  docs/iris/src/developers_guide/gitwash/index.rst
  docs/iris/src/developers_guide/gitwash/known_projects.inc
  docs/iris/src/developers_guide/gitwash/links.inc
  docs/iris/src/developers_guide/gitwash/maintainer_workflow.rst
  docs/iris/src/developers_guide/gitwash/pull_button.png
  docs/iris/src/developers_guide/gitwash/set_up_fork.rst
  docs/iris/src/developers_guide/gitwash/this_project.inc
  docs/iris/src/developers_guide/gitwash_build.sh
  docs/iris/src/developers_guide/gitwash_dumper.py
  docs/iris/src/developers_guide/gitwash_get.sh
  docs/iris/src/developers_guide/graphics_tests.rst
  docs/iris/src/developers_guide/pulls.rst
  docs/iris/src/index.rst
  docs/iris/src/installing.rst
  docs/iris/src/spelling_allow.txt
  docs/iris/src/techpapers/change_management.rst
  docs/iris/src/whatsnew/2.3.rst
  docs/iris/src/whatsnew/latest.rst
Labels: New: Pull Request, Type: Documentation, Type: Enhancement

#3868 Whats New entry for #3867
  docs/iris/src/whatsnew/latest.rst
Labels: Type: Documentation

#3870 Whatsnew for effects on aux factories of units defaulting to 'unknown'.
  docs/iris/src/whatsnew/latest.rst
Labels: Experience: Low, T-Shirt: Small, Type: Documentation

#3854 Added whats new entry for pr3852
  docs/iris/src/whatsnew/latest.rst
Labels: Type: Documentation

#3872 Remove all local table of contents
  docs/iris/src/developers_guide/contributing_documentation.rst
  docs/iris/src/whatsnew/1.0.rst
  docs/iris/src/whatsnew/1.1.rst
  docs/iris/src/whatsnew/1.10.rst
  docs/iris/src/whatsnew/1.11.rst
  docs/iris/src/whatsnew/1.12.rst
  docs/iris/src/whatsnew/1.13.rst
  docs/iris/src/whatsnew/1.2.rst
  docs/iris/src/whatsnew/1.3.rst
  docs/iris/src/whatsnew/1.4.rst
  docs/iris/src/whatsnew/1.5.rst
  docs/iris/src/whatsnew/1.6.rst
  docs/iris/src/whatsnew/1.7.rst
  docs/iris/src/whatsnew/1.8.rst
  docs/iris/src/whatsnew/1.9.rst
  docs/iris/src/whatsnew/2.0.rst
  docs/iris/src/whatsnew/2.1.rst
  docs/iris/src/whatsnew/2.2.rst
  docs/iris/src/whatsnew/2.3.rst
  docs/iris/src/whatsnew/2.4.rst
Labels: Type: Documentation

#3873 linkcheck ignore for iris pull and issue url
  docs/iris/src/conf.py
Labels: Type: Documentation

#3874 Added whats new for pr3873
  docs/iris/src/whatsnew/latest.rst
Labels: Type: Documentation

#3871 Use napolean extension in docs to handle numpy docstrings too
  docs/iris/src/conf.py
  lib/iris/analysis/maths.py
  lib/iris/io/__init__.py
  requirements/ci/py36.yml
  requirements/ci/py37.yml
  requirements/docs.txt
Labels: Type: Documentation

#3875 Whats new for pr3871
  docs/iris/src/common_links.inc
  docs/iris/src/whatsnew/latest.rst
Labels: Type: Documentation

#3876 Added include for common links file
  docs/iris/src/whatsnew/latest.rst.template
Labels: Type: Documentation

#3877 Docs warning to error
  docs/iris/src/Makefile
  docs/iris/src/developers_guide/contributing_documentation.rst
Labels: Type: Documentation

#3878 Added whats new for pr3877
  docs/iris/src/whatsnew/latest.rst
Labels: Type: Documentation

#3879 Add twitter badge
  README.md
Labels: New: Pull Request, Type: Documentation, Type: Infrastructure

#3881 Fixed typo and line wrap
  docs/iris/src/developers_guide/contributing_ci_tests.rst
Labels: Type: Documentation

#3885 Add wsl to installing iris
  docs/iris/src/installing.rst
Labels: Type: Documentation

#3884 Documentation homepage, use of panels for visibility to users
  docs/iris/src/common_links.inc
  docs/iris/src/conf.py
  docs/iris/src/developers_guide/contributing_getting_involved.rst
  docs/iris/src/index.rst
  requirements/ci/py36.yml
  requirements/ci/py37.yml
  requirements/docs.txt
Labels: Type: Documentation

#3886 added whatsnew for pr3885
  docs/iris/src/installing.rst
  docs/iris/src/whatsnew/latest.rst
Labels: Type: Documentation

#3887 added whats new for pr #3884
  docs/iris/src/index.rst
  docs/iris/src/whatsnew/latest.rst
Labels: Type: Documentation

#3890 Cube arithmetic docs to master
  docs/iris/src/conf.py
  docs/iris/src/developers_guide/contributing_getting_involved.rst
  docs/iris/src/developers_guide/gitwash/index.rst
  docs/iris/src/further_topics/index.rst
  docs/iris/src/further_topics/lenient_maths.rst
  docs/iris/src/further_topics/lenient_metadata.rst
  docs/iris/src/further_topics/metadata.rst
  docs/iris/src/index.rst
  docs/iris/src/techpapers/index.rst
  docs/iris/src/techpapers/missing_data_handling.rst
  docs/iris/src/userguide/cube_maths.rst
  docs/iris/src/userguide/real_and_lazy_data.rst
  docs/iris/src/userguide/saving_iris_cubes.rst
  docs/iris/src/userguide/subsetting_a_cube.rst
  lib/iris/common/__init__.py
  lib/iris/common/lenient.py
  lib/iris/common/metadata.py
  lib/iris/common/mixin.py
  lib/iris/common/resolve.py
  lib/iris/coords.py
Labels: New: Pull Request, Type: Documentation

#3889 linkcheck ignore http://cfconventions.org
  docs/iris/src/conf.py
Labels: Type: Documentation

#3891 whatsnew additions
  docs/iris/src/further_topics/index.rst
  docs/iris/src/whatsnew/latest.rst
Labels: New: Pull Request, Type: Documentation

#3892 Deprecate iris.util.as_compatible_shape
  docs/iris/src/whatsnew/latest.rst
  lib/iris/util.py
Labels: New: Pull Request, Type: Technical Debt

#3894 hide the further topics toc
  docs/iris/src/index.rst
Labels: Type: Documentation
