Repository SciTools/iris, pull requests merged in 2020-08, with the labels that each got.

#3765 enabled pdf creation
  .readthedocs.yml
  docs/iris/Makefile
  docs/iris/src/conf.py
Labels: Type: Documentation

#3766 Gallery code consistency
  docs/iris/gallery_code/general/__init__.py
  docs/iris/gallery_code/general/plot_SOI_filtering.py
  docs/iris/gallery_code/general/plot_anomaly_log_colouring.py
  docs/iris/gallery_code/general/plot_coriolis.py
  docs/iris/gallery_code/general/plot_custom_aggregation.py
  docs/iris/gallery_code/general/plot_custom_file_loading.py
  docs/iris/gallery_code/general/plot_global_map.py
  docs/iris/gallery_code/general/plot_inset.py
  docs/iris/gallery_code/general/plot_lineplot_with_legend.py
  docs/iris/gallery_code/general/plot_projections_and_annotations.py
  docs/iris/gallery_code/general/plot_rotated_pole_mapping.py
  docs/iris/gallery_code/meteorology/__init__.py
  docs/iris/gallery_code/meteorology/plot_COP_1d.py
  docs/iris/gallery_code/meteorology/plot_COP_maps.py
  docs/iris/gallery_code/meteorology/plot_TEC.py
  docs/iris/gallery_code/meteorology/plot_deriving_phenomena.py
  docs/iris/gallery_code/meteorology/plot_hovmoller.py
  docs/iris/gallery_code/meteorology/plot_lagged_ensemble.py
  docs/iris/gallery_code/meteorology/plot_wind_speed.py
  docs/iris/gallery_code/oceanography/__init__.py
  docs/iris/gallery_code/oceanography/plot_atlantic_profiles.py
  docs/iris/gallery_code/oceanography/plot_load_nemo.py
  docs/iris/gallery_code/oceanography/plot_orca_projection.py
Labels: Type: Documentation

#3769 whatsnew overhaul
  .travis.yml
  docs/iris/Makefile
  docs/iris/src/conf.py
  docs/iris/src/developers_guide/contributing_documentation.rst
  docs/iris/src/developers_guide/documenting/whats_new_contributions.rst
  docs/iris/src/developers_guide/release.rst
  docs/iris/src/index.rst
  docs/iris/src/whatsnew/1.0.rst
  docs/iris/src/whatsnew/1.1.rst
  docs/iris/src/whatsnew/1.10.rst
  docs/iris/src/whatsnew/1.11.rst
  docs/iris/src/whatsnew/1.12.rst
  docs/iris/src/whatsnew/1.13.rst
  docs/iris/src/whatsnew/1.2.rst
  docs/iris/src/whatsnew/1.3.rst
  docs/iris/src/whatsnew/1.4.rst
  docs/iris/src/whatsnew/1.5.rst
  docs/iris/src/whatsnew/1.6.rst
  docs/iris/src/whatsnew/1.7.rst
  docs/iris/src/whatsnew/1.8.rst
  docs/iris/src/whatsnew/1.9.rst
  docs/iris/src/whatsnew/2.0.rst
  docs/iris/src/whatsnew/2.1.rst
  docs/iris/src/whatsnew/2.2.rst
  docs/iris/src/whatsnew/2.3.rst
  docs/iris/src/whatsnew/2.4.rst
  docs/iris/src/whatsnew/aggregate_directory.py
  docs/iris/src/whatsnew/contributions_3.0.0/bugfix_2019-Dec-02_cell_measure_concatenate.txt
  docs/iris/src/whatsnew/contributions_3.0.0/bugfix_2019-Nov-14_cell_measure_positional_argument.txt
  docs/iris/src/whatsnew/contributions_3.0.0/bugfix_2019-Nov-19_cell_measure_copy_loss.txt
  docs/iris/src/whatsnew/contributions_3.0.0/bugfix_2020-Feb-13_cube_iter_remove.txt
  docs/iris/src/whatsnew/contributions_3.0.0/bugfix_2020-Jun-15_remove_aux_factories_with_remove_coord.txt
  docs/iris/src/whatsnew/contributions_3.0.0/deprecate_2019-Oct-11_remove_LBProc_flag_attributes.txt
  docs/iris/src/whatsnew/contributions_3.0.0/deprecate_2019-Oct-14_remove_deprecated_future_flags.txt
  docs/iris/src/whatsnew/contributions_3.0.0/docchange_2019-Dec-04_black_code_formatting.txt
  docs/iris/src/whatsnew/contributions_3.0.0/docchange_2020-Jul-10_modernise_documentation_using_themes_and_readthedocs.txt
  docs/iris/src/whatsnew/contributions_3.0.0/docchange_2020-Jul-23_moved_gallery_entry.txt
  docs/iris/src/whatsnew/contributions_3.0.0/incompatiblechange_2019-Nov-12_remove_experimental_concatenate_module.txt
  docs/iris/src/whatsnew/contributions_3.0.0/incompatiblechange_2019-Nov-13_move_experimental_equalise_cubes.txt
  docs/iris/src/whatsnew/contributions_3.0.0/incompatiblechange_2019-Nov-26_remove_coord_comparison.txt
  docs/iris/src/whatsnew/contributions_3.0.0/incompatiblechange_2020-May-22_cubelist_extract_cubes.txt
  docs/iris/src/whatsnew/contributions_3.0.0/newfeature_2019-Dec-20_cache_area_weights.txt
  docs/iris/src/whatsnew/contributions_3.0.0/newfeature_2019-Nov-27_cell_measure_statistics.txt
  docs/iris/src/whatsnew/contributions_3.0.0/newfeature_2019-Oct-14_cf_ancillary_data.txt
  docs/iris/src/whatsnew/contributions_3.0.0/newfeature_2019-Oct-15_nameconstraint.txt
  docs/iris/src/whatsnew/contributions_3.0.0/newfeature_2019-Oct-15_names_property.txt
  docs/iris/src/whatsnew/contributions_3.0.0/newfeature_2019-Oct-15_relaxed_name_loading.txt
  docs/iris/src/whatsnew/contributions_3.0.0/newfeature_2019-Oct-17_unpin_mpl.txt
  docs/iris/src/whatsnew/contributions_3.0.0/newfeature_2020-Jan-06_relax_geostationary.txt
  docs/iris/src/whatsnew/contributions_3.0.0/newfeature_2020-Jan-31_nimrod_format_enhancement.txt
  docs/iris/src/whatsnew/index.rst
  docs/iris/src/whatsnew/latest.rst
  docs/iris/src/whatsnew/latest.rst.template
Labels: Type: Documentation

#3771 whatsnew latest update
  docs/iris/src/whatsnew/latest.rst
Labels: Type: Documentation

#3773 remove duplicate whats new entries from the lastest/unreleased notes
  docs/iris/src/whatsnew/latest.rst
Labels: Type: Documentation

#3781 Correct links in docs
  docs/iris/src/whatsnew/2.3.rst
Labels: Type: Documentation

#3786 tidy/fix latest whatsnew
  docs/iris/src/whatsnew/latest.rst
Labels: Type: Documentation

#3779 Spell checker for the sphinx documentation (not enabled for now)
  .travis.yml
  docs/iris/Makefile
  docs/iris/gallery_code/README.rst
  docs/iris/src/Makefile
  docs/iris/src/conf.py
  docs/iris/src/developers_guide/contributing_documentation.rst
  docs/iris/src/developers_guide/documenting/docstrings.rst
  docs/iris/src/developers_guide/documenting/rest_guide.rst
  docs/iris/src/developers_guide/documenting/whats_new_contributions.rst
  docs/iris/src/developers_guide/gitwash/configure_git.rst
  docs/iris/src/developers_guide/gitwash/development_workflow.rst
  docs/iris/src/developers_guide/graphics_tests.rst
  docs/iris/src/developers_guide/pulls.rst
  docs/iris/src/developers_guide/release.rst
  docs/iris/src/spelling_allow.txt
  docs/iris/src/techpapers/change_management.rst
  docs/iris/src/techpapers/um_files_loading.rst
  docs/iris/src/userguide/code_maintenance.rst
  docs/iris/src/userguide/cube_statistics.rst
  docs/iris/src/userguide/interpolation_and_regridding.rst
  docs/iris/src/userguide/loading_iris_cubes.rst
  docs/iris/src/whatsnew/1.10.rst
  docs/iris/src/whatsnew/1.3.rst
  docs/iris/src/whatsnew/1.4.rst
  docs/iris/src/whatsnew/1.5.rst
  docs/iris/src/whatsnew/1.7.rst
  docs/iris/src/whatsnew/1.9.rst
  docs/iris/src/whatsnew/2.3.rst
  docs/iris/src/whatsnew/2.4.rst
  lib/iris/analysis/__init__.py
  lib/iris/analysis/_grid_angles.py
  lib/iris/aux_factory.py
  lib/iris/coord_systems.py
  lib/iris/coords.py
  lib/iris/cube.py
  lib/iris/fileformats/rules.py
  lib/iris/io/__init__.py
  lib/iris/util.py
Labels: Type: Documentation

#3783 Fixed typo
  .travis.yml
Labels: Type: Documentation

#3784 Removed redundant what's new test.
  lib/iris/tests/test_whatsnew_contributions.py
Labels: Type: Documentation

#3787 set third party default logging level
  lib/iris/etc/logging.yaml
Labels: Type: Infrastructure

#3791 Modify parsing of ff headers to avoid numpy.fromfile.
  lib/iris/fileformats/_ff.py
  lib/iris/tests/unit/fileformats/ff/test_FF2PP.py
Labels: SemVer: Patch, Type: Enhancement

#3681 Populate `DimCoord.__init__` docstring
  lib/iris/coords.py
Labels: Type: Documentation

#3805 [FB] [PI-3478] Fix resolve free flip of src/tgt mapping
  lib/iris/common/resolve.py
Labels: Feature: Arithmetic, Type: Bug

#3806 [FB] [PI-3478] cube arithmetic whatsnew entries
  docs/iris/src/whatsnew/latest.rst
Labels: Feature: Arithmetic, Type: Documentation
