Repository SciTools/iris, pull requests merged in 2021-12, with the labels that each got.

#4428 Changes for Matplotlib v3.5
  docs/src/whatsnew/latest.rst
  lib/iris/tests/results/imagerepo.json
  lib/iris/tests/unit/plot/test_contourf.py
Labels: Type: Testing

#4315 cube.aggregated_by output bounds
  docs/src/whatsnew/latest.rst
  lib/iris/analysis/__init__.py
  lib/iris/tests/unit/cube/test_Cube.py
Labels: Type: Bug

#4456 remove asv package dependency
  requirements/ci/py37.yml
  requirements/ci/py38.yml
  setup.cfg
Labels: Type: Infrastructure, New: Pull Request
