Repository SciTools/iris, pull requests merged in 2021-07, with the labels that each got.

#4216 update readme logo img src and href (#4006)
  README.md
Labels: New: Pull Request, Release: Patch, Type: Infrastructure

#4217 remove change management tech paper
  docs/src/techpapers/change_management.rst
Labels: New: Pull Request, Type: Documentation

#4218 drop cirrus-ci minimal tests
  .cirrus.yml
Labels: New: Pull Request, Type: Infrastructure, Type: Testing

#4219 consolidate cirrus-ci documentation tasks
  .cirrus.yml
  docs/src/whatsnew/latest.rst
  noxfile.py
Labels: New: Pull Request, Type: Documentation, Type: Infrastructure

#4220 In cube.intersection, find split cells using a tolerant equality check
  docs/iris/src/whatsnew/3.0.3.rst
  docs/iris/src/whatsnew/index.rst
  lib/iris/__init__.py
  lib/iris/cube.py
  lib/iris/tests/unit/cube/test_Cube.py
Labels: New: Pull Request, Type: Bug, Type: Enhancement

#4235 pre-commit isort and black --check only for cirrus-ci
  .cirrus.yml
  .pre-commit-config.yaml
  noxfile.py
Labels: New: Pull Request, Type: Enhancement, Type: Infrastructure

#4252 rename cirrus-ci tasks with name override
  .cirrus.yml
Labels: New: Pull Request, Type: Infrastructure

#4222 unpin cftime
  .cirrus.yml
  docs/iris/src/whatsnew/3.0.4.rst
  lib/iris/__init__.py
  lib/iris/fileformats/name_loaders.py
  lib/iris/fileformats/pp.py
  lib/iris/fileformats/pp_save_rules.py
  lib/iris/plot.py
  lib/iris/tests/integration/plot/test_netcdftime.py
  lib/iris/tests/test_pp_module.py
  lib/iris/tests/unit/fileformats/pp/test_save.py
  lib/iris/tests/unit/fileformats/pp_load_rules/test__convert_time_coords.py
  lib/iris/tests/unit/fileformats/pp_load_rules/test__epoch_date_hours.py
  lib/iris/tests/unit/plot/test__fixup_dates.py
  noxfile.py
  requirements/ci/nox.lock/py36-linux-64.lock
  requirements/ci/nox.lock/py37-linux-64.lock
  requirements/ci/nox.lock/py38-linux-64.lock
  requirements/ci/py36.yml
  requirements/ci/py37.yml
  requirements/ci/py38.yml
  requirements/core.txt
  setup.py
Labels: New: Pull Request, Release: Patch, Type: Enhancement, Type: Infrastructure

#4249 Test wrangling vs v3.0.x
  docs/iris/src/whatsnew/3.0.4.rst
  lib/iris/tests/system_test.py
  lib/iris/tests/test_merge.py
  lib/iris/tests/unit/analysis/scipy_interpolate/__init__.py
  lib/iris/tests/unit/time/__init__.py
  lib/iris/tests/unit/time/test_PartialDateTime.py
  lib/iris/time.py
Labels: Release: Patch, Type: Testing

#4083 Allow comparison between Cell and numpy array or list of len = 1.
  docs/src/whatsnew/latest.rst
  lib/iris/coords.py
  lib/iris/tests/unit/coords/test_Cell.py
Labels: Peloton 🚴‍♂️, Type: Bug

#4260 Installation instructions adapted to the requirement cftime>=1.5.
  docs/src/installing.rst
  docs/src/whatsnew/latest.rst
Labels: New: Pull Request, Type: Documentation
