Repository SciTools/iris, pull requests merged in 2021-03, with the labels that each got.

#4042 docs add pypi references
  docs/src/developers_guide/release.rst
Labels: New: Pull Request, Type: Documentation

#4040 metadata string reduction
  docs/src/whatsnew/latest.rst
  lib/iris/common/metadata.py
Labels: Type: Enhancement

#4043 add basemetadata str unit test
  lib/iris/tests/unit/common/metadata/test_BaseMetadata.py
Labels: New: Pull Request, Type: Testing

#4037 add mesh public doc-strings
  lib/iris/common/metadata.py
  lib/iris/coords.py
  lib/iris/cube.py
  lib/iris/experimental/ugrid.py
  lib/iris/tests/unit/util/test_reverse.py
Labels: Feature: UGRID, New: Pull Request, Type: Documentation, Type: Feature Branch

#4035 um_stash_source attribute improved handling
  docs/iris/src/whatsnew/3.0.2.rst
  lib/iris/fileformats/_pyke_rules/fc_rules_cf.krb
  lib/iris/tests/test_netcdf.py
Labels: New: Pull Request, Type: Bug, Type: Feature Branch

#4045 remove unused cirrus-ci variable
  .cirrus.yml
Labels: New: Pull Request, Type: Infrastructure

#4047 cirrus-ci add python version to lint task fingerprint
  .cirrus.yml
Labels: New: Pull Request, Type: Infrastructure

#4049 add Mesh.LOCATIONS enumeration
  lib/iris/experimental/ugrid.py
Labels: Feature: UGRID, New: Pull Request, Type: Feature Branch

#4050 fix html case
  README.md
Labels: New: Pull Request, Type: Infrastructure

#4048 cirrus-ci conda cache packages part of fingerprint
  .cirrus.yml
Labels: New: Pull Request, Type: Infrastructure

#4056 fix sphinxext api generate
  docs/src/sphinxext/generate_package_rst.py
Labels: New: Pull Request, Type: Bug, Type: Documentation

#4055 update pre-commit hooks
  .pre-commit-config.yaml
Labels: New: Pull Request, Type: Infrastructure

#4057 align mesh api with cube
  lib/iris/experimental/ugrid.py
  lib/iris/tests/unit/experimental/ugrid/test_Mesh.py
  lib/iris/tests/unit/experimental/ugrid/test_MeshCoord.py
Labels: Feature: UGRID, New: Pull Request, Type: Enhancement

#4053 Better calculations for MeshCoord lazy/real points and bounds. [AVD-1590]
  lib/iris/experimental/ugrid.py
  lib/iris/tests/unit/experimental/ugrid/test_MeshCoord.py
Labels: Feature: UGRID, New: Pull Request, Type: Enhancement

#4054 Meshcoord printout [AVD-1592]
  lib/iris/experimental/ugrid.py
  lib/iris/tests/unit/experimental/ugrid/test_MeshCoord.py
Labels: Feature: UGRID, New: Pull Request, Type: Enhancement

#4060 cirrus-ci credits for non-master
  .cirrus.yml
Labels: New: Pull Request, Type: Infrastructure

#4061 add pre-commit.ci badge and doc support
  README.md
  docs/src/common_links.inc
  docs/src/developers_guide/contributing_ci_tests.rst
  docs/src/whatsnew/latest.rst
Labels: New: Pull Request, Type: Documentation

#4062 conda requirements add pip
  requirements/ci/py36.yml
  requirements/ci/py37.yml
  requirements/ci/py38.yml
Labels: New: Pull Request, Type: Infrastructure

#4063 Cube.coords mesh_coords key [AVD-1662]
  lib/iris/cube.py
  lib/iris/experimental/ugrid.py
  lib/iris/tests/unit/cube/test_Cube.py
  lib/iris/tests/unit/experimental/ugrid/test_MeshCoord.py
Labels: Feature: UGRID, New: Pull Request, Type: Enhancement

#4064 Support for cube mesh api [AVD-1663]
  lib/iris/cube.py
  lib/iris/tests/stock/mesh.py
  lib/iris/tests/unit/cube/test_Cube.py
  lib/iris/tests/unit/experimental/ugrid/test_MeshCoord.py
Labels: Feature: UGRID, New: Pull Request, Type: Enhancement, Type: Infrastructure

#4070 Add GitHub discussions badge
  README.md
Labels: New: Pull Request, Type: Documentation

#4067 update flake8 pre-commit
  .pre-commit-config.yaml
Labels: New: Pull Request, Type: Infrastructure

#4058 UGRID Loading (AVD-1656, AVD-1657, AVD-1660)
  .cirrus.yml
  lib/iris/experimental/ugrid.py
  lib/iris/fileformats/cf.py
  lib/iris/fileformats/netcdf.py
  lib/iris/tests/integration/experimental/test_ugrid_load.py
  lib/iris/tests/results/experimental/ugrid/2D_1t_face_half_levels.cml
  lib/iris/tests/test_netcdf.py
  lib/iris/tests/unit/experimental/ugrid/test_CFUGridAuxiliaryCoordinateVariable.py
  lib/iris/tests/unit/experimental/ugrid/test_CFUGridConnectivityVariable.py
  lib/iris/tests/unit/experimental/ugrid/test_CFUGridGroup.py
  lib/iris/tests/unit/experimental/ugrid/test_CFUGridMeshVariable.py
  lib/iris/tests/unit/experimental/ugrid/test_CFUGridReader.py
  lib/iris/tests/unit/experimental/ugrid/test_Mesh.py
  lib/iris/tests/unit/experimental/ugrid/test_ParseUgridOnLoad.py
  lib/iris/tests/unit/fileformats/cf/test_CFGroup.py
  lib/iris/tests/unit/fileformats/netcdf/test_load_cubes.py
Labels: Feature: UGRID, Type: Enhancement, Type: Feature Branch

#4074 More UGRID Loading Integration Tests (AVD-1517, AVD-1679, AVD-1680, AVD-1681, AVD-1683)
  .cirrus.yml
  lib/iris/tests/integration/experimental/test_ugrid_load.py
  lib/iris/tests/results/experimental/ugrid/2D_72t_face_half_levels.cml
  lib/iris/tests/results/experimental/ugrid/3D_1t_face_full_levels.cml
  lib/iris/tests/results/experimental/ugrid/3D_1t_face_half_levels.cml
  lib/iris/tests/results/experimental/ugrid/3D_snow_pseudo_levels.cml
  lib/iris/tests/results/experimental/ugrid/3D_soil_pseudo_levels.cml
  lib/iris/tests/results/experimental/ugrid/3D_tile_pseudo_levels.cml
  lib/iris/tests/results/experimental/ugrid/3D_veg_pseudo_levels.cml
  lib/iris/tests/results/experimental/ugrid/surface_mean.cml
Labels: Experience: Low, Feature: UGRID, T-Shirt: Small, Type: Testing

#4076 Migrate synthetic data generation from iris-ugrid
  MANIFEST.in
  lib/iris/tests/stock/__init__.py
  lib/iris/tests/stock/file_headers/README.md
  lib/iris/tests/stock/file_headers/xios_2D_face_half_levels.cdl
  lib/iris/tests/stock/file_headers/xios_3D_face_full_levels.cdl
  lib/iris/tests/stock/file_headers/xios_3D_face_half_levels.cdl
  lib/iris/tests/stock/netcdf.py
  lib/iris/tests/unit/tests/stock/__init__.py
  lib/iris/tests/unit/tests/stock/test_netcdf.py
Labels: Feature: UGRID, T-Shirt: Small, Type: Feature Branch, Type: Testing

#4077 update docs pypi instructions
  docs/src/developers_guide/release.rst
Labels: New: Pull Request, Type: Documentation
