Repository SciTools/iris, pull requests merged in 2021-06, with the labels that each got.

#4157 Stop CI from clobbering commits on lockfile updates
  .github/workflows/refresh-lockfiles.yml
  docs/src/developers_guide/contributing_ci_tests.rst
Labels: New: Pull Request, Type: Bug, Type: Enhancement, Type: Infrastructure

#4162 Bump black version
  noxfile.py
  requirements/ci/py36.yml
  requirements/ci/py37.yml
  requirements/ci/py38.yml
  requirements/test.txt
Labels: New: Pull Request, Type: Infrastructure

#4164 github issues contact link for discussions
  .github/ISSUE_TEMPLATE/config.yml
Labels: New: Pull Request, Type: Documentation, Type: Enhancement, Type: Infrastructure

#4163 drop py36 support
  .cirrus.yml
  .github/workflows/refresh-lockfiles.yml
  docs/src/conf.py
  docs/src/installing.rst
  docs/src/whatsnew/latest.rst
  lib/iris/tests/integration/test_pp.py
  noxfile.py
  pyproject.toml
  requirements/ci/nox.lock/py36-linux-64.lock
  requirements/ci/py36.yml
  setup.py
Labels: New: Pull Request, Type: Infrastructure

#4166 RTD support link update
  docs/src/common_links.inc
  docs/src/conf.py
  docs/src/developers_guide/gitwash/development_workflow.rst
Labels: New: Pull Request, Type: Documentation

#4165 update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: New: Pull Request, Type: Documentation, Type: Infrastructure

#4173 update docs pypi release
  docs/src/developers_guide/release.rst
Labels: New: Pull Request, Type: Documentation

#4168 refactor setup.py to setup.cfg
  MANIFEST.in
  docs/src/whatsnew/latest.rst
  requirements/all.txt
  requirements/core.txt
  requirements/docs.txt
  requirements/setup.txt
  requirements/test.txt
  setup.cfg
  setup.py
Labels: New: Pull Request, Type: Infrastructure

#4180 remove __future__ and six references
  docs/gallery_code/oceanography/plot_load_nemo.py
  lib/iris/tests/unit/constraints/__init__.py
  lib/iris/tests/unit/constraints/test_NameConstraint.py
Labels: New: Pull Request

#4200 move .flake8 to setup.cfg
  .flake8
  .pre-commit-config.yaml
  docs/src/whatsnew/latest.rst
  setup.cfg
Labels: New: Pull Request, Type: Infrastructure

#4202 change master to main references
  .cirrus.yml
  .github/workflows/refresh-lockfiles.yml
  .pre-commit-config.yaml
  README.md
  docs/src/common_links.inc
  docs/src/developers_guide/contributing_ci_tests.rst
  docs/src/developers_guide/contributing_documentation.rst
  docs/src/developers_guide/contributing_getting_involved.rst
  docs/src/developers_guide/contributing_graphics_tests.rst
  docs/src/developers_guide/gitwash/configure_git.rst
  docs/src/developers_guide/gitwash/development_workflow.rst
  docs/src/developers_guide/gitwash/set_up_fork.rst
  docs/src/developers_guide/release.rst
  docs/src/installing.rst
  docs/src/whatsnew/2.3.rst
  docs/src/whatsnew/latest.rst
  noxfile.py
  pyproject.toml
Labels: New: Pull Request, Type: Documentation, Type: Infrastructure

#4204 pre-commit update
  .pre-commit-config.yaml
Labels: New: Pull Request, Type: Infrastructure

#4205 pre-commit blacked docs
  .pre-commit-config.yaml
  docs/src/developers_guide/contributing_testing.rst
  docs/src/userguide/saving_iris_cubes.rst
  docs/src/whatsnew/1.6.rst
  docs/src/whatsnew/latest.rst
  lib/iris/io/__init__.py
Labels: New: Pull Request, Type: Infrastructure

#4181 drop black and flake8 dependencies
  .cirrus.yml
  .pre-commit-config.yaml
  docs/src/whatsnew/latest.rst
  noxfile.py
  pyproject.toml
  requirements/ci/py37.yml
  requirements/ci/py38.yml
  setup.cfg
Labels: New: Pull Request, Type: Infrastructure

#4208 optimise pre-commit
  .pre-commit-config.yaml
  lib/iris/tests/test_std_names.py
  pyproject.toml
Labels: New: Pull Request, Type: Enhancement, Type: Infrastructure

#4209 convert docs print statements
  lib/iris/fileformats/um/_optimal_array_structuring.py
  lib/iris/tests/integration/aux_factory/test_OceanSigmaZFactory.py
  lib/iris/util.py
Labels: New: Pull Request, Type: Documentation
