Repository SciTools/iris, pull requests merged in 2021-02, with the labels that each got.

#3972 reorganise docs common links + add core devs
  docs/iris/src/common_links.inc
Labels: New: Pull Request, Type: Documentation

#3971 document that iris.coords.Coord is an ABC
  docs/iris/src/whatsnew/latest.rst
  docs/iris/src/whatsnew/latest.rst.template
  lib/iris/coords.py
Labels: New: Pull Request, Type: Documentation

#3973 remove explicit URLs for core dev names from latest.rst
  docs/iris/src/whatsnew/latest.rst
  docs/iris/src/whatsnew/latest.rst.template
Labels: New: Pull Request, Type: Documentation

#3977 Fix test_incompatible_dimensions test
  docs/iris/src/common_links.inc
  docs/iris/src/whatsnew/latest.rst
  lib/iris/tests/test_basic_maths.py
Labels: Type: Testing

#3978 core dev whatsnew entry
  docs/src/whatsnew/latest.rst
Labels: New: Pull Request, Type: Documentation

#3981 automate docs discovery of iris and python versions
  docs/src/conf.py
  docs/src/developers_guide/release.rst
  docs/src/whatsnew/latest.rst
  docs/src/whatsnew/latest.rst.template
Labels: New: Pull Request, Type: Documentation

#3968 Connectivity Class (AVD-1595)
  lib/iris/common/metadata.py
  lib/iris/coords.py
  lib/iris/tests/unit/common/metadata/test_ConnectivityMetadata.py
  lib/iris/tests/unit/common/metadata/test_metadata_manager_factory.py
  lib/iris/tests/unit/common/mixin/test_CFVariableMixin.py
  lib/iris/tests/unit/coords/test_Connectivity.py
Labels: Experience: Medium, Feature: UGRID, Type: Enhancement

#3990 add nox session conda list
  .cirrus.yml
  docs/src/developers_guide/contributing_running_tests.rst
  docs/src/whatsnew/latest.rst
  noxfile.py
Labels: New: Pull Request, Type: Infrastructure

#3989 Added text to state the Python version used to build the docs.
  docs/src/_templates/footer.html
  docs/src/conf.py
  docs/src/developers_guide/contributing_documentation.rst
  docs/src/installing.rst
  docs/src/whatsnew/latest.rst
Labels: New: Pull Request, Type: Documentation

#3976 Iris py38
  .cirrus.yml
  docs/src/common_links.inc
  docs/src/developers_guide/contributing_running_tests.rst
  docs/src/further_topics/metadata.rst
  docs/src/installing.rst
  docs/src/whatsnew/latest.rst
  lib/iris/coords.py
  lib/iris/cube.py
  lib/iris/tests/__init__.py
  noxfile.py
  requirements/ci/iris.yml
  requirements/ci/py38.yml
Labels: New: Pull Request, Type: Infrastructure

#3991 normalise version to implicit development release number
  lib/iris/__init__.py
Labels: New: Pull Request, Type: Infrastructure

#3934 Gallery: update COP maps example
  docs/gallery_code/meteorology/plot_COP_maps.py
  docs/src/whatsnew/latest.rst
Labels: Peloton 🚴‍♂️, Type: Documentation

#3941 Gallery: don't support mpl v1.2
  docs/gallery_code/meteorology/plot_deriving_phenomena.py
Labels: Peloton 🚴‍♂️, Type: Documentation

#3988 Cubesummary tidy
  lib/iris/_representation.py
  lib/iris/tests/unit/representation/test_representation.py
Labels: New: Pull Request, Type: Infrastructure

#3996 Update feature branch mesh-data-model
  .cirrus.yml
  docs/src/_templates/footer.html
  docs/src/common_links.inc
  docs/src/conf.py
  docs/src/developers_guide/contributing_documentation.rst
  docs/src/developers_guide/contributing_running_tests.rst
  docs/src/further_topics/metadata.rst
  docs/src/installing.rst
  docs/src/whatsnew/latest.rst
  lib/iris/__init__.py
  lib/iris/_representation.py
  lib/iris/coords.py
  lib/iris/cube.py
  lib/iris/tests/__init__.py
  lib/iris/tests/unit/representation/__init__.py
  lib/iris/tests/unit/representation/test_representation.py
  noxfile.py
  requirements/ci/iris.yml
  requirements/ci/py38.yml
Labels: New: Pull Request

#3995 move connectivity to experimental
  lib/iris/common/metadata.py
  lib/iris/coords.py
  lib/iris/experimental/ugrid.py
  lib/iris/tests/experimental/ugrid/test_ugrid.py
  lib/iris/tests/unit/common/metadata/test_metadata_manager_factory.py
  lib/iris/tests/unit/common/mixin/test_CFVariableMixin.py
  lib/iris/tests/unit/experimental/ugrid/__init__.py
  lib/iris/tests/unit/experimental/ugrid/test_Connectivity.py
  lib/iris/tests/unit/experimental/ugrid/test_ConnectivityMetadata.py
  requirements/all.txt
  requirements/ci/py36.yml
  requirements/ci/py37.yml
  requirements/ci/py38.yml
Labels: New: Pull Request, Type: Infrastructure

#4001 [add ugrid mesh-api stubs
  lib/iris/experimental/ugrid.py
Labels: New: Pull Request, Type: Feature Branch

#4003 update intersphinx mapping and matplotlib urls
  docs/gallery_code/general/plot_anomaly_log_colouring.py
  docs/src/common_links.inc
  docs/src/conf.py
  docs/src/whatsnew/3.0.1.rst
  docs/src/whatsnew/3.0.rst
  docs/src/whatsnew/latest.rst
Labels: New: Pull Request, Type: Documentation

#4004 update readme badges
  README.md
  docs/src/whatsnew/latest.rst
Labels: New: Pull Request, Type: Documentation

#4006 update readme logo img src and href
  README.md
Labels: New: Pull Request, Type: Documentation

#4008 update setuptools description
  setup.py
Labels: New: Pull Request, Type: Documentation

#4007 cirrus-ci compute credits
  .cirrus.yml
  docs/src/whatsnew/latest.rst
Labels: New: Pull Request, Type: Infrastructure

#4010 update release process
  docs/src/developers_guide/release.rst
Labels: New: Pull Request, Type: Documentation

#4009 Update mesh-data-model branch
  README.md
  docs/gallery_code/general/plot_anomaly_log_colouring.py
  docs/gallery_code/meteorology/plot_COP_maps.py
  docs/gallery_code/meteorology/plot_deriving_phenomena.py
  docs/src/common_links.inc
  docs/src/conf.py
  docs/src/whatsnew/3.0.1.rst
  docs/src/whatsnew/3.0.rst
  docs/src/whatsnew/latest.rst
  lib/iris/_representation.py
  lib/iris/tests/unit/representation/test_representation.py
  setup.py
Labels: Feature: UGRID, New: Pull Request, Type: Feature Branch, Type: Infrastructure

#4005 add additional mesh stubs
  lib/iris/experimental/ugrid.py
Labels: Feature: UGRID, New: Pull Request, Type: Feature Branch

#4011 Update ng-vat-mesh-api branch
  README.md
  docs/gallery_code/general/plot_anomaly_log_colouring.py
  docs/gallery_code/meteorology/plot_COP_maps.py
  docs/gallery_code/meteorology/plot_deriving_phenomena.py
  docs/src/common_links.inc
  docs/src/conf.py
  docs/src/whatsnew/3.0.1.rst
  docs/src/whatsnew/3.0.rst
  docs/src/whatsnew/latest.rst
  lib/iris/_representation.py
  lib/iris/tests/unit/representation/test_representation.py
  setup.py
Labels: Feature: UGRID, New: Issue, Type: Feature Branch

#4002 MeshMetadata class.
  lib/iris/common/metadata.py
  lib/iris/experimental/ugrid.py
  lib/iris/tests/unit/experimental/ugrid/test_MeshMetadata.py
Labels: Feature: UGRID

#4012 Expose MeshMetadata services
  lib/iris/experimental/ugrid.py
Labels: Feature: UGRID, New: Pull Request, Type: Feature Branch

#3997 Stop using deprecated aliases of builtin types
  docs/src/whatsnew/latest.rst
  lib/iris/_constraints.py
  lib/iris/analysis/__init__.py
  lib/iris/analysis/_regrid.py
  lib/iris/experimental/regrid.py
  lib/iris/fileformats/_ff.py
  lib/iris/fileformats/pp.py
  lib/iris/fileformats/pp_load_rules.py
  lib/iris/tests/__init__.py
  lib/iris/tests/experimental/regrid/test_regrid_conservative_via_esmpy.py
  lib/iris/tests/test_cell.py
  lib/iris/tests/test_concatenate.py
  lib/iris/tests/test_merge.py
  lib/iris/tests/unit/analysis/cartography/test_rotate_winds.py
  lib/iris/tests/unit/analysis/regrid/test_RectilinearRegridder.py
  lib/iris/tests/unit/aux_factory/test_OceanSFactory.py
  lib/iris/tests/unit/aux_factory/test_OceanSg1Factory.py
  lib/iris/tests/unit/aux_factory/test_OceanSg2Factory.py
  lib/iris/tests/unit/aux_factory/test_OceanSigmaFactory.py
  lib/iris/tests/unit/aux_factory/test_OceanSigmaZFactory.py
  lib/iris/tests/unit/common/metadata/test_BaseMetadata.py
  lib/iris/tests/unit/common/metadata/test__hexdigest.py
  lib/iris/tests/unit/experimental/regrid/test_regrid_weighted_curvilinear_to_rectilinear.py
  lib/iris/tests/unit/fileformats/cf/test_CFReader.py
  lib/iris/tests/unit/fileformats/pp/test_PPField.py
  lib/iris/tests/unit/fileformats/pp/test__data_bytes_to_shaped_array.py
  lib/iris/tests/unit/lazy_data/test_lazy_elementwise.py
Labels: New: Pull Request

#4013 celebrate first time iris contributors
  docs/src/whatsnew/latest.rst
Labels: New: Pull Request, Type: Documentation

#4015 Mesh api coord manager
  lib/iris/experimental/ugrid.py
Labels: Feature: UGRID, New: Pull Request, Type: Enhancement, Type: Feature Branch

#3999 Docs unreleased banner
  docs/src/_static/theme_override.css
  docs/src/_templates/layout.html
  docs/src/common_links.inc
  docs/src/conf.py
  docs/src/whatsnew/latest.rst
Labels: New: Pull Request, Type: Documentation

#4018 drop __unicode__ method usage
  lib/iris/cube.py
Labels: New: Pull Request, Type: Infrastructure

#4019 cirrus-ci conditional tasks
  .cirrus.yml
  docs/src/common_links.inc
  docs/src/developers_guide/contributing_ci_tests.rst
  docs/src/developers_guide/contributing_code_formatting.rst
  docs/src/whatsnew/latest.rst
Labels: New: Pull Request, Type: Documentation, Type: Enhancement, Type: Infrastructure

#4020 make iris.common.metadata._hexdigest public
  docs/src/whatsnew/latest.rst
  lib/iris/_representation.py
  lib/iris/common/metadata.py
  lib/iris/tests/unit/common/metadata/test_hexdigest.py
Labels: New: Pull Request, Type: Enhancement, Type: Infrastructure

#4022 Master to mesh data model
  .cirrus.yml
  docs/src/_static/theme_override.css
  docs/src/_templates/layout.html
  docs/src/common_links.inc
  docs/src/conf.py
  docs/src/developers_guide/contributing_ci_tests.rst
  docs/src/developers_guide/contributing_code_formatting.rst
  docs/src/developers_guide/release.rst
  docs/src/whatsnew/latest.rst
  lib/iris/_constraints.py
  lib/iris/_representation.py
  lib/iris/analysis/__init__.py
  lib/iris/analysis/_regrid.py
  lib/iris/common/metadata.py
  lib/iris/cube.py
  lib/iris/experimental/regrid.py
  lib/iris/fileformats/_ff.py
  lib/iris/fileformats/pp.py
  lib/iris/fileformats/pp_load_rules.py
  lib/iris/tests/__init__.py
  lib/iris/tests/experimental/regrid/test_regrid_conservative_via_esmpy.py
  lib/iris/tests/test_cell.py
  lib/iris/tests/test_concatenate.py
  lib/iris/tests/test_merge.py
  lib/iris/tests/unit/analysis/cartography/test_rotate_winds.py
  lib/iris/tests/unit/analysis/regrid/test_RectilinearRegridder.py
  lib/iris/tests/unit/aux_factory/test_OceanSFactory.py
  lib/iris/tests/unit/aux_factory/test_OceanSg1Factory.py
  lib/iris/tests/unit/aux_factory/test_OceanSg2Factory.py
  lib/iris/tests/unit/aux_factory/test_OceanSigmaFactory.py
  lib/iris/tests/unit/aux_factory/test_OceanSigmaZFactory.py
  lib/iris/tests/unit/common/metadata/test_BaseMetadata.py
  lib/iris/tests/unit/common/metadata/test_hexdigest.py
  lib/iris/tests/unit/experimental/regrid/test_regrid_weighted_curvilinear_to_rectilinear.py
  lib/iris/tests/unit/fileformats/cf/test_CFReader.py
  lib/iris/tests/unit/fileformats/pp/test_PPField.py
  lib/iris/tests/unit/fileformats/pp/test__data_bytes_to_shaped_array.py
  lib/iris/tests/unit/lazy_data/test_lazy_elementwise.py
Labels: Feature: UGRID, New: Pull Request, Type: Feature Branch

#4023 Mesh data model to ng vat mesh api
  .cirrus.yml
  docs/src/_static/theme_override.css
  docs/src/_templates/layout.html
  docs/src/common_links.inc
  docs/src/conf.py
  docs/src/developers_guide/contributing_ci_tests.rst
  docs/src/developers_guide/contributing_code_formatting.rst
  docs/src/developers_guide/release.rst
  docs/src/whatsnew/latest.rst
  lib/iris/_constraints.py
  lib/iris/_representation.py
  lib/iris/analysis/__init__.py
  lib/iris/analysis/_regrid.py
  lib/iris/common/metadata.py
  lib/iris/cube.py
  lib/iris/experimental/regrid.py
  lib/iris/fileformats/_ff.py
  lib/iris/fileformats/pp.py
  lib/iris/fileformats/pp_load_rules.py
  lib/iris/tests/__init__.py
  lib/iris/tests/experimental/regrid/test_regrid_conservative_via_esmpy.py
  lib/iris/tests/test_cell.py
  lib/iris/tests/test_concatenate.py
  lib/iris/tests/test_merge.py
  lib/iris/tests/unit/analysis/cartography/test_rotate_winds.py
  lib/iris/tests/unit/analysis/regrid/test_RectilinearRegridder.py
  lib/iris/tests/unit/aux_factory/test_OceanSFactory.py
  lib/iris/tests/unit/aux_factory/test_OceanSg1Factory.py
  lib/iris/tests/unit/aux_factory/test_OceanSg2Factory.py
  lib/iris/tests/unit/aux_factory/test_OceanSigmaFactory.py
  lib/iris/tests/unit/aux_factory/test_OceanSigmaZFactory.py
  lib/iris/tests/unit/common/metadata/test_BaseMetadata.py
  lib/iris/tests/unit/common/metadata/test_hexdigest.py
  lib/iris/tests/unit/experimental/regrid/test_regrid_weighted_curvilinear_to_rectilinear.py
  lib/iris/tests/unit/fileformats/cf/test_CFReader.py
  lib/iris/tests/unit/fileformats/pp/test_PPField.py
  lib/iris/tests/unit/fileformats/pp/test__data_bytes_to_shaped_array.py
  lib/iris/tests/unit/lazy_data/test_lazy_elementwise.py
Labels: Feature: UGRID, New: Pull Request, Type: Feature Branch

#4024 cirrus-ci uses iris-test-data release version
  .cirrus.yml
Labels: New: Pull Request, Type: Infrastructure

#4017 Connectivity manager
  docs/src/userguide/cube_statistics.rst
  lib/iris/common/metadata.py
  lib/iris/cube.py
  lib/iris/exceptions.py
  lib/iris/experimental/ugrid.py
  lib/iris/tests/unit/common/metadata/test_metadata_filter.py
  lib/iris/tests/unit/experimental/ugrid/test_MeshMetadata.py
Labels: Feature: UGRID, Type: Enhancement, Type: Feature Branch

#4025 minor fixes
  lib/iris/common/metadata.py
  lib/iris/experimental/ugrid.py
  lib/iris/tests/unit/common/metadata/test_metadata_filter.py
Labels: Feature: UGRID, New: Pull Request, Type: Feature Branch

#4026 add mesh pickle support
  lib/iris/experimental/ugrid.py
Labels: Feature: UGRID, New: Pull Request, Type: Feature Branch

#4027 Mesh API Merge-Back
  docs/src/userguide/cube_statistics.rst
  lib/iris/common/metadata.py
  lib/iris/cube.py
  lib/iris/exceptions.py
  lib/iris/experimental/ugrid.py
  lib/iris/tests/unit/common/metadata/test_metadata_filter.py
  lib/iris/tests/unit/experimental/ugrid/test_MeshMetadata.py
Labels: Feature: UGRID, Type: Enhancement, Type: Feature Branch

#4028 add minimalist mesh __eq__ support
  lib/iris/experimental/ugrid.py
Labels: Feature: UGRID, New: Pull Request, Type: Feature Branch

#4030 added iris version to index title
  docs/src/index.rst
Labels: New: Documentation

#4033 add mesh __str__ and __repr__ support
  lib/iris/experimental/ugrid.py
  lib/iris/tests/unit/experimental/ugrid/test_Connectivity.py
Labels: Feature: UGRID, New: Pull Request, Type: Enhancement, Type: Feature Branch

#4034 Mesh tests
  lib/iris/experimental/ugrid.py
  lib/iris/tests/unit/experimental/ugrid/test_Mesh.py
Labels: Feature: UGRID, Type: Feature Branch, Type: Testing

#4038 docs post-release update pypi howto
  docs/src/common_links.inc
  docs/src/developers_guide/release.rst
  docs/src/whatsnew/latest.rst
Labels: New: Pull Request, Type: Documentation
