Repository SciTools/iris, pull requests merged in 2021-09, with the labels that each got.

#4304 cartopy feature download
  .cirrus.yml
  docs/src/common_links.inc
  docs/src/whatsnew/1.3.rst
  lib/iris/fileformats/abf.py
  lib/iris/fileformats/netcdf.py
Labels: Type: Documentation, New: Feature, New: Pull Request

#4305 Fixed text to show as link.
  docs/src/common_links.inc
  docs/src/developers_guide/contributing_pull_request_checklist.rst
Labels: Type: Documentation

#4307 Include Discussions in Getting Involved.
  docs/src/common_links.inc
  docs/src/conf.py
  docs/src/copyright.rst
  docs/src/developers_guide/contributing_getting_involved.rst
  docs/src/whatsnew/latest.rst
Labels: Type: Documentation

#4309 Made clear we only test on Linux.
  docs/src/developers_guide/contributing_ci_tests.rst
  docs/src/installing.rst
Labels: New: Documentation

#4310 bump version
  lib/iris/__init__.py
Labels: New: Pull Request

#4120 Gallery: simplify quiver example
  docs/gallery_code/meteorology/plot_wind_speed.py
  docs/src/whatsnew/latest.rst
Labels: Type: Documentation

#4317 Add 'Good First Issue' label to reasons an issue doesn't go stale
  .github/workflows/stale.yml
  docs/src/whatsnew/latest.rst
Labels: Type: Infrastructure, New: Pull Request

#4320 refactor 3.0 whatsnew
  docs/src/whatsnew/3.0.rst
Labels: New: Pull Request

#4322 add release version to sphinx-panel title
  docs/src/whatsnew/3.1.rst
Labels: Type: Documentation, Release: Minor, New: Pull Request

#4324 fix trove classifier
  docs/src/whatsnew/3.1.rst
  setup.cfg
Labels: Type: Bug, New: Pull Request

#4325 Iris 3v1 mergeback
  docs/src/whatsnew/3.0.1.rst
  docs/src/whatsnew/3.0.2.rst
  docs/src/whatsnew/3.0.3.rst
  docs/src/whatsnew/3.0.4.rst
  docs/src/whatsnew/3.0.rst
  docs/src/whatsnew/3.1.rst
  docs/src/whatsnew/index.rst
Labels: New: Pull Request, Type: Merge Back

#4328 stable cartopy feature download
  .cirrus.yml
  docs/src/whatsnew/3.0.rst
Labels: Type: Infrastructure, New: Pull Request

#4323 update latest.rst.template
  docs/src/whatsnew/latest.rst
  docs/src/whatsnew/latest.rst.template
Labels: Type: Documentation, New: Pull Request

#4321 Update to loading docs to cover absence of 'or' for constraints
  docs/src/userguide/loading_iris_cubes.rst
  docs/src/whatsnew/latest.rst
  lib/iris/_constraints.py
Labels: Type: Documentation, New: Pull Request

#4301 Refactor some netcdf save code
  lib/iris/fileformats/netcdf.py
  lib/iris/tests/unit/fileformats/netcdf/test_Saver.py
Labels: Feature: UGRID, New: Pull Request

#4333 added support for make html-noapi and html-quick for the docs build
  docs/Makefile
  docs/src/Makefile
  docs/src/conf.py
  docs/src/developers_guide/contributing_documentation.rst
  docs/src/whatsnew/latest.rst
Labels: Type: Documentation

#4278 Fix intersection for range=modulus and bounds aligned with negative minimum
  docs/src/whatsnew/latest.rst
  lib/iris/cube.py
  lib/iris/tests/unit/cube/test_Cube.py
Labels: Type: Bug, Peloton 🚴‍♂️

#4330 Suppress warning in animation test
  docs/src/whatsnew/latest.rst
  lib/iris/tests/experimental/test_animate.py
Labels: Type: Testing

#4338 Move intersection whatsnew
  docs/src/whatsnew/latest.rst
Labels: Type: Documentation, Experience: Low

#4318 Ugrid save
  lib/iris/_representation/cube_summary.py
  lib/iris/experimental/ugrid/__init__.py
  lib/iris/fileformats/netcdf.py
  lib/iris/tests/integration/experimental/test_ugrid_save.py
  lib/iris/tests/integration/experimental/ugrid_conventions_examples/README.txt
  lib/iris/tests/integration/experimental/ugrid_conventions_examples/ugrid_ex1_1d_mesh.cdl
  lib/iris/tests/integration/experimental/ugrid_conventions_examples/ugrid_ex2_2d_triangular.cdl
  lib/iris/tests/integration/experimental/ugrid_conventions_examples/ugrid_ex3_2d_flexible.cdl
  lib/iris/tests/integration/experimental/ugrid_conventions_examples/ugrid_ex4_3d_layered.cdl
  lib/iris/tests/results/integration/experimental/ugrid_save/TestBasicSave/ugrid_ex1_1d_mesh.cdl
  lib/iris/tests/results/integration/experimental/ugrid_save/TestBasicSave/ugrid_ex2_2d_triangular.cdl
  lib/iris/tests/results/integration/experimental/ugrid_save/TestBasicSave/ugrid_ex3_2d_flexible.cdl
  lib/iris/tests/results/integration/experimental/ugrid_save/TestBasicSave/ugrid_ex4_3d_layered.cdl
  lib/iris/tests/results/unit/fileformats/netcdf/Saver__ugrid/TestSaveUgrid__cube/basic_mesh.cdl
  lib/iris/tests/stock/netcdf.py
  lib/iris/tests/unit/fileformats/netcdf/test_Saver.py
  lib/iris/tests/unit/fileformats/netcdf/test_Saver__ugrid.py
  lib/iris/tests/unit/representation/cube_printout/test_CubePrintout.py
  lib/iris/tests/unit/representation/cube_summary/test_CubeSummary.py
Labels: Feature: UGRID, New: Pull Request

#4331 Support cartopy 0.20 and proj 8.1.0
  benchmarks/conda_lock_plugin.py
  docs/gallery_code/general/plot_projections_and_annotations.py
  lib/iris/tests/integration/experimental/test_regrid_ProjectedUnstructured.py
  lib/iris/tests/integration/plot/test_vector_plots.py
  lib/iris/tests/results/imagerepo.json
  lib/iris/tests/results/unit/analysis/cartography/project/TestAll/cube.cml
  lib/iris/tests/unit/analysis/cartography/test_project.py
  requirements/ci/py37.yml
  requirements/ci/py38.yml
  setup.cfg
Labels: Type: Infrastructure, New: Pull Request
