Repository SciTools/iris, pull requests merged in 2021-08, with the labels that each got.

#4263 Contourf bugfix in the presence of nans
  docs/src/whatsnew/latest.rst
  lib/iris/plot.py
  lib/iris/tests/unit/plot/test_contourf.py
Labels: Type: Bug

#4268 add stale gha
  .github/workflows/stale.yml
  docs/src/installing.rst
  docs/src/whatsnew/1.8.rst
Labels: New: Pull Request, Type: Infrastructure

#4271 ascending issues/prs order for gha stale
  .github/workflows/stale.yml
Labels: New: Pull Request, Type: Infrastructure

#4274 User guide merge typo.
  docs/src/userguide/merge_and_concat.rst
Labels: Experience: Low, New: Documentation

#4227 lru metadata manager factory
  docs/src/whatsnew/latest.rst
  docs/src/whatsnew/latest.rst.template
  lib/iris/common/metadata.py
  lib/iris/tests/unit/common/metadata/test_metadata_manager_factory.py
Labels: Type: Enhancement, Type: Performance, New: Pull Request

#4277 increase gha stale operations-per-run
  .github/workflows/stale.yml
Labels: Type: Infrastructure, New: Pull Request

#3710 Add barbs plot
  docs/gallery_code/meteorology/plot_wind_barbs.py
  docs/gallery_tests/test_plot_wind_barbs.py
  docs/src/whatsnew/latest.rst
  lib/iris/plot.py
  lib/iris/tests/integration/plot/test_vector_plots.py
  lib/iris/tests/results/imagerepo.json
Labels: Type: Enhancement, Release: Minor

#4176 Simple support for selective netcdf loading.
  docs/src/whatsnew/latest.rst
  lib/iris/fileformats/__init__.py
  lib/iris/fileformats/netcdf.py
  lib/iris/tests/integration/test_netcdf.py
  lib/iris/tests/unit/fileformats/netcdf/test__translate_constraints_to_var_callback.py
Labels: Type: Enhancement, Type: Performance, Release: Minor, Feature: ESMValTool, New: Pull Request

#4052 Added AtmosphereSigmaFactory
  lib/iris/aux_factory.py
  lib/iris/fileformats/netcdf.py
  lib/iris/tests/integration/test_netcdf.py
  lib/iris/tests/results/integration/netcdf/TestAtmosphereSigma/save.cdl
  lib/iris/tests/unit/aux_factory/test_AtmosphereSigmaFactory.py
  lib/iris/tests/unit/fileformats/nc_load_rules/actions/test__hybrid_formulae.py
Labels: Type: Enhancement, New: Pull Request

#4262 Mesh Loading (AVD-1813)
  .cirrus.yml
  lib/iris/experimental/ugrid/__init__.py
  lib/iris/fileformats/cf.py
  lib/iris/fileformats/netcdf.py
  lib/iris/tests/integration/experimental/test_ugrid_load.py
  lib/iris/tests/stock/file_headers/minimal_bad_mesh_cf_role.cdl
  lib/iris/tests/unit/experimental/ugrid/test_CFUGridMeshVariable.py
  lib/iris/tests/unit/experimental/ugrid/test_load_mesh.py
  lib/iris/tests/unit/experimental/ugrid/test_load_meshes.py
Labels: Feature: UGRID
