Repository SciTools/iris, pull requests merged in 2021-10, with the labels that each got.

#4348 missing whatnew entry
  docs/src/whatsnew/latest.rst
Labels: Type: Documentation, New: Pull Request

#4345 Clearer error message when using concatenate_cube on multi-variable cubes list
  docs/src/whatsnew/latest.rst
  lib/iris/cube.py
  lib/iris/tests/unit/cube/test_CubeList.py
Labels: Type: Bug, Feature: merge/concatenate

#4347 Refactor `iris.experimental.ugrid`
  docs/src/whatsnew/latest.rst
  lib/iris/cube.py
  lib/iris/experimental/ugrid/__init__.py
  lib/iris/experimental/ugrid/cf.py
  lib/iris/experimental/ugrid/load.py
  lib/iris/experimental/ugrid/mesh.py
  lib/iris/experimental/ugrid/metadata.py
  lib/iris/experimental/ugrid/save.py
  lib/iris/fileformats/netcdf.py
  lib/iris/tests/integration/experimental/test_ugrid_load.py
  lib/iris/tests/integration/experimental/test_ugrid_save.py
  lib/iris/tests/stock/mesh.py
  lib/iris/tests/unit/common/metadata/test_metadata_manager_factory.py
  lib/iris/tests/unit/common/mixin/test_CFVariableMixin.py
  lib/iris/tests/unit/experimental/ugrid/cf/__init__.py
  lib/iris/tests/unit/experimental/ugrid/cf/test_CFUGridAuxiliaryCoordinateVariable.py
  lib/iris/tests/unit/experimental/ugrid/cf/test_CFUGridConnectivityVariable.py
  lib/iris/tests/unit/experimental/ugrid/cf/test_CFUGridGroup.py
  lib/iris/tests/unit/experimental/ugrid/cf/test_CFUGridMeshVariable.py
  lib/iris/tests/unit/experimental/ugrid/cf/test_CFUGridReader.py
  lib/iris/tests/unit/experimental/ugrid/load/__init__.py
  lib/iris/tests/unit/experimental/ugrid/load/test_ParseUgridOnLoad.py
  lib/iris/tests/unit/experimental/ugrid/load/test_load_mesh.py
  lib/iris/tests/unit/experimental/ugrid/load/test_load_meshes.py
  lib/iris/tests/unit/experimental/ugrid/mesh/__init__.py
  lib/iris/tests/unit/experimental/ugrid/mesh/test_Connectivity.py
  lib/iris/tests/unit/experimental/ugrid/mesh/test_Mesh.py
  lib/iris/tests/unit/experimental/ugrid/mesh/test_MeshCoord.py
  lib/iris/tests/unit/experimental/ugrid/metadata/__init__.py
  lib/iris/tests/unit/experimental/ugrid/metadata/test_ConnectivityMetadata.py
  lib/iris/tests/unit/experimental/ugrid/metadata/test_MeshCoordMetadata.py
  lib/iris/tests/unit/experimental/ugrid/metadata/test_MeshMetadata.py
  lib/iris/tests/unit/fileformats/netcdf/test_Saver__ugrid.py
  lib/iris/tests/unit/fileformats/netcdf/test_load_cubes.py
  lib/iris/tests/unit/tests/stock/test_netcdf.py
Labels: Type: Infrastructure, New: Pull Request

#4351 propagate ugrid logger and address `np.int` deprecations
  lib/iris/config.py
  lib/iris/experimental/ugrid/__init__.py
  lib/iris/experimental/ugrid/cf.py
  lib/iris/experimental/ugrid/load.py
  lib/iris/experimental/ugrid/mesh.py
  lib/iris/tests/unit/experimental/ugrid/cf/test_CFUGridAuxiliaryCoordinateVariable.py
  lib/iris/tests/unit/experimental/ugrid/cf/test_CFUGridConnectivityVariable.py
  lib/iris/tests/unit/experimental/ugrid/cf/test_CFUGridMeshVariable.py
  lib/iris/tests/unit/experimental/ugrid/load/test_load_meshes.py
  lib/iris/tests/unit/experimental/ugrid/mesh/test_Mesh.py
Labels: Feature: UGRID, Type: Infrastructure, New: Pull Request

#4353 pre-commit sort-all
  .pre-commit-config.yaml
  docs/src/whatsnew/latest.rst
  lib/iris/__init__.py
  lib/iris/analysis/__init__.py
  lib/iris/analysis/calculus.py
  lib/iris/analysis/cartography.py
  lib/iris/common/metadata.py
  lib/iris/fileformats/pp.py
  lib/iris/fileformats/um/__init__.py
Labels: Type: Infrastructure, New: Pull Request

#4386 min pin for numpy (nep29)
  docs/src/whatsnew/latest.rst
  requirements/ci/py37.yml
  requirements/ci/py38.yml
  setup.cfg
Labels: Type: Infrastructure, New: Pull Request
