Repository SciTools/iris, pull requests merged in 2021-01, with the labels that each got.

#3951 Remove warning for convert_units on lazy data
  lib/iris/cube.py
Labels: Type: Documentation

#3953 drop stickler references in docs
  docs/iris/src/common_links.inc
  docs/iris/src/developers_guide/contributing_ci_tests.rst
Labels: New: Documentation, New: Pull Request, Type: Documentation

#3954 update docs for travis-ci to cirrus-ci
  docs/iris/src/common_links.inc
  docs/iris/src/developers_guide/contributing_ci_tests.rst
  docs/iris/src/developers_guide/contributing_documentation.rst
  docs/iris/src/developers_guide/contributing_graphics_tests.rst
  docs/iris/src/developers_guide/contributing_pull_request_checklist.rst
  docs/iris/src/developers_guide/documenting/whats_new_contributions.rst
  docs/iris/src/whatsnew/3.0.rst
Labels: New: Documentation, New: Pull Request, Type: Documentation

#3955 docs for nox
  docs/iris/src/developers_guide/contributing_running_tests.rst
Labels: New: Documentation, New: Pull Request, Type: Documentation

#3947 Resolve test coverage
  docs/iris/src/conf.py
  lib/iris/common/resolve.py
  lib/iris/tests/unit/common/resolve/__init__.py
  lib/iris/tests/unit/common/resolve/test_Resolve.py
Labels: Experience: High, New: Pull Request, SemVer: Major, Type: Testing

#3956 pin v3.0.0 version and whatnew date
  docs/iris/src/whatsnew/3.0.rst
  lib/iris/__init__.py
Labels: New: Pull Request

#3957 update github ci checks image
  docs/iris/src/developers_guide/ci_checks.png
Labels: New: Pull Request, Type: Documentation

#3958 Extended the installation description
  docs/iris/src/installing.rst
  docs/iris/src/userguide/citation.rst
  docs/iris/src/userguide/cube_maths.rst
  docs/iris/src/whatsnew/latest.rst
Labels: New: Pull Request, Type: Documentation

#3963 Capitilise installation heading
  docs/iris/src/installing.rst
Labels: Type: Documentation

#3965 Promote unknown units to dimensionless in aux factories
  docs/iris/src/conf.py
  docs/iris/src/whatsnew/3.0.1.rst
  docs/iris/src/whatsnew/index.rst
  lib/iris/__init__.py
  lib/iris/aux_factory.py
  lib/iris/fileformats/netcdf.py
  lib/iris/tests/unit/aux_factory/test_HybridPressureFactory.py
  lib/iris/tests/unit/aux_factory/test_OceanSFactory.py
  lib/iris/tests/unit/aux_factory/test_OceanSg1Factory.py
  lib/iris/tests/unit/aux_factory/test_OceanSg2Factory.py
  lib/iris/tests/unit/aux_factory/test_OceanSigmaFactory.py
  lib/iris/tests/unit/aux_factory/test_OceanSigmaZFactory.py
  lib/iris/tests/unit/fileformats/netcdf/test__load_aux_factory.py
Labels: New: Pull Request, Type: Enhancement

#3966 Merge back v3p0p1
  docs/iris/src/conf.py
  docs/iris/src/whatsnew/3.0.1.rst
  docs/iris/src/whatsnew/index.rst
  lib/iris/aux_factory.py
  lib/iris/fileformats/netcdf.py
  lib/iris/tests/unit/aux_factory/test_HybridPressureFactory.py
  lib/iris/tests/unit/aux_factory/test_OceanSFactory.py
  lib/iris/tests/unit/aux_factory/test_OceanSg1Factory.py
  lib/iris/tests/unit/aux_factory/test_OceanSg2Factory.py
  lib/iris/tests/unit/aux_factory/test_OceanSigmaFactory.py
  lib/iris/tests/unit/aux_factory/test_OceanSigmaZFactory.py
  lib/iris/tests/unit/fileformats/netcdf/test__load_aux_factory.py
Labels: New: Pull Request, Type: Merge Back

#3970 Docs whatsnew enumerated lists
  docs/iris/src/developers_guide/documenting/whats_new_contributions.rst
  docs/iris/src/whatsnew/3.0.1.rst
  docs/iris/src/whatsnew/3.0.rst
  docs/iris/src/whatsnew/latest.rst
  docs/iris/src/whatsnew/latest.rst.template
Labels: New: Pull Request, Type: Documentation

#3969 Docs whatsnew add dropdowns to the template
  docs/iris/src/whatsnew/latest.rst
  docs/iris/src/whatsnew/latest.rst.template
Labels: New: Pull Request, Type: Documentation
