Repository SciTools/iris, pull requests merged in 2021-11, with the labels that each got.

#4417 Subset should always return None if no value matches are found
  docs/src/whatsnew/latest.rst
  lib/iris/cube.py
  lib/iris/tests/unit/cube/test_Cube.py
Labels: Type: Bug, Peloton 🚴‍♂️

#4425 Whatsnew minor fix
  docs/src/whatsnew/latest.rst
Labels: Type: Documentation, Experience: Low

#4432 Minor fixes for regridding tests
  docs/src/whatsnew/latest.rst
  lib/iris/tests/integration/analysis/__init__.py
  lib/iris/tests/integration/analysis/test_area_weighted.py
Labels: Type: Testing

#4390 Suggest type hinting
  docs/src/developers_guide/contributing_code_formatting.rst
  docs/src/whatsnew/latest.rst
Labels: Type: Documentation, Experience: Low, Peloton 🚴‍♂️

#4367 Only try to work out the differences between points for multiple
  lib/iris/tests/unit/util/test__coord_regular.py
  lib/iris/util.py
Labels: Type: Enhancement, New: Pull Request

#4439 Mesh full comparison
  docs/src/whatsnew/latest.rst
  lib/iris/coords.py
  lib/iris/cube.py
  lib/iris/experimental/ugrid/mesh.py
  lib/iris/tests/unit/cube/test_Cube.py
  lib/iris/tests/unit/experimental/ugrid/mesh/test_Connectivity.py
  lib/iris/tests/unit/experimental/ugrid/mesh/test_Mesh.py
  lib/iris/tests/unit/experimental/ugrid/mesh/test_MeshCoord.py
  lib/iris/tests/unit/fileformats/netcdf/test_Saver__ugrid.py
  lib/iris/util.py
Labels: Feature: UGRID

#4437 Mesh recombine
  lib/iris/experimental/ugrid/__init__.py
  lib/iris/experimental/ugrid/utils.py
  lib/iris/tests/unit/experimental/ugrid/utils/__init__.py
  lib/iris/tests/unit/experimental/ugrid/utils/test_recombine_submeshes.py
Labels: Feature: UGRID, New: Feature
