Repository SciTools/iris, pull requests merged in 2021-04, with the labels that each got.

#4084 linux kernel version fix for conda 4.10+
  .cirrus.yml
  lib/iris/fileformats/netcdf.py
Labels: New: Pull Request, Type: Infrastructure

#4089 Update readme docs stable
  README.md
Labels: New: Documentation

#4087 Fix cirrus ci and mpl
  docs/gallery_code/general/plot_anomaly_log_colouring.py
  docs/src/whatsnew/latest.rst
  lib/iris/tests/results/imagerepo.json
Labels: New: Pull Request, Type: Infrastructure

#4092 pre-commit-ci update
  .pre-commit-config.yaml
Labels: New: Pull Request, Type: Infrastructure

#4088 add logo to conda and pypi badges
  README.md
Labels: New: Pull Request, Type: Infrastructure

#4093 Merge master to mesh data model
  .cirrus.yml
  .pre-commit-config.yaml
  README.md
  docs/gallery_code/general/plot_anomaly_log_colouring.py
  docs/src/common_links.inc
  docs/src/developers_guide/contributing_ci_tests.rst
  docs/src/developers_guide/release.rst
  docs/src/index.rst
  docs/src/sphinxext/generate_package_rst.py
  docs/src/whatsnew/latest.rst
  lib/iris/common/metadata.py
  lib/iris/fileformats/netcdf.py
  lib/iris/tests/results/imagerepo.json
  lib/iris/tests/unit/common/metadata/test_BaseMetadata.py
  requirements/ci/py36.yml
  requirements/ci/py37.yml
  requirements/ci/py38.yml
Labels: Feature: UGRID, New: Pull Request

#4080 Support unstructured plotting
  .cirrus.yml
  docs/src/sphinxext/generate_package_rst.py
  lib/iris/experimental/ugrid/__init__.py
  lib/iris/experimental/ugrid/plot.py
  requirements/ci/py36.yml
  requirements/ci/py37.yml
  requirements/ci/py38.yml
Labels: Experience: High, Feature: UGRID, New: Pull Request, Type: Enhancement, Type: Feature Branch

#4095 ng-vat v0.2 is iris v3.1a0
  lib/iris/__init__.py
Labels: Feature: UGRID, New: Pull Request

#4106 Logging fixes
  lib/iris/experimental/ugrid/__init__.py
  lib/iris/fileformats/netcdf.py
  lib/iris/tests/__init__.py
  lib/iris/tests/integration/experimental/test_ugrid_load.py
  lib/iris/tests/unit/experimental/ugrid/test_CFUGridAuxiliaryCoordinateVariable.py
  lib/iris/tests/unit/experimental/ugrid/test_CFUGridConnectivityVariable.py
  lib/iris/tests/unit/experimental/ugrid/test_CFUGridMeshVariable.py
  lib/iris/tests/unit/experimental/ugrid/test_Mesh.py
  lib/iris/tests/unit/fileformats/netcdf/test_load_cubes.py
Labels: Feature: UGRID, Type: Feature Branch
