Repository SciTools/iris, pull requests merged in 2021-05, with the labels that each got.

#4108 CI lockfiles
  .cirrus.yml
  .github/workflows/refresh-lockfiles.yml
  Makefile
  docs/src/developers_guide/contributing_ci_tests.rst
  docs/src/developers_guide/contributing_pull_request_checklist.rst
  docs/src/whatsnew/latest.rst
  noxfile.py
  requirements/ci/nox.lock/py36-linux-64.lock
  requirements/ci/nox.lock/py37-linux-64.lock
  requirements/ci/nox.lock/py38-linux-64.lock
  tools/update_lockfiles.py
Labels: Experience: High, New: Feature, Type: Enhancement, Type: Infrastructure, Type: Testing

#4104 Linkcheck update
  docs/src/developers_guide/gitwash/git_links.inc
  docs/src/developers_guide/release.rst
Labels: Type: Documentation

#4112 Update hashes for gallery wind plot
  lib/iris/tests/results/imagerepo.json
Labels: Type: Testing

#4115 Corrected plot_anomaly_log_colouring for new Matplotlib linscale rules.
  docs/gallery_code/general/plot_anomaly_log_colouring.py
  lib/iris/tests/results/imagerepo.json
Labels: Experience: Medium

#4114 mesh-data-model dev version + purge plotting
  docs/src/sphinxext/generate_package_rst.py
  lib/iris/__init__.py
  lib/iris/experimental/ugrid/plot.py
  requirements/ci/py36.yml
  requirements/ci/py37.yml
  requirements/ci/py38.yml
Labels: Feature: UGRID, New: Pull Request, Type: Feature Branch

#4100 iris.plot docstrings: separate arg types from descriptions
  docs/src/whatsnew/latest.rst
  lib/iris/plot.py
Labels: Type: Documentation

#4130 Dependencies update
  .cirrus.yml
  docs/iris/gallery_code/general/plot_anomaly_log_colouring.py
  docs/iris/src/developers_guide/gitwash/git_links.inc
  docs/iris/src/further_topics/metadata.rst
  docs/iris/src/installing.rst
  lib/iris/coords.py
  lib/iris/cube.py
  lib/iris/plot.py
  lib/iris/tests/__init__.py
  lib/iris/tests/results/analysis/sqrt.cml
  lib/iris/tests/results/imagerepo.json
  lib/iris/tests/test_basic_maths.py
  noxfile.py
  requirements/ci/iris.yml
  requirements/ci/py38.yml
Labels: Blocked: CLA needed

#4059 Intersection bounds fix (replacement PR)
  docs/iris/src/whatsnew/3.0.2.rst
  lib/iris/cube.py
  lib/iris/tests/unit/cube/test_Cube.py
Labels: Type: Bug

#4147 update bug and feature templates
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  docs/src/developers_guide/contributing_code_formatting.rst
  docs/src/whatsnew/latest.rst
Labels: New: Pull Request, Type: Enhancement, Type: Infrastructure

#4152 minor tidy of cirrus and nox
  .cirrus.yml
  noxfile.py
Labels: New: Pull Request, Type: Infrastructure

#4154 bootstrap ci for 3.0.x
  .cirrus.yml
  docs/iris/src/developers_guide/contributing_code_formatting.rst
  lib/iris/coord_categorisation.py
  lib/iris/fileformats/netcdf.py
  noxfile.py
  requirements/ci/nox.lock/py36-linux-64.lock
  requirements/ci/nox.lock/py37-linux-64.lock
  requirements/ci/nox.lock/py38-linux-64.lock
  requirements/ci/py36.yml
  requirements/ci/py37.yml
  requirements/ci/py38.yml
Labels: New: Pull Request

#4150 Contourf Antialias Fix
  docs/src/whatsnew/latest.rst
  lib/iris/plot.py
  lib/iris/tests/unit/plot/test_contourf.py
Labels: Type: Bug

#4135 Tweak to speed up dask wrapping of netcdf variables
  docs/iris/src/whatsnew/3.0.2.rst
  lib/iris/_lazy_data.py
  lib/iris/tests/unit/lazy_data/test_co_realise_cubes.py
Labels: Feature: ESMValTool, Feature: netcdf + CF-conventions, Type: Performance

#4155 Update black et al
  .pre-commit-config.yaml
  lib/iris/fileformats/netcdf.py
  lib/iris/tests/integration/test_netcdf.py
  lib/iris/tests/test_cube_to_pp.py
  lib/iris/tests/test_file_save.py
  lib/iris/tests/unit/fileformats/test_rules.py
  noxfile.py
  pyproject.toml
  requirements/ci/py36.yml
  requirements/ci/py37.yml
  requirements/ci/py38.yml
  requirements/test.txt
Labels: New: Pull Request, Type: Enhancement, Type: Infrastructure

#4159 Fb fix cube coord arithmetic
  docs/iris/src/whatsnew/3.0.2.rst
  lib/iris/coords.py
  lib/iris/cube.py
  lib/iris/fileformats/netcdf.py
  lib/iris/tests/integration/test_netcdf.py
  lib/iris/tests/test_basic_maths.py
  lib/iris/tests/test_cube_to_pp.py
  lib/iris/tests/test_file_save.py
  lib/iris/tests/unit/fileformats/test_rules.py
Labels: New: Pull Request, Type: Bug, Type: Enhancement

#4141 Pp daskfix
  docs/iris/src/whatsnew/3.0.2.rst
  lib/iris/fileformats/pp.py
  lib/iris/tests/unit/fileformats/pp/test_PPDataProxy.py
  lib/iris/util.py
Labels: New: Pull Request, Type: Enhancement

#4094 Add a method to return a CubeList from CubeList.copy()
  docs/src/whatsnew/latest.rst
  lib/iris/cube.py
  lib/iris/tests/unit/cube/test_CubeList.py
Labels: Peloton 🚴‍♂️
