Repository SciTools/iris, pull requests merged in 2022-12, with the labels that each got.

#5088 Update What's New for 3.4 release.
  docs/src/conf.py
  docs/src/whatsnew/3.4.rst
Labels: Type: Documentation, Release: Minor, Type: Feature Branch

#5100 DOC: improve gallery test instructions
  docs/src/developers_guide/contributing_documentation_full.rst
  docs/src/whatsnew/latest.rst
Labels: Type: Documentation

#5101 Remove test timings
  docs/src/whatsnew/latest.rst
  lib/iris/tests/__init__.py
  lib/iris/tests/graphics/README.md
  lib/iris/tests/test_plot.py
  lib/iris/tests/unit/analysis/maths/test__arith__derived_coords.py
  lib/iris/tests/unit/analysis/maths/test__arith__meshcoords.py
  lib/iris/tests/unit/analysis/maths/test_add.py
  lib/iris/tests/unit/analysis/maths/test_divide.py
  lib/iris/tests/unit/analysis/maths/test_multiply.py
  lib/iris/tests/unit/analysis/maths/test_subtract.py
  lib/iris/tests/unit/merge/test_ProtoCube.py
  lib/iris/tests/unit/tests/test_IrisTest.py
Labels: Type: Testing

#5111 Announce @ESadek-MO as a core Iris developer.
  docs/src/whatsnew/latest.rst
Labels: Type: Documentation

#5110 Correct heading for v3.4 release highlights.
  docs/src/whatsnew/3.4.rst
Labels: Type: Documentation

#5112 Cherry-pick #5110 onto `v3.4.x`
  docs/src/whatsnew/3.4.rst
Labels: Type: Documentation, Type: Feature Branch
