Repository SciTools/iris, pull requests merged in 2022-11, with the labels that each got.

#5043 Test for 'coord exists' constraint
  lib/iris/tests/test_constraints.py
Labels: Type: Testing

#5039 Correct dask function in STD_DEV and VAR docstrings
  lib/iris/analysis/__init__.py
Labels: Type: Documentation

#5041 Accept new copy behaviour from dask/dask#9555.
  docs/src/whatsnew/latest.rst
  lib/iris/tests/unit/cube/test_Cube.py
  requirements/ci/nox.lock/py310-linux-64.lock
  requirements/ci/nox.lock/py38-linux-64.lock
  requirements/ci/nox.lock/py39-linux-64.lock
Labels: Experience: High

#4669 Improve iris.pandas cube -> data.frame
  docs/src/whatsnew/latest.rst
  lib/iris/pandas.py
  lib/iris/tests/test_pandas.py
Labels: Type: Enhancement

#5055 Reference the RTD version switcher in the docs latest warning
  docs/src/_templates/layout.html
  docs/src/whatsnew/latest.rst
Labels: Type: Documentation, Experience: Low

#5064 added link to the docs archive.
  docs/src/common_links.inc
  docs/src/index.rst
  docs/src/whatsnew/latest.rst
  docs/src/why_iris.rst
Labels: Type: Documentation

#5059 Make `iris.pandas.as_data_frame()` n-dimensional behaviour opt-in
  docs/src/common_links.inc
  docs/src/index.rst
  docs/src/whatsnew/latest.rst
  docs/src/why_iris.rst
  lib/iris/__init__.py
  lib/iris/pandas.py
  lib/iris/tests/test_pandas.py
Labels: Release: Minor, Status: Decision Required, Experience: Medium, Type: Feature Branch

#5071 Move `test_pandas.py` into unit tests.
  lib/iris/tests/unit/pandas/__init__.py
  lib/iris/tests/unit/pandas/test_pandas.py
Labels: Type: Testing, Type: Feature Branch

#3749 Implemented constraint equality.
  docs/src/whatsnew/latest.rst
  lib/iris/_constraints.py
  lib/iris/tests/unit/constraints/test_Constraint_equality.py
Labels: Type: Enhancement

#5074 `iris.pandas.as_data_frame()` n-dimensional `Cube` conversion
  docs/src/whatsnew/latest.rst
  lib/iris/__init__.py
  lib/iris/pandas.py
  lib/iris/tests/unit/pandas/__init__.py
  lib/iris/tests/unit/pandas/test_pandas.py
Labels: Type: Enhancement, Release: Minor

#5078 Documentation updates for `v3.4.0rc0` release.
  docs/src/whatsnew/3.4.rst
  docs/src/whatsnew/index.rst
  docs/src/whatsnew/latest.rst.template
Labels: Type: Documentation, Release: Minor
