Repository SciTools/iris, pull requests merged in 2022-03, with the labels that each got.

#4562 Final offline benchmark migration
  benchmarks/benchmarks/__init__.py
  benchmarks/benchmarks/aux_factory.py
  benchmarks/benchmarks/coords.py
  benchmarks/benchmarks/cube.py
  benchmarks/benchmarks/experimental/__init__.py
  benchmarks/benchmarks/experimental/ugrid.py
  benchmarks/benchmarks/generate_data/__init__.py
  benchmarks/benchmarks/generate_data/stock.py
  benchmarks/benchmarks/iterate.py
  benchmarks/benchmarks/mixin.py
  benchmarks/benchmarks/netcdf_save.py
  benchmarks/benchmarks/plot.py
  benchmarks/benchmarks/regions_combine.py
  benchmarks/benchmarks/regridding.py
  benchmarks/benchmarks/ugrid_load.py
Labels: Type: Performance, Feature: ASV, Experience: Medium, Type: Testing

#4620 Overnight benchmarks remove ambiguity between file and commit names.
  .github/workflows/benchmark.yml
  noxfile.py
Labels: Type: Bug, Type: Performance, Experience: Low, Type: Testing

#4615 purge deploy key
  .github/deploy_key.scitools-docs.enc
Labels: Type: Infrastructure, New: Pull Request

#4627 Overnight benchmarks - find a valid issue assignee
  .github/workflows/benchmark.yml
Labels: Type: Performance, Type: Testing

#4617 Votable Issues
  docs/src/common_links.inc
  docs/src/conf.py
  docs/src/index.rst
  docs/src/voted_issues.rst
  docs/src/whatsnew/dev.rst
Labels: Type: Documentation

#4610 Avoid dimensionality mismatch between data array and CF variables.
  docs/src/whatsnew/3.2.rst
  lib/iris/fileformats/netcdf.py
  lib/iris/tests/unit/fileformats/netcdf/test_Saver.py
Labels: Type: Bug, Experience: High, Release: Patch

#4621 Sperf & Cperf Benchmarks
  benchmarks/README.md
  benchmarks/asv.conf.json
  benchmarks/benchmarks/__init__.py
  benchmarks/benchmarks/cperf/__init__.py
  benchmarks/benchmarks/cperf/equality.py
  benchmarks/benchmarks/cperf/load.py
  benchmarks/benchmarks/cperf/save.py
  benchmarks/benchmarks/experimental/ugrid/__init__.py
  benchmarks/benchmarks/experimental/ugrid/regions_combine.py
  benchmarks/benchmarks/generate_data/__init__.py
  benchmarks/benchmarks/generate_data/stock.py
  benchmarks/benchmarks/generate_data/ugrid.py
  benchmarks/benchmarks/load/__init__.py
  benchmarks/benchmarks/load/ugrid.py
  benchmarks/benchmarks/save.py
  benchmarks/benchmarks/sperf/__init__.py
  benchmarks/benchmarks/sperf/combine_regions.py
  benchmarks/benchmarks/sperf/equality.py
  benchmarks/benchmarks/sperf/load.py
  benchmarks/benchmarks/sperf/save.py
  docs/src/developers_guide/asv_example_images/commits.png
  docs/src/developers_guide/asv_example_images/comparison.png
  docs/src/developers_guide/asv_example_images/scalability.png
  docs/src/developers_guide/contributing_benchmarks.rst
  docs/src/developers_guide/contributing_testing_index.rst
  docs/src/whatsnew/dev.rst
  noxfile.py
Labels: Type: Performance, Experience: High, Type: Testing

#4636 Improve Small Benchmark Accuracy
  benchmarks/benchmarks/import_iris.py
  benchmarks/benchmarks/save.py
Labels: Type: Performance, Type: Testing

#4641 Updated GHA frequency and table name for Voted Issues
  docs/src/conf.py
  docs/src/voted_issues.rst
Labels: Type: Documentation

#4246 Fix aggregated_by mdtol/masked constant problem
  docs/src/whatsnew/dev.rst
  lib/iris/analysis/__init__.py
  lib/iris/tests/unit/analysis/test_Aggregator.py
Labels: Type: Bug, Peloton 🚴‍♂️

#4659 Improved check for valid user in overnight BM run.
  .github/workflows/benchmark.yml
Labels: Type: Performance, Type: Testing

#4273 Preserve position when replacing Axes with GeoAxes
  docs/src/whatsnew/dev.rst
  lib/iris/plot.py
  lib/iris/tests/unit/plot/test__replace_axes_with_cartopy_axes.py
Labels: Type: Bug, Peloton 🚴‍♂️

#3901 Lazy Percentile Aggregator
  docs/src/whatsnew/dev.rst
  lib/iris/_lazy_data.py
  lib/iris/analysis/__init__.py
  lib/iris/tests/unit/analysis/test_PERCENTILE.py
  lib/iris/tests/unit/analysis/test_PercentileAggregator.py
  lib/iris/tests/unit/analysis/test__axis_to_single_trailing.py
  lib/iris/tests/unit/lazy_data/test_map_complete_blocks.py
Labels: Type: Enhancement, Feature: ESMValTool, New: Pull Request

#4245 Fix nearest_neighbour_index for edge case where requested point is float and bounds are int
  docs/src/whatsnew/dev.rst
  lib/iris/coords.py
  lib/iris/tests/unit/coords/test_Coord.py
Labels: Type: Bug, Peloton 🚴‍♂️
