Repository SciTools/iris, pull requests merged in 2022-09, with the labels that each got.

#4935 Added zonal mean gallery example, continued from @TTV-Intrepid
  .github/workflows/ci-tests.yml
  docs/gallery_code/general/plot_zonal_means.py
  docs/src/whatsnew/latest.rst
  lib/iris/tests/results/imagerepo.json
Labels: Type: Documentation

#4948 Remove deprecated 'python setup.py test' support
  docs/src/whatsnew/latest.rst
  setup.py
Labels: Type: Infrastructure, Type: Testing

#4950 purge unnecessary setup.py copy_copyright function
  setup.py
Labels: Type: Infrastructure

#4952 fix setup.py std_names building
  setup.py
Labels: Type: Infrastructure

#4954 update pypi trove classifiers
  setup.cfg
Labels: Type: Infrastructure

#4966 Use Mamba for refreshing lock-files
  .github/workflows/ci-wheels.yml
  .github/workflows/refresh-lockfiles.yml
  tools/update_lockfiles.py
Labels: Type: Infrastructure

#4992 Port dependency fixes to `v3.3.x`.
  docs/src/whatsnew/3.3.rst
  lib/iris/analysis/cartography.py
  lib/iris/tests/unit/analysis/cartography/test_rotate_winds.py
  requirements/ci/nox.lock/py310-linux-64.lock
  requirements/ci/nox.lock/py38-linux-64.lock
  requirements/ci/nox.lock/py39-linux-64.lock
  requirements/ci/py310.yml
  requirements/ci/py38.yml
  requirements/ci/py39.yml
  setup.cfg
Labels: Type: Feature Branch

#5001 Fix benchmarks `netcdf` import
  .github/workflows/benchmark.yml
  benchmarks/benchmarks/generate_data/__init__.py
Labels: Type: Performance, Type: Testing

#5005 Correct wrong type of equality check in benchmark GHA.
  .github/workflows/benchmark.yml
Labels: Type: Performance, Type: Testing
