Repository SciTools/iris, pull requests merged in 2022-10, with the labels that each got.

#5013 Sample code to convert ORCA data into a meshcube.
  docs/src/further_topics/ugrid/images/orca_grid.png
  docs/src/further_topics/ugrid/other_meshes.rst
  docs/src/whatsnew/latest.rst
Labels: Type: Documentation, Feature: UGRID

#4859 New LBFC-CF mappings
  docs/src/whatsnew/latest.rst
  lib/iris/fileformats/um_cf_map.py
Labels: Type: Enhancement, Release: Minor

#4955 Speed up Cube.subset/Coord.intersect
  docs/src/whatsnew/latest.rst
  lib/iris/coords.py
  lib/iris/tests/test_cell.py
Labels: Type: Performance

#5029 Prioritise dim coord in `_get_lon_lat_coords()`
  docs/src/whatsnew/latest.rst
  lib/iris/analysis/cartography.py
  lib/iris/tests/unit/analysis/cartography/test__get_lon_lat_coords.py
Labels: Type: Enhancement, Release: Minor, Feature: ESMValTool

#4993 Split-attrs: Cube metadata refactortests
  lib/iris/tests/unit/common/metadata/test_CubeMetadata.py
Labels: Type: Feature Branch
