Repository SciTools/iris, pull requests merged in 2022-07, with the labels that each got.

#4844 update github app docs
  docs/src/developers_guide/github_app.rst
Labels: Type: Documentation

#4848 avoid setuptools deprecation
  setup.cfg
Labels: Type: Infrastructure

#4853 whatsnew update
  docs/src/whatsnew/latest.rst
Labels: Type: Documentation

#4855 fix rtd version
  .readthedocs.yml
  docs/src/conf.py
Labels: Type: Documentation

#4866 Recommend `pytest` in developer guide
  docs/src/developers_guide/contributing_running_tests.rst
  docs/src/installing.rst
Labels: Type: Documentation

#4865 Testing: add missing skip decorators
  lib/iris/tests/test_load.py
  lib/iris/tests/test_plot.py
  lib/iris/tests/unit/fileformats/netcdf/test_Saver__ugrid.py
Labels: Type: Testing

#3790 Cube arithmetic array type handling
  docs/src/whatsnew/latest.rst
  lib/iris/analysis/maths.py
  lib/iris/tests/test_basic_maths.py
  lib/iris/tests/unit/analysis/maths/__init__.py
Labels: Type: Bug, Feature: Arithmetic

#4849 automate sdist and wheel build and publish
  .github/workflows/ci-tests.yml
  .github/workflows/ci-wheels.yml
  .readthedocs.yml
  MANIFEST.in
  docs/src/conf.py
  docs/src/developers_guide/release.rst
  docs/src/whatsnew/latest.rst
  noxfile.py
  setup.cfg
Labels: Type: Infrastructure

#4881 Warn users of increased `recombine_submeshes` memory demand.
  docs/src/whatsnew/latest.rst
Labels: Type: Performance
