Repository SciTools/iris, pull requests merged in 2022-02, with the labels that each got.

#4571 New tool-agnostic ASV environment management
  benchmarks/asv.conf.json
  benchmarks/asv_delegated_conda.py
  benchmarks/nox_asv_plugin.py
  noxfile.py
Labels: Type: Performance, Feature: ASV, Experience: Medium, Type: Testing

#4568 adopt GH dependabot
  .github/dependabot.yml
Labels: Type: Infrastructure

#4580 Fix load_http bug, extend testing, and note to docs
  docs/src/whatsnew/3.2.rst
  lib/iris/__init__.py
  lib/iris/fileformats/netcdf.py
  lib/iris/io/__init__.py
  lib/iris/tests/test_load.py
Labels: Release: Minor

#4477 Loading Benchmarks
  .github/workflows/benchmark.yml
  benchmarks/benchmarks/__init__.py
  benchmarks/benchmarks/generate_data/__init__.py
  benchmarks/benchmarks/generate_data/um_files.py
  benchmarks/benchmarks/loading.py
  noxfile.py
Labels: Type: Performance, Feature: ASV, Experience: Medium, Type: Testing

#4594 Yaml fixes + clarifications.
  .github/workflows/refresh-lockfiles.yml
  .github/workflows/stale.yml
Labels: Type: Infrastructure

#4583 Overnight benchmarks
  .github/workflows/benchmark.yml
  benchmarks/README.md
  noxfile.py
Labels: Type: Performance, Type: Testing
