Repository SciTools/iris, pull requests merged in 2022-06, with the labels that each got.

#4503 adopt ci gha
  .cirrus.yml
  .github/workflows/ci-docs-linkcheck.yml
  .github/workflows/ci-docs-tests.yml
  .github/workflows/ci-tests.yml
  .github/workflows/composite/cartopy-cache/action.yml
  .github/workflows/composite/conda-env-cache/action.yml
  .github/workflows/composite/conda-pkg-cache/action.yml
  .github/workflows/composite/iris-data-cache/action.yml
  .github/workflows/composite/nox-cache/action.yml
  .github/workflows/refresh-lockfiles.yml
  docs/src/whatsnew/latest.rst
  noxfile.py
Labels: Type: Enhancement, Type: Infrastructure

#4809 fix composite gha
  .github/workflows/ci-docs-linkcheck.yml
  .github/workflows/ci-docs-tests.yml
  .github/workflows/ci-tests.yml
  .github/workflows/composite/cartopy-cache/action.yml
Labels: Type: Bug, Type: Infrastructure

#4810 Whats new entry for SVG logo.
  docs/src/whatsnew/latest.rst
Labels: Type: Documentation

#4813 add gha workflow badges
  README.md
Labels: Type: Infrastructure

#4811 address npy disable cpu features warning
  noxfile.py
Labels: Type: Infrastructure

#4791 Allow passing of method keyword to numpy.percentile
  lib/iris/analysis/__init__.py
  lib/iris/tests/unit/analysis/test_PERCENTILE.py
Labels: Type: Enhancement

#4817 auto generate gha auth token
  .github/workflows/refresh-lockfiles.yml
  docs/src/developers_guide/assets/developer-settings-github-apps.png
  docs/src/developers_guide/assets/download-pem.png
  docs/src/developers_guide/assets/generate-key.png
  docs/src/developers_guide/assets/gha-token-example.png
  docs/src/developers_guide/assets/install-app.png
  docs/src/developers_guide/assets/install-iris-actions.png
  docs/src/developers_guide/assets/installed-app.png
  docs/src/developers_guide/assets/iris-actions-secret.png
  docs/src/developers_guide/assets/iris-github-apps.png
  docs/src/developers_guide/assets/iris-secrets-created.png
  docs/src/developers_guide/assets/iris-security-actions.png
  docs/src/developers_guide/assets/iris-settings.png
  docs/src/developers_guide/assets/org-perms-members.png
  docs/src/developers_guide/assets/repo-perms-contents.png
  docs/src/developers_guide/assets/repo-perms-pull-requests.png
  docs/src/developers_guide/assets/scitools-settings.png
  docs/src/developers_guide/assets/user-perms.png
  docs/src/developers_guide/assets/webhook-active.png
  docs/src/developers_guide/contributing_getting_involved.rst
  docs/src/developers_guide/github_app.rst
  docs/src/whatsnew/3.2.rst
Labels: Type: Infrastructure

#4827 Fix stock CDL headers for unlimited time dimension.
  docs/src/whatsnew/latest.rst
  lib/iris/tests/stock/file_headers/xios_2D_face_half_levels.cdl
  lib/iris/tests/stock/file_headers/xios_3D_face_full_levels.cdl
  lib/iris/tests/stock/file_headers/xios_3D_face_half_levels.cdl
  lib/iris/tests/stock/netcdf.py
Labels: Type: Performance, Type: Testing

#4647 Implement `iris.plot.fill_between`
  .github/workflows/benchmark.yml
  .github/workflows/ci-docs-tests.yml
  .github/workflows/ci-tests.yml
  docs/src/whatsnew/latest.rst
  lib/iris/plot.py
  lib/iris/quickplot.py
  lib/iris/tests/results/imagerepo.json
  lib/iris/tests/test_image_json.py
  lib/iris/tests/test_plot.py
Labels: Peloton 🚴‍♂️

#4838 Remove redundant testing assert methods
  docs/src/developers_guide/testing_tools.rst
  docs/src/whatsnew/latest.rst
  lib/iris/tests/__init__.py
  lib/iris/tests/integration/test_netcdf.py
  lib/iris/tests/test_cf.py
  lib/iris/tests/test_coordsystem.py
  lib/iris/tests/unit/experimental/representation/test_CubeRepresentation.py
  lib/iris/tests/unit/fileformats/nc_load_rules/actions/__init__.py
  lib/iris/tests/unit/fileformats/nc_load_rules/actions/test__grid_mappings.py
  lib/iris/tests/unit/fileformats/nc_load_rules/actions/test__hybrid_formulae.py
  lib/iris/tests/unit/fileformats/nc_load_rules/actions/test__time_coords.py
  lib/iris/tests/unit/fileformats/netcdf/test_Saver.py
  lib/iris/tests/unit/fileformats/pp/test_PPField.py
  lib/iris/tests/unit/io/test_expand_filespecs.py
  lib/iris/tests/unit/test_Future.py
Labels: Type: Testing

#4836 NetCDF Generation Adjustments
  benchmarks/benchmarks/experimental/ugrid/regions_combine.py
  benchmarks/benchmarks/load/ugrid.py
  benchmarks/benchmarks/save.py
  docs/src/whatsnew/latest.rst
  lib/iris/tests/stock/file_headers/xios_2D_face_half_levels.cdl
  lib/iris/tests/stock/file_headers/xios_3D_face_full_levels.cdl
  lib/iris/tests/stock/file_headers/xios_3D_face_half_levels.cdl
  lib/iris/tests/stock/netcdf.py
Labels: Type: Testing

#4839 remove pillow pin from setup.cfg
  setup.cfg
Labels: Type: Infrastructure

#4824 Mergenate
  .github/workflows/benchmark.yml
  .github/workflows/ci-docs-tests.yml
  .github/workflows/ci-tests.yml
  .github/workflows/refresh-lockfiles.yml
  docs/src/developers_guide/assets/developer-settings-github-apps.png
  docs/src/developers_guide/assets/download-pem.png
  docs/src/developers_guide/assets/generate-key.png
  docs/src/developers_guide/assets/gha-token-example.png
  docs/src/developers_guide/assets/install-app.png
  docs/src/developers_guide/assets/install-iris-actions.png
  docs/src/developers_guide/assets/installed-app.png
  docs/src/developers_guide/assets/iris-actions-secret.png
  docs/src/developers_guide/assets/iris-github-apps.png
  docs/src/developers_guide/assets/iris-secrets-created.png
  docs/src/developers_guide/assets/iris-security-actions.png
  docs/src/developers_guide/assets/iris-settings.png
  docs/src/developers_guide/assets/org-perms-members.png
  docs/src/developers_guide/assets/repo-perms-contents.png
  docs/src/developers_guide/assets/repo-perms-pull-requests.png
  docs/src/developers_guide/assets/scitools-settings.png
  docs/src/developers_guide/assets/user-perms.png
  docs/src/developers_guide/assets/webhook-active.png
  docs/src/developers_guide/contributing_getting_involved.rst
  docs/src/developers_guide/github_app.rst
  docs/src/whatsnew/3.2.rst
  docs/src/whatsnew/latest.rst
  lib/iris/experimental/MERGENATE.md
  lib/iris/experimental/mergenate.py
  lib/iris/tests/experimental/test_mergenate.py
  lib/iris/tests/stock/file_headers/xios_2D_face_half_levels.cdl
  lib/iris/tests/stock/file_headers/xios_3D_face_full_levels.cdl
  lib/iris/tests/stock/file_headers/xios_3D_face_half_levels.cdl
  lib/iris/tests/stock/netcdf.py
  lib/iris/util.py
Labels: Feature: merge/concatenate
