Repository SciTools/iris, pull requests merged in 2022-08, with the labels that each got.

#4885 Sphinx reset modules
  docs/src/conf.py
  docs/src/developers_guide/contributing_documentation_full.rst
  requirements/ci/py310.yml
  requirements/ci/py38.yml
  requirements/ci/py39.yml
  setup.cfg
Labels: Type: Documentation, Type: Infrastructure

#4888 Fix PERCENTILE docstring
  lib/iris/analysis/__init__.py
Labels: Type: Documentation

#4889 Upgrade `iris.util.mask_cube`
  docs/src/whatsnew/latest.rst
  lib/iris/analysis/maths.py
  lib/iris/common/metadata.py
  lib/iris/tests/__init__.py
  lib/iris/tests/results/unit/util/mask_cube/TestCubeMask/mask_cube_2d_create_new_dim.cml
  lib/iris/tests/results/unit/util/mask_cube/original_cube_full2d_global.cml
  lib/iris/tests/results/unit/util/mask_cube/original_cube_simple_1d.cml
  lib/iris/tests/results/unit/util/mask_cube/original_cube_simple_2d.cml
  lib/iris/tests/test_analysis.py
  lib/iris/tests/unit/util/test__mask_array.py
  lib/iris/tests/unit/util/test_mask_cube.py
  lib/iris/util.py
Labels: Type: Enhancement

#4892 set default 'unknown' version
  lib/iris/__init__.py
Labels: Type: Bug, Type: Infrastructure

#4894 Prevent color bar from being misplaced
  docs/src/whatsnew/latest.rst
  lib/iris/quickplot.py
  lib/iris/tests/test_quickplot.py
Labels: Type: Bug, Type: Enhancement

#4903 Adapt to the latest setuptools editable configuration.
  docs/src/whatsnew/latest.rst
  pyproject.toml
  requirements/ci/nox.lock/py310-linux-64.lock
  requirements/ci/nox.lock/py38-linux-64.lock
  requirements/ci/nox.lock/py39-linux-64.lock
  requirements/ci/py310.yml
  requirements/ci/py38.yml
  requirements/ci/py39.yml
  setup.py
Labels: Type: Infrastructure

#4792 pytest gallery tests
  .github/workflows/benchmark.yml
  .github/workflows/ci-tests.yml
  docs/Makefile
  docs/gallery_tests/conftest.py
  docs/gallery_tests/gallerytest_util.py
  docs/gallery_tests/test_gallery_examples.py
  docs/gallery_tests/test_plot_COP_1d.py
  docs/gallery_tests/test_plot_COP_maps.py
  docs/gallery_tests/test_plot_SOI_filtering.py
  docs/gallery_tests/test_plot_TEC.py
  docs/gallery_tests/test_plot_anomaly_log_colouring.py
  docs/gallery_tests/test_plot_atlantic_profiles.py
  docs/gallery_tests/test_plot_coriolis.py
  docs/gallery_tests/test_plot_cross_section.py
  docs/gallery_tests/test_plot_custom_aggregation.py
  docs/gallery_tests/test_plot_custom_file_loading.py
  docs/gallery_tests/test_plot_deriving_phenomena.py
  docs/gallery_tests/test_plot_global_map.py
  docs/gallery_tests/test_plot_hovmoller.py
  docs/gallery_tests/test_plot_inset.py
  docs/gallery_tests/test_plot_lagged_ensemble.py
  docs/gallery_tests/test_plot_lineplot_with_legend.py
  docs/gallery_tests/test_plot_load_nemo.py
  docs/gallery_tests/test_plot_orca_projection.py
  docs/gallery_tests/test_plot_polar_stereo.py
  docs/gallery_tests/test_plot_polynomial_fit.py
  docs/gallery_tests/test_plot_projections_and_annotations.py
  docs/gallery_tests/test_plot_rotated_pole_mapping.py
  docs/gallery_tests/test_plot_wind_barbs.py
  docs/gallery_tests/test_plot_wind_speed.py
  docs/src/developers_guide/contributing_documentation_full.rst
  docs/src/whatsnew/latest.rst
  lib/iris/tests/results/imagerepo.json
Labels: Type: Testing

#4874 Revert Cell.__hash__ fix
  docs/src/whatsnew/latest.rst
  lib/iris/coords.py
  lib/iris/tests/integration/merge/test_merge.py
  lib/iris/tests/unit/coords/test_Cell.py
Labels: Type: Bug, Type: Performance, Status: Decision Required

#4890 Improvements to Pandas-to-Iris bridge
  docs/src/conf.py
  docs/src/whatsnew/latest.rst
  lib/iris/pandas.py
  lib/iris/tests/test_pandas.py
Labels: Type: Enhancement, Release: Minor, Experience: Medium

#4917 Include shapely pin in setup.cfg
  docs/src/whatsnew/latest.rst
  setup.cfg
Labels: Type: Infrastructure

#4920 Fix some @trexfeathers What's New entries
  docs/src/whatsnew/latest.rst
Labels: Type: Documentation

#4905 SUM, COUNT, PROPORTION: don't use dask on numpy arrays
  docs/src/whatsnew/latest.rst
  lib/iris/analysis/__init__.py
  lib/iris/tests/unit/analysis/test_SUM.py
  requirements/ci/py310.yml
  requirements/ci/py38.yml
  requirements/ci/py39.yml
  setup.cfg
Labels: Type: Performance

#4926 Better handle `setuptools_scm` versioning
  .readthedocs.yml
  docs/src/_templates/custom_sidebar_logo_version.html
  docs/src/conf.py
  docs/src/whatsnew/3.3.rst
  pyproject.toml
Labels: Type: Documentation, Type: Infrastructure
