Repository SciTools/iris, pull requests merged in 2022-01, with the labels that each got.

#4462 Clarify the return type of iris.load (AVD-1899)
  docs/src/userguide/loading_iris_cubes.rst
Labels: Type: Documentation

#4474 Update Matplotlib links
  docs/src/userguide/plotting_a_cube.rst
Labels: Type: Documentation

#4470 Nc load latlon fix
  lib/iris/fileformats/_nc_load_rules/actions.py
  lib/iris/tests/unit/fileformats/nc_load_rules/actions/__init__.py
  lib/iris/tests/unit/fileformats/nc_load_rules/actions/test__latlon_dimcoords.py
Labels: Type: Bug

#4392 Show acceptable image test results in the docs
  docs/src/_templates/imagehash.html
  docs/src/conf.py
  docs/src/developers_guide/contributing_graphics_tests.rst
  docs/src/developers_guide/contributing_testing_index.rst
  docs/src/developers_guide/imagehash_index.rst
  docs/src/sphinxext/image_test_output.py
Labels: Type: Enhancement, Type: Documentation, New: Documentation

#4476 rtd with latest mambaforge image for faster building
  .readthedocs.yml
  docs/src/whatsnew/latest.rst
Labels: Type: Performance, Type: Infrastructure, New: Documentation

#4464 Broken cartopy links in docs
  docs/src/userguide/plotting_a_cube.rst
  docs/src/whatsnew/latest.rst
  lib/iris/plot.py
Labels: Type: Documentation

#4461 Add edit via github method to Iris docs
  docs/gallery_code/README.rst
  docs/src/developers_guide/contributing_documentation.rst
  docs/src/developers_guide/contributing_documentation_easy.rst
  docs/src/developers_guide/contributing_documentation_full.rst
  docs/src/developers_guide/edit_button.png
  docs/src/developers_guide/edit_on_github.png
  docs/src/developers_guide/find_main.png
  docs/src/developers_guide/fork_banner.png
  docs/src/developers_guide/propose_changes.png
  docs/src/developers_guide/pull_request.png
  docs/src/index.rst
  docs/src/whatsnew/latest.rst
Labels: Type: Documentation

#4377 Use partial to make cube pickleable
  docs/src/whatsnew/latest.rst
  lib/iris/cube.py
  lib/iris/tests/test_pickling.py
Labels: Type: Bug, New: Pull Request

#4481 nep29: drop py37 support
  .cirrus.yml
  .github/workflows/refresh-lockfiles.yml
  docs/src/whatsnew/latest.rst
  noxfile.py
  pyproject.toml
  requirements/ci/nox.lock/py37-linux-64.lock
  requirements/ci/py37.yml
  setup.cfg
Labels: Type: Infrastructure, New: Pull Request

#4486 address np printoptions pre/post v1.22
  lib/iris/util.py
Labels: Type: Infrastructure, New: Pull Request

#4490 docs: installing update
  docs/src/installing.rst
Labels: New: Documentation, New: Pull Request

#4196 Clarify interpolate and regrid scheme use
  lib/iris/cube.py
Labels: Type: Documentation, New: Pull Request

#4484 Remove all Metarelate dependencies.
  docs/src/whatsnew/latest.rst
  lib/iris/fileformats/_ff_cross_references.py
  lib/iris/fileformats/um_cf_map.py
  tools/gen_helpers.py
  tools/gen_stash_refs.py
  tools/gen_translations.py
  tools/translator/__init__.py
Labels: Type: Infrastructure, New: Pull Request

#4510 Turn off documentation type hints
  docs/src/conf.py
Labels: Type: Documentation

#4511 docs: fix whatnew entries
  docs/src/whatsnew/latest.rst
Labels: Type: Documentation, New: Pull Request

#4491 manual update to py38-linux-64.lock (#4480)
  .cirrus.yml
  lib/iris/tests/integration/test_trajectory.py
  lib/iris/tests/results/trajectory/tri_polar_latitude_slice.cml
  lib/iris/tests/unit/analysis/cartography/test_rotate_grid_vectors.py
  noxfile.py
  requirements/ci/nox.lock/py38-linux-64.lock
Labels: Type: Infrastructure, New: Pull Request

#4516 Clarify that you can't append with the netcdf saver in docs
  docs/src/userguide/saving_iris_cubes.rst
Labels: Type: Documentation

#3917 Support pathlib.Path objects for file names (#3411)
  docs/src/whatsnew/latest.rst
  lib/iris/__init__.py
  lib/iris/io/__init__.py
  lib/iris/tests/test_file_save.py
  lib/iris/tests/test_io_init.py
  lib/iris/tests/test_load.py
  lib/iris/tests/unit/io/test__generate_cubes.py
  lib/iris/tests/unit/io/test_save.py
Labels: Type: Enhancement, New: Pull Request

#4527 update test (#3917)
  lib/iris/tests/test_io_init.py
Labels: New: Pull Request

#4498 Improved use of UGRID terminology
  lib/iris/common/metadata.py
  lib/iris/experimental/ugrid/load.py
  lib/iris/experimental/ugrid/mesh.py
  lib/iris/experimental/ugrid/metadata.py
  lib/iris/fileformats/netcdf.py
  lib/iris/tests/unit/common/mixin/test_CFVariableMixin.py
  lib/iris/tests/unit/coords/test__DimensionalMetadata.py
  lib/iris/tests/unit/experimental/ugrid/mesh/test_Connectivity.py
  lib/iris/tests/unit/experimental/ugrid/mesh/test_Mesh.py
  lib/iris/tests/unit/experimental/ugrid/mesh/test_MeshCoord.py
  lib/iris/tests/unit/experimental/ugrid/mesh/test_Mesh__from_coords.py
  lib/iris/tests/unit/experimental/ugrid/metadata/test_ConnectivityMetadata.py
  lib/iris/tests/unit/fileformats/netcdf/test_Saver__ugrid.py
Labels: Feature: UGRID

#4537 docs: remove duplicate first contributor entry
  docs/src/whatsnew/latest.rst
Labels: New: Documentation, New: Pull Request

#4542 Fix whatsnew broken link
  docs/src/whatsnew/latest.rst
Labels: Type: Documentation

#4504 Mesh Documentation
  docs/src/common_links.inc
  docs/src/conf.py
  docs/src/further_topics/index.rst
  docs/src/further_topics/ugrid/data_model.rst
  docs/src/further_topics/ugrid/images/data_structured_grid.svg
  docs/src/further_topics/ugrid/images/data_ugrid_mesh.svg
  docs/src/further_topics/ugrid/images/geovistalogo.svg
  docs/src/further_topics/ugrid/images/iris-esmf-regrid.svg
  docs/src/further_topics/ugrid/images/plotting_basic.png
  docs/src/further_topics/ugrid/images/plotting_global.png
  docs/src/further_topics/ugrid/images/ugrid_edge_data.svg
  docs/src/further_topics/ugrid/images/ugrid_element_centres.svg
  docs/src/further_topics/ugrid/images/ugrid_node_independence.svg
  docs/src/further_topics/ugrid/images/ugrid_variable_faces.svg
  docs/src/further_topics/ugrid/index.rst
  docs/src/further_topics/ugrid/operations.rst
  docs/src/further_topics/ugrid/partner_packages.rst
  docs/src/index.rst
  docs/src/whatsnew/latest.rst
Labels: Type: Documentation, Feature: UGRID

#4549 minor optimisations
  docs/src/whatsnew/latest.rst
  lib/iris/_merge.py
  lib/iris/cube.py
Labels: Type: Performance, New: Pull Request

#4554 Update #4504 doctests for #4528
  docs/src/further_topics/ugrid/operations.rst
Labels: Feature: UGRID

#4540 docs: move whatsnew
  docs/src/developers_guide/documenting/whats_new_contributions.rst
  docs/src/developers_guide/release.rst
  docs/src/index.rst
  docs/src/whatsnew/dev.rst
  docs/src/whatsnew/dev.rst.template
  docs/src/whatsnew/index.rst
  docs/src/whatsnew/latest.rst
Labels: New: Documentation, New: Pull Request
