Repository SciTools/iris, pull requests merged in 2023-01, with the labels that each got.

#5122 pip pin for sphinx<5
  setup.cfg
Labels: Type: Documentation, Type: Infrastructure, Type: Tech Debt

#5128 Link PERCENTILE from MEDIAN docstring
  docs/src/whatsnew/latest.rst
  lib/iris/analysis/__init__.py
Labels: Type: Documentation

#5129 Unpin theme
  docs/src/_templates/layout.html
  docs/src/conf.py
  docs/src/whatsnew/latest.rst
  requirements/ci/py310.yml
  requirements/ci/py38.yml
  requirements/ci/py39.yml
Labels: Type: Documentation

#5130 Spelling remove
  docs/Makefile
  docs/src/Makefile
  docs/src/conf.py
  docs/src/developers_guide/contributing_documentation_full.rst
  docs/src/spelling_allow.txt
Labels: Type: Documentation

#5109 Fix link checks
  docs/src/conf.py
  docs/src/installing.rst
  docs/src/whatsnew/1.0.rst
  docs/src/whatsnew/latest.rst
Labels: Type: Documentation, Experience: Low

#5025 Iris ❤ Xarray docs page.
  docs/src/common_links.inc
  docs/src/community/index.rst
  docs/src/community/iris_xarray.rst
  docs/src/conf.py
  docs/src/further_topics/ugrid/partner_packages.rst
  docs/src/index.rst
  docs/src/whatsnew/latest.rst
  lib/iris/_lazy_data.py
  lib/iris/cube.py
  lib/iris/experimental/ugrid/mesh.py
  lib/iris/pandas.py
  lib/iris/util.py
Labels: Type: Documentation

#5141 add readme #showyourstripes
  README.md
  docs/src/whatsnew/latest.rst
Labels: Type: Documentation
