Repository SciTools/iris, pull requests merged in 2023-03, with the labels that each got.

#5084 Allow smarter weights (cubes, coordinates, cell measures, or ancillary variables) for aggregation
  docs/gallery_code/general/plot_custom_aggregation.py
  docs/src/userguide/cube_statistics.rst
  docs/src/whatsnew/latest.rst
  lib/iris/analysis/__init__.py
  lib/iris/cube.py
  lib/iris/tests/test_aggregate_by.py
  lib/iris/tests/test_analysis.py
  lib/iris/tests/test_lazy_aggregate_by.py
  lib/iris/tests/unit/analysis/test_Aggregator.py
  lib/iris/tests/unit/cube/test_Cube.py
Labels: Feature: ESMValTool

#5198 announce new contributor in whatsnew
  docs/src/whatsnew/latest.rst
Labels: Type: Documentation

#5204 standardize requirements structure
  .readthedocs.yml
  docs/src/common_links.inc
  docs/src/conf.py
  docs/src/developers_guide/contributing_ci_tests.rst
  docs/src/developers_guide/contributing_pull_request_checklist.rst
  docs/src/installing.rst
  docs/src/whatsnew/2.1.rst
  noxfile.py
  requirements/iris.yml
  requirements/locks/py310-linux-64.lock
  requirements/locks/py38-linux-64.lock
  requirements/locks/py39-linux-64.lock
  requirements/py310.yml
  requirements/py38.yml
  requirements/py39.yml
  requirements/readthedocs.yml
  tools/update_lockfiles.py
Labels: Type: Infrastructure

#5220 #5180 do not run publish-to-test-pypi on forks
  .github/workflows/ci-wheels.yml
  docs/src/whatsnew/latest.rst
Labels: Type: Infrastructure

#5221 use explicit version for ci refresh-lockfiles gha
  .github/workflows/refresh-lockfiles.yml
Labels: Type: Infrastructure

#5222 add locks readme
  requirements/locks/README.md
Labels: Type: Documentation, Type: Infrastructure

#5215 Benchmark runner script
  .github/workflows/benchmark.yml
  .github/workflows/ci-tests.yml
  benchmarks/README.md
  benchmarks/asv.conf.json
  benchmarks/bm_runner.py
  docs/src/developers_guide/contributing_benchmarks.rst
  docs/src/whatsnew/latest.rst
  lib/iris/tests/test_coding_standards.py
  noxfile.py
Labels: Type: Performance, Type: Infrastructure, Type: Testing

#5225 raise dask min pin
  docs/src/whatsnew/latest.rst
  lib/iris/analysis/cartography.py
  requirements/py310.yml
  requirements/py38.yml
  requirements/py39.yml
  setup.cfg
Labels: Type: Infrastructure
