Repository SciTools/iris, pull requests merged in 2023-02, with the labels that each got.

#5145 Fixing typo's in Gitwash.
  docs/src/common_links.inc
  docs/src/developers_guide/gitwash/forking.rst
  docs/src/developers_guide/gitwash/set_up_fork.rst
  docs/src/whatsnew/latest.rst
Labels: Type: Documentation

#4960 Split attrs - tests for status quo
  lib/iris/tests/integration/test_netcdf__loadsaveattrs.py
Labels: Type: Feature Branch

#5095 NetCDF thread safety take two
  docs/src/common_links.inc
  docs/src/userguide/glossary.rst
  docs/src/whatsnew/2.1.rst
  docs/src/whatsnew/latest.rst
  lib/iris/experimental/ugrid/load.py
  lib/iris/fileformats/cf.py
  lib/iris/fileformats/netcdf/_thread_safe_nc.py
  lib/iris/fileformats/netcdf/loader.py
  lib/iris/fileformats/netcdf/saver.py
  lib/iris/tests/integration/netcdf/__init__.py
  lib/iris/tests/integration/netcdf/test_attributes.py
  lib/iris/tests/integration/netcdf/test_aux_factories.py
  lib/iris/tests/integration/netcdf/test_coord_systems.py
  lib/iris/tests/integration/netcdf/test_general.py
  lib/iris/tests/integration/netcdf/test_self_referencing.py
  lib/iris/tests/integration/netcdf/test_thread_safety.py
  lib/iris/tests/integration/test_netcdf.py
  lib/iris/tests/results/integration/netcdf/attributes/TestUmVersionAttribute/multiple_different_saves_on_variables.cdl
  lib/iris/tests/results/integration/netcdf/attributes/TestUmVersionAttribute/multiple_same_saves_as_global.cdl
  lib/iris/tests/results/integration/netcdf/attributes/TestUmVersionAttribute/single_saves_as_global.cdl
  lib/iris/tests/results/integration/netcdf/aux_factories/TestAtmosphereSigma/save.cdl
  lib/iris/tests/results/integration/netcdf/aux_factories/TestHybridPressure/save.cdl
  lib/iris/tests/results/integration/netcdf/aux_factories/TestSaveMultipleAuxFactories/hybrid_height_and_pressure.cdl
  lib/iris/tests/results/integration/netcdf/aux_factories/TestSaveMultipleAuxFactories/hybrid_height_cubes.cml
  lib/iris/tests/results/integration/netcdf/general/TestPackedData/multi_packed_multi_dtype.cdl
  lib/iris/tests/results/integration/netcdf/general/TestPackedData/multi_packed_single_dtype.cdl
  lib/iris/tests/results/integration/netcdf/general/TestPackedData/single_packed_manual.cdl
  lib/iris/tests/results/integration/netcdf/general/TestPackedData/single_packed_signed.cdl
  lib/iris/tests/results/integration/netcdf/general/TestPackedData/single_packed_unsigned.cdl
  lib/iris/tests/stock/netcdf.py
  lib/iris/tests/test_cf.py
  lib/iris/tests/test_coding_standards.py
  lib/iris/tests/test_load.py
  lib/iris/tests/test_netcdf.py
  lib/iris/tests/test_pp_cf.py
  lib/iris/tests/unit/experimental/ugrid/cf/test_CFUGridReader.py
  lib/iris/tests/unit/fileformats/cf/test_CFReader.py
  lib/iris/tests/unit/fileformats/nc_load_rules/actions/__init__.py
  lib/iris/tests/unit/fileformats/netcdf/test_Saver.py
  lib/iris/tests/unit/fileformats/netcdf/test_Saver__ugrid.py
  lib/iris/tests/unit/fileformats/netcdf/test_save.py
  requirements/ci/nox.lock/py310-linux-64.lock
  requirements/ci/nox.lock/py38-linux-64.lock
  requirements/ci/nox.lock/py39-linux-64.lock
  requirements/ci/py310.yml
  requirements/ci/py38.yml
  requirements/ci/py39.yml
  setup.cfg
Labels: Type: Bug, Status: Work in Progress, Experience: High, Release: Patch, Feature: NetCDF + CF-conventions

#5170 `v3.4.1` 'merge-back' - What's New changes only
  docs/src/whatsnew/3.4.rst
Labels: Type: Merge Back

#5017 Lazy weighted RMS calculation
  docs/src/whatsnew/latest.rst
  lib/iris/analysis/__init__.py
  lib/iris/tests/unit/analysis/test_RMS.py
Labels: Type: Tech Debt
