Repository SciTools/iris, pull requests merged in 2023-05, with the labels that each got.

#4929 Support dask arrays in binary operations
  docs/src/conf.py
  docs/src/whatsnew/latest.rst
  lib/iris/analysis/maths.py
  lib/iris/tests/unit/analysis/maths/test__arith__dask_array.py
  lib/iris/util.py
Labels: Type: Enhancement

#5294 ensure only .rst files are processed
  docs/src/sphinxext/api_rst_formatting.py
Labels: Type: Documentation

#5283 remove extra-requirements from rtd config
  .readthedocs.yml
Labels: Type: Documentation, Type: Infrastructure, Type: Tech Debt

#5291 adopt contributor covenant code of conduct
  CODE_OF_CONDUCT.md
  MANIFEST.in
  README.md
  docs/src/whatsnew/latest.rst
Labels: Type: Infrastructure

#5306 release_do_nothing script updates from v3.6.0rc0
  lib/iris/tests/test_coding_standards.py
  tools/release_do_nothing.py
Labels: Type: Enhancement, Type: Infrastructure

#4970 Simpler/faster data aggregation code in `aggregated_by`
  docs/src/whatsnew/latest.rst
  lib/iris/cube.py
  lib/iris/tests/unit/cube/test_Cube__aggregated_by.py
Labels: Type: Performance, Type: Tech Debt

#5323 Whats new updates for v3.6.0
  docs/src/whatsnew/3.6.rst
Labels: Type: Documentation

#5325 v3.6.x merge-back
  docs/src/userguide/citation.rst
  docs/src/whatsnew/3.6.rst
Labels: Type: Merge Back

#5326 minor refinement to release-do-nothing script
  tools/release_do_nothing.py
Labels: Type: Enhancement

#5212 Support netcdf variable emulation
  lib/iris/fileformats/netcdf/loader.py
  lib/iris/fileformats/netcdf/saver.py
  lib/iris/tests/unit/fileformats/nc_load_rules/helpers/test_build_ancil_var.py
  lib/iris/tests/unit/fileformats/nc_load_rules/helpers/test_build_auxiliary_coordinate.py
  lib/iris/tests/unit/fileformats/nc_load_rules/helpers/test_build_cell_measure.py
  lib/iris/tests/unit/fileformats/netcdf/loader/test__get_cf_var_data.py
  lib/iris/tests/unit/fileformats/netcdf/saver/test_Saver__lazy_stream_data.py
Labels: Xarray Bridge

#5299 Iris Docs: Dark theme ready
  docs/src/_static/icon_api.svg
  docs/src/_static/theme_override.css
  docs/src/conf.py
  docs/src/further_topics/ugrid/images/data_structured_grid.svg
  docs/src/further_topics/ugrid/images/data_ugrid_mesh.svg
  docs/src/further_topics/ugrid/images/iris-esmf-regrid.svg
  docs/src/further_topics/ugrid/images/orca_grid.png
  docs/src/further_topics/ugrid/images/ugrid_edge_data.svg
  docs/src/further_topics/ugrid/images/ugrid_element_centres.svg
  docs/src/further_topics/ugrid/images/ugrid_node_independence.svg
  docs/src/further_topics/ugrid/images/ugrid_variable_faces.svg
  docs/src/further_topics/ugrid/operations.rst
  docs/src/further_topics/ugrid/other_meshes.rst
  docs/src/index.rst
  docs/src/userguide/concat.png
  docs/src/userguide/concat.svg
  docs/src/userguide/cube_diagram.dia
  docs/src/userguide/cube_diagram.png
  docs/src/userguide/iris_cubes.rst
  docs/src/userguide/merge.png
  docs/src/userguide/merge.svg
  docs/src/userguide/merge_and_concat.png
  docs/src/userguide/merge_and_concat.rst
  docs/src/userguide/multi_array.png
  docs/src/userguide/multi_array.svg
  docs/src/userguide/multi_array_to_cube.png
  docs/src/userguide/multi_array_to_cube.svg
  docs/src/voted_issues.rst
  docs/src/whatsnew/latest.rst
Labels: Type: Documentation
