Repository SciTools/iris, pull requests merged in 2023-04, with the labels that each got.

#5096 Handle derived coordinates correctly in `concatenate`
  docs/src/whatsnew/latest.rst
  lib/iris/_concatenate.py
  lib/iris/cube.py
  lib/iris/tests/integration/concatenate/test_concatenate.py
  lib/iris/tests/test_concatenate.py
  lib/iris/tests/unit/concatenate/test_concatenate.py
Labels: Feature: ESMValTool

#5240 clarity on whatsnew entry contributors
  docs/src/developers_guide/contributing_pull_request_checklist.rst
  docs/src/developers_guide/documenting/whats_new_contributions.rst
Labels: Type: Documentation

#5015 Modernize and simplify iris.analysis._Groupby
  docs/src/whatsnew/latest.rst
  lib/iris/analysis/__init__.py
  lib/iris/coords.py
  lib/iris/tests/test_analysis.py
Labels: Feature: ESMValTool, Type: Tech Debt

#5137 Finalises Lazy Data documentation
  docs/src/whatsnew/latest.rst
  lib/iris/analysis/__init__.py
  lib/iris/pandas.py
  lib/iris/plot.py
  lib/iris/quickplot.py
  lib/iris/util.py
Labels: Type: Documentation

#5247 Make bm_runner location agnostic and include debugging.
  benchmarks/bm_runner.py
Labels: Type: Performance, Type: Infrastructure

#5252 refresh manual pypi publish instructions
  docs/src/developers_guide/release.rst
Labels: Type: Documentation

#5256 fix indentation and remove ref to ssstack
  docs/src/developers_guide/contributing_ci_tests.rst
  docs/src/developers_guide/contributing_graphics_tests.rst
Labels: Type: Documentation

#5261 fix v3.5.x typo
  docs/src/whatsnew/3.5.rst
Labels: Type: Documentation

#5260 add missing test result data
  .gitignore
  lib/iris/tests/results/PP/extra_char_data.w_data_loaded.pp.txt
Labels: Type: Infrastructure

#5259 automate pypi manifest checking
  .github/workflows/ci-manifest.yml
  MANIFEST.in
  pyproject.toml
Labels: Type: Infrastructure, Type: Tech Debt

#5258 make help
  docs/Makefile
  docs/src/Makefile
  docs/src/whatsnew/latest.rst
Labels: Type: Documentation

#5262 move setup.cfg to pyproject.toml
  .flake8
  .pre-commit-config.yaml
  MANIFEST.in
  docs/src/whatsnew/latest.rst
  lib/iris/tests/test_coding_standards.py
  pyproject.toml
  requirements/README.md
  requirements/pypi-core.txt
  setup.cfg
Labels: Type: Infrastructure

#5266 build wheel from sdist, not src
  .github/workflows/ci-wheels.yml
  docs/src/whatsnew/latest.rst
Labels: Type: Infrastructure

#5269 Drop python3.8 support
  .github/workflows/ci-tests.yml
  .github/workflows/ci-wheels.yml
  docs/src/whatsnew/latest.rst
  lib/iris/tests/test_coding_standards.py
  noxfile.py
  pyproject.toml
  requirements/locks/py38-linux-64.lock
  requirements/py38.yml
Labels: Type: Infrastructure, Type: Tech Debt

#5273 updated installing instructions to use pip
  docs/src/installing.rst
  docs/src/whatsnew/latest.rst
Labels: Type: Documentation

#5264 Adopt sphinx-apidoc and retire complex sphinxext
  docs/src/common_links.inc
  docs/src/conf.py
  docs/src/developers_guide/contributing_documentation_full.rst
  docs/src/developers_guide/documenting/docstrings.rst
  docs/src/index.rst
  docs/src/sphinxext/api_rst_formatting.py
  docs/src/sphinxext/custom_data_autodoc.py
  docs/src/sphinxext/generate_package_rst.py
  docs/src/whatsnew/latest.rst
  requirements/locks/py310-linux-64.lock
  requirements/locks/py311-linux-64.lock
  requirements/locks/py39-linux-64.lock
  requirements/py310.yml
  requirements/py311.yml
  requirements/py39.yml
Labels: Type: Documentation

#5286 On demand pull request benchmark
  .github/workflows/benchmark.yml
  benchmarks/README.md
  benchmarks/asv.conf.json
  benchmarks/bm_runner.py
  docs/src/developers_guide/contributing_benchmarks.rst
  docs/src/whatsnew/latest.rst
Labels: Type: Performance, Type: Infrastructure, Type: Testing

#5288 Fix axes replacement on subfigures
  docs/src/whatsnew/latest.rst
  lib/iris/plot.py
  lib/iris/tests/unit/plot/test__replace_axes_with_cartopy_axes.py
Labels: Type: Bug
