Repository SciTools/iris, pull requests merged in 2023-08, with the labels that each got.

#5415 Minor docs `navbar` improvements
  docs/src/conf.py
  docs/src/index.rst
Labels: Type: Documentation

#5357 Avoid cftime warnings on pp-load
  docs/src/whatsnew/latest.rst
  lib/iris/fileformats/pp.py
Labels: Type: Bug

#5416 Update Installation Guide
  docs/src/installing.rst
  docs/src/whatsnew/latest.rst
Labels: Type: Documentation

#5429 Improve benchmark runner printing
  benchmarks/bm_runner.py
Labels: Type: Feature Branch

#5430 Post on demand benchmark results as comment (big refactor)
  .github/workflows/benchmarks_report.yml
  .github/workflows/benchmarks_run.yml
  .gitignore
  benchmarks/bm_runner.py
  docs/src/whatsnew/latest.rst
Labels: Type: Feature Branch

#5432 Warn via issue if overnight benchmarks fail
  .github/workflows/benchmarks_run.yml
  docs/src/whatsnew/latest.rst
Labels: Type: Feature Branch

#5433 Minor benchmark improvements
  .github/workflows/benchmarks_run.yml
  benchmarks/bm_runner.py
Labels: Type: Feature Branch

#5434 Set benchmark runs to error if the subprocess errors
  .github/workflows/benchmarks_run.yml
  benchmarks/bm_runner.py
  docs/src/whatsnew/latest.rst
Labels: Type: Feature Branch

#5435 Hard-code conda channel into asv_delegated_conda.py
  benchmarks/asv.conf.json
  benchmarks/asv_delegated_conda.py
  docs/src/whatsnew/latest.rst
Labels: Type: Feature Branch

#5436 Inflate benchmark data to ensure laziness
  benchmarks/benchmarks/experimental/ugrid/regions_combine.py
  benchmarks/benchmarks/load/__init__.py
  benchmarks/benchmarks/load/ugrid.py
  benchmarks/benchmarks/save.py
  docs/src/whatsnew/latest.rst
Labels: Type: Feature Branch

#5438 Benchmark feature branch what's new entry
  docs/src/whatsnew/latest.rst
Labels: Type: Feature Branch

#5425 Do not run CI stale bot on Dragon-labelled issues and PRs
  .github/workflows/stale.yml
Labels: Type: Infrastructure

#5418 Split attrs docs
  docs/src/further_topics/metadata.rst
  docs/src/userguide/iris_cubes.rst
  docs/src/whatsnew/latest.rst
  lib/iris/cube.py
Labels: Type: Feature Branch
