Repository SciTools/iris, pull requests merged in 2023-11, with the labels that each got.

#5569 DOCS: Removed broken git links.
  docs/src/conf.py
  docs/src/developers_guide/gitwash/development_workflow.rst
  docs/src/developers_guide/gitwash/git_links.inc
  docs/src/whatsnew/latest.rst
Labels: Type: Documentation

#5572 DOCS: fixed styling & spacing
  docs/src/further_topics/dask_best_practices/index.rst
  docs/src/further_topics/ugrid/data_model.rst
  docs/src/techpapers/um_files_loading.rst
  docs/src/userguide/navigating_a_cube.rst
  docs/src/userguide/real_and_lazy_data.rst
Labels: Type: Documentation

#5573 Allow `add_season_year()` to optionally send spans backwards
  docs/src/whatsnew/latest.rst
  lib/iris/coord_categorisation.py
  lib/iris/tests/test_coord_categorisation.py
  lib/iris/tests/unit/coord_categorisation/test_coord_categorisation.py
Labels: Type: Enhancement, Experience: Low, Release: Minor

#5565 Merge chunk control code into latest iris
  lib/iris/_lazy_data.py
  lib/iris/fileformats/netcdf/loader.py
  lib/iris/tests/integration/test_netcdf__chunk_control.py
  lib/iris/tests/unit/lazy_data/test_as_lazy_data.py
Labels: Type: Feature Branch

#5538 Splitattrs ncsave redo commonmeta
  docs/src/further_topics/metadata.rst
  lib/iris/common/_split_attribute_dicts.py
  lib/iris/common/metadata.py
  lib/iris/tests/integration/test_netcdf__loadsaveattrs.py
  lib/iris/tests/unit/common/metadata/test_CubeMetadata.py
Labels: Type: Feature Branch

#5593 Chunk control minor fixes
  lib/iris/_lazy_data.py
  lib/iris/fileformats/netcdf/loader.py
Labels: Type: Feature Branch

#5543 Refactor area weighted regridding, improve performance
  lib/iris/analysis/_area_weighted.py
  lib/iris/tests/experimental/regrid/test_regrid_area_weighted_rectilinear_src_and_grid.py
  lib/iris/tests/unit/analysis/area_weighted/test_AreaWeightedRegridder.py
Labels: benchmark_this

#5588 Mergeback of `FEATURE_chunk_control` branch
  docs/src/techpapers/index.rst
  docs/src/techpapers/netcdf_io.rst
  docs/src/whatsnew/latest.rst
  lib/iris/_lazy_data.py
  lib/iris/fileformats/netcdf/loader.py
  lib/iris/tests/unit/fileformats/netcdf/loader/test__chunk_control.py
  lib/iris/tests/unit/fileformats/netcdf/loader/test__get_cf_var_data.py
  lib/iris/tests/unit/lazy_data/test_as_lazy_data.py
Labels: Type: Merge Back, Type: Feature Branch

#5568 Fix pp save of realization coordinate
  docs/src/whatsnew/latest.rst
  lib/iris/fileformats/pp_save_rules.py
  lib/iris/tests/unit/fileformats/pp/test_save.py
Labels: Type: Bug
