Repository SciTools/iris, pull requests merged in 2024-02, with the labels that each got.

#5714 DOCS: API docs ToC more levels
  docs/src/conf.py
  docs/src/whatsnew/latest.rst
Labels: Type: Documentation

#5736 Update line number references in filtering_warnings.rst .
  docs/src/further_topics/filtering_warnings.rst
Labels: Type: Documentation

#5713 Consider NaNs equal when comparing cubes
  docs/src/whatsnew/latest.rst
  lib/iris/cube.py
  lib/iris/tests/unit/cube/test_Cube.py
Labels: benchmark_this

#5700 DOCS: Add whatsnew for ruff pydocstyle compliance
  docs/src/whatsnew/latest.rst
Labels: Type: Documentation

#5744 Document `Coord.ignore_axis`
  docs/src/further_topics/netcdf_io.rst
  docs/src/whatsnew/latest.rst
  lib/iris/coords.py
  lib/iris/util.py
Labels: Type: Documentation

#5756 Pin ASV - airspeed-velocity/asv#1385
  .github/workflows/benchmarks_run.yml
Labels: Type: Performance, Type: Testing, benchmark_this

#5765 Whats new updates for `v3.8.0rc0`
  docs/src/whatsnew/3.8.rst
  docs/src/whatsnew/index.rst
  docs/src/whatsnew/latest.rst.template
Labels: Release: Minor

#5766 Post `v3.8.0rc0` `main` mergeback
  docs/src/whatsnew/3.8.rst
  docs/src/whatsnew/index.rst
  docs/src/whatsnew/latest.rst
Labels: Type: Merge Back

#5664 Update documentation for the new v5 CLA
  docs/src/common_links.inc
  docs/src/developers_guide/contributing_ci_tests.rst
  docs/src/developers_guide/contributing_documentation_easy.rst
  docs/src/developers_guide/contributing_getting_involved.rst
Labels: Type: Documentation, Type: Infrastructure

#5776 ASV custom build command and file-based benchmark triggers
  .github/labeler.yml
  .github/pull_request_template.md
  .github/workflows/benchmarks_run.yml
  benchmarks/asv.conf.json
  benchmarks/bm_runner.py
  docs/src/whatsnew/latest.rst
Labels: Type: Performance, Type: Testing, benchmark_this
