Repository SciTools/iris, pull requests merged in 2024-08, with the labels that each got.

#6106 DOCS: fix typo for class reference
  lib/iris/experimental/geovista.py
Labels: Type: Documentation

#6111 DOCS: remove --force option as it is not present in conda (only mamba)
  docs/src/installing.rst
Labels: Type: Documentation

#6113 v3.10.0 merge-back
  docs/src/whatsnew/3.10.rst
Labels: Type: Merge Back

#5981 Repeating Tracemalloc Benchmark for accuracy
  benchmarks/README.md
  benchmarks/asv.conf.json
  benchmarks/benchmarks/__init__.py
  benchmarks/benchmarks/cperf/save.py
  benchmarks/benchmarks/merge_concat.py
  benchmarks/benchmarks/mesh/utils/regions_combine.py
  benchmarks/benchmarks/regridding.py
  benchmarks/benchmarks/save.py
  benchmarks/benchmarks/sperf/combine_regions.py
  benchmarks/benchmarks/sperf/save.py
  benchmarks/benchmarks/stats.py
  benchmarks/benchmarks/trajectory.py
  benchmarks/custom_bms/README.md
  benchmarks/custom_bms/install.py
  benchmarks/custom_bms/tracemallocbench.py
  docs/src/whatsnew/latest.rst
Labels: Type: Performance, Type: Testing, benchmark_this

#5955 Partial collapse of multi-dim string coords: take 2
  docs/src/whatsnew/latest.rst
  lib/iris/coords.py
  lib/iris/tests/unit/coords/test_Coord.py
Labels: Type: Bug
