Repository SciTools/iris, pull requests merged in 2024-04, with the labels that each got.

#5833 Remove fill-value checks from netcdf saver.
  docs/src/further_topics/missing_data_handling.rst
  docs/src/whatsnew/latest.rst
  lib/iris/fileformats/netcdf/saver.py
  lib/iris/tests/integration/netcdf/test_delayed_save.py
  lib/iris/tests/unit/fileformats/netcdf/saver/test_Saver.py
  lib/iris/tests/unit/fileformats/netcdf/saver/test_Saver__lazy_stream_data.py
  lib/iris/tests/unit/fileformats/netcdf/saver/test__data_fillvalue_check.py
  lib/iris/tests/unit/fileformats/netcdf/saver/test__fillvalue_report.py
Labels: Release: Minor, benchmark_this

#5894 nep29: drop py39 and support py312
  .github/workflows/ci-tests.yml
  .github/workflows/ci-wheels.yml
  benchmarks/asv.conf.json
  benchmarks/bm_runner.py
  docs/src/whatsnew/latest.rst
  lib/iris/tests/test_coding_standards.py
  lib/iris/tests/unit/common/metadata/test__NamedTupleMeta.py
  lib/iris/tests/unit/coords/test_Coord.py
  lib/iris/tests/unit/coords/test__DimensionalMetadata.py
  lib/iris/tests/unit/experimental/ugrid/load/test_load_mesh.py
  noxfile.py
  pyproject.toml
  requirements/iris.yml
  requirements/locks/py310-linux-64.lock
  requirements/locks/py311-linux-64.lock
  requirements/locks/py312-linux-64.lock
  requirements/py312.yml
Labels: benchmark_this

#5900 `v3.9.x` mergeback
  docs/src/whatsnew/3.9.rst
  docs/src/whatsnew/index.rst
  docs/src/whatsnew/latest.rst
  docs/src/whatsnew/latest.rst.template
Labels: Type: Merge Back

#5783 DOC: clarify save_pairs_from_cube docstring
  docs/src/whatsnew/latest.rst
  lib/iris/fileformats/pp.py
Labels: Type: Documentation

#5901 Unpin sphinx
  docs/src/conf.py
  docs/src/voted_issues.rst
  docs/src/whatsnew/latest.rst
  requirements/py310.yml
  requirements/py311.yml
  requirements/py312.yml
Labels: Type: Documentation

#5905 Ignore `flaticon.com` in linkchecks
  docs/src/conf.py
Labels: Type: Documentation

#5882 pytest migration of unit.common.resolve.test_Resolve
  lib/iris/tests/unit/common/resolve/test_Resolve.py
Labels: Type: Feature Branch, Feature: pytest

#5759 Shapefile user guide typos
  docs/src/common_links.inc
  docs/src/userguide/subsetting_a_cube.rst
Labels: Type: Documentation

#5912 Revert "[CI Bot] environment lockfiles auto-update"
  requirements/locks/py310-linux-64.lock
  requirements/locks/py311-linux-64.lock
  requirements/locks/py312-linux-64.lock
Labels: benchmark_this

#5921 `v3.9.x` mergeback
  docs/src/whatsnew/3.9.rst
Labels: Type: Merge Back

#5825 FIX: weighted percentile works with 1D weights
  docs/src/whatsnew/latest.rst
  lib/iris/analysis/__init__.py
  lib/iris/tests/unit/analysis/test_WPERCENTILE.py
Labels: Type: Bug

#5931 Temporary fix for airspeed-velocity/asv#1396
  benchmarks/asv_delegated_conda.py
  docs/src/whatsnew/latest.rst
Labels: Type: Performance, Feature: ASV, Type: Testing, benchmark_this
