Repository SciTools/iris, pull requests merged in 2024-05, with the labels that each got.

#5951 Provide a Nox `benchmarks` session as the recommended entry point
  .github/workflows/benchmarks_run.yml
  benchmarks/README.md
  docs/src/whatsnew/latest.rst
  noxfile.py
Labels: Type: Performance, Type: Infrastructure, Type: Testing, benchmark_this

#5948 Use tracemalloc for memory measurements.
  benchmarks/benchmarks/__init__.py
Labels: benchmark_this

#5960 Add memory benchmarks
  benchmarks/benchmarks/__init__.py
  benchmarks/benchmarks/merge_concat.py
  benchmarks/benchmarks/regridding.py
  benchmarks/benchmarks/stats.py
  benchmarks/benchmarks/trajectory.py
Labels: benchmark_this

#5795 Lazy `iris.cube.Cube.rolling_window`
  docs/src/whatsnew/latest.rst
  lib/iris/cube.py
  lib/iris/tests/unit/cube/test_Cube.py
Labels: Feature: ESMValTool

#5971 DOCS: Used a note to highlight some text on the Testing page
  docs/src/developers_guide/contributing_benchmarks.rst
Labels: Type: Documentation

#5953 Update lock files with associated fixes
  docs/src/conf.py
  lib/iris/plot.py
  requirements/locks/py310-linux-64.lock
  requirements/locks/py311-linux-64.lock
  requirements/locks/py312-linux-64.lock
Labels: benchmark_this
