Repository SciTools/iris, pull requests merged in 2024-03, with the labels that each got.

#5767 Fix usage of map_blocks in AreaWeighted and elsewhere
  docs/src/whatsnew/latest.rst
  lib/iris/_lazy_data.py
  lib/iris/analysis/__init__.py
  lib/iris/analysis/_area_weighted.py
  lib/iris/analysis/_regrid.py
Labels: benchmark_this

#5811 Add pytest-mock dependency
  requirements/py310.yml
  requirements/py311.yml
  requirements/py39.yml
Labels: Feature: pytest

#5813 Convert `tests.unit.concatenate.test_concatenate` to pytest.
  lib/iris/tests/unit/concatenate/test_concatenate.py
Labels: Feature: pytest

#5816 Convert to pytest : `lib/iris/tests/unit/concatenate/test__CubeSignature`
  lib/iris/tests/unit/concatenate/test__CubeSignature.py
Labels: Feature: pytest

#5817 Rewrite `result_path()` for pytest
  lib/iris/tests/_shared_utils.py
Labels: Type: Feature Branch, Feature: pytest

#5815 Configure pytest-mock as pytest required-plugin
  pyproject.toml
Labels: Type: Feature Branch, Feature: pytest

#5823 pytest migration ruff PT compliance for unit.concatenate
  lib/iris/tests/unit/concatenate/test__CubeSignature.py
  lib/iris/tests/unit/concatenate/test_concatenate.py
Labels: Type: Feature Branch, Feature: pytest

#5822 pytest migration for unit.common.test_Lenient
  lib/iris/tests/unit/common/lenient/test_Lenient.py
Labels: Type: Feature Branch, Feature: pytest

#5827 Better implementation of `_shared_utils.results_path()` - using PyTest `request`
  lib/iris/tests/_shared_utils.py
Labels: Type: Testing, Type: Feature Branch, Feature: pytest

#5834 Pytests unit/aux_factory/test_AtmosphereSigmaFactory
  lib/iris/tests/unit/aux_factory/test_AtmosphereSigmaFactory.py
Labels: benchmark_this

#5842 pytest migration for unit.common.lenient.test__lenient_client
  lib/iris/tests/unit/common/lenient/test__lenient_client.py
Labels: Type: Feature Branch, Feature: pytest

#5828 pytest migration for unit.common.lenient.test__Lenient
  lib/iris/tests/unit/common/lenient/test__Lenient.py
Labels: Type: Feature Branch, Feature: pytest

#5839 Convert `tests/test_plot` to PyTest
  lib/iris/tests/_shared_utils.py
  lib/iris/tests/test_plot.py
  lib/iris/tests/test_quickplot.py
Labels: Type: Testing, Type: Feature Branch, Feature: pytest

#5843 pytest migration for unit.common.lenient.test__lenient_service
  lib/iris/tests/unit/common/lenient/test__lenient_service.py
Labels: Type: Feature Branch, Feature: pytest

#5847 pytest migration for unit.common.mixin.test__get_valid_standard_name
  lib/iris/tests/unit/common/mixin/test__get_valid_standard_name.py
Labels: Type: Feature Branch, Feature: pytest

#5848 Pytest all of /unit/lazy_data
  lib/iris/tests/unit/lazy_data/test_as_concrete_data.py
  lib/iris/tests/unit/lazy_data/test_as_lazy_data.py
  lib/iris/tests/unit/lazy_data/test_co_realise_cubes.py
  lib/iris/tests/unit/lazy_data/test_is_lazy_data.py
  lib/iris/tests/unit/lazy_data/test_lazy_elementwise.py
  lib/iris/tests/unit/lazy_data/test_map_complete_blocks.py
  lib/iris/tests/unit/lazy_data/test_multidim_lazy_stack.py
  lib/iris/tests/unit/lazy_data/test_non_lazy.py
Labels: Feature: pytest

#5849 pytest migration for unit.common.mixin.test_CFVariableMixin
  lib/iris/tests/unit/common/mixin/test_CFVariableMixin.py
Labels: Type: Feature Branch, Feature: pytest

#5845 pytest migration for unit.common.lenient.test__qualname
  lib/iris/tests/unit/common/lenient/test__qualname.py
Labels: Type: Feature Branch, Feature: pytest

#5851 pytest migration for unit.common.mixin.test_LimitedAttributeDict
  lib/iris/tests/unit/common/mixin/test_LimitedAttributeDict.py
Labels: Type: Feature Branch, Feature: pytest

#5852 pytest migration for unit.common.metadata.test_NamedTupleMeta
  lib/iris/tests/unit/common/metadata/test__NamedTupleMeta.py
Labels: Type: Feature Branch, Feature: pytest

#5858 `v3.8.1` merge-back
  docs/src/whatsnew/3.8.rst
Labels: Type: Merge Back

#5859 Make test_analysis PyTest
  lib/iris/tests/_shared_utils.py
  lib/iris/tests/test_analysis.py
  lib/iris/tests/test_analysis_calculus.py
Labels: Type: Testing, Type: Feature Branch, Feature: pytest

#5862 Convert ABF test to pytest.
  lib/iris/tests/unit/fileformats/abf/test_ABFField.py
Labels: Feature: pytest

#5854 pytest migration for unit.common.metadata.test_AncillaryVariableMetadata
  lib/iris/tests/unit/common/metadata/test_AncillaryVariableMetadata.py
Labels: Type: Feature Branch, Feature: pytest

#5863 Convert unit/fileformats/__init__
  lib/iris/tests/unit/fileformats/__init__.py
  lib/iris/tests/unit/fileformats/pp_load_rules/__init__.py
  lib/iris/tests/unit/fileformats/pp_load_rules/test__all_other_rules.py
  lib/iris/tests/unit/fileformats/pp_load_rules/test__convert_scalar_pseudo_level_coords.py
  lib/iris/tests/unit/fileformats/pp_load_rules/test__convert_scalar_realization_coords.py
  lib/iris/tests/unit/fileformats/pp_load_rules/test__convert_time_coords.py
  lib/iris/tests/unit/fileformats/pp_load_rules/test__convert_vertical_coords.py
  lib/iris/tests/unit/fileformats/pp_load_rules/test_convert.py
Labels: Feature: pytest

#5869 Convert to Pytest.
  lib/iris/tests/unit/fileformats/nimrod_load_rules/test_units.py
  lib/iris/tests/unit/fileformats/nimrod_load_rules/test_vertical_coord.py
Labels: Feature: pytest

#5870 Pytests unit/fileformats/dotpath
  lib/iris/tests/unit/fileformats/dot/test__dot_path.py
Labels: Feature: pytest

#5871 Convert unit/fileformats/name_loaders to pytest.
  lib/iris/tests/unit/fileformats/name_loaders/test__build_cell_methods.py
  lib/iris/tests/unit/fileformats/name_loaders/test__build_lat_lon_for_NAME_timeseries.py
  lib/iris/tests/unit/fileformats/name_loaders/test__calc_integration_period.py
  lib/iris/tests/unit/fileformats/name_loaders/test__cf_height_from_name.py
  lib/iris/tests/unit/fileformats/name_loaders/test__generate_cubes.py
Labels: Feature: pytest

#5872 Convert to fileformats/rules to pytest
  lib/iris/tests/unit/fileformats/rules/test_Loader.py
  lib/iris/tests/unit/fileformats/rules/test__make_cube.py
  lib/iris/tests/unit/fileformats/rules/test_rules.py
Labels: Feature: pytest

#5867 Convert remaining graphics tests to PyTest
  lib/iris/tests/_shared_utils.py
  lib/iris/tests/integration/plot/test_animate.py
  lib/iris/tests/integration/plot/test_colorbar.py
  lib/iris/tests/integration/plot/test_netcdftime.py
  lib/iris/tests/integration/plot/test_nzdateline.py
  lib/iris/tests/integration/plot/test_plot_2d_coords.py
  lib/iris/tests/integration/plot/test_vector_plots.py
  lib/iris/tests/test_mapping.py
Labels: Type: Testing, Type: Feature Branch, Feature: pytest

#5877 Convert unit/fileformats/structured_array_identification to pytest.
  lib/iris/tests/unit/fileformats/structured_array_identification/test_ArrayStructure.py
  lib/iris/tests/unit/fileformats/structured_array_identification/test_GroupStructure.py
Labels: Feature: pytest

#5873 Convert unit/fileformats/cf to pytest
  lib/iris/tests/unit/fileformats/cf/test_CFGroup.py
  lib/iris/tests/unit/fileformats/cf/test_CFReader.py
Labels: Feature: pytest

#5868 pytest migration for unit.common.metadata.test_BaseMetadata
  lib/iris/tests/_shared_utils.py
  lib/iris/tests/unit/common/metadata/test_BaseMetadata.py
Labels: Type: Feature Branch, Feature: pytest

#5874 pytest migration of unit.common.metadata.test_hexdigest
  lib/iris/tests/unit/common/metadata/test_hexdigest.py
Labels: Type: Feature Branch, Feature: pytest

#5875 pytest migration of unit.common.metadata.test_metadata_filter
  lib/iris/tests/unit/common/metadata/test_metadata_filter.py
Labels: Type: Feature Branch, Feature: pytest

#5881 pytest migration for unit.common.metadata.test_CubeMetadata
  lib/iris/tests/unit/common/metadata/test_CubeMetadata.py
Labels: Type: Feature Branch, Feature: pytest

#5876 pytest migration of unit.common.metadata.test_metadata_manager_factory
  lib/iris/tests/unit/common/metadata/test_metadata_manager_factory.py
Labels: Type: Feature Branch, Feature: pytest

#5883 More root pytest
  lib/iris/tests/_shared_utils.py
  lib/iris/tests/test_pp_cf.py
  lib/iris/tests/test_pp_module.py
  lib/iris/tests/test_pp_stash.py
  lib/iris/tests/test_pp_to_cube.py
  lib/iris/tests/test_util.py
Labels: Type: Testing, Type: Feature Branch, Feature: pytest

#5886 Lockfile updates including What's New
  docs/src/whatsnew/latest.rst
  requirements/locks/py310-linux-64.lock
  requirements/locks/py311-linux-64.lock
  requirements/locks/py39-linux-64.lock
Labels: benchmark_this

#5880 pytest migration of unit.common.metadata.test_CoordMetadata
  lib/iris/tests/unit/common/metadata/test_CoordMetadata.py
Labels: Type: Feature Branch, Feature: pytest

#5740 Iris to GeoVista conversion
  docs/src/conf.py
  docs/src/further_topics/ugrid/images/plotting.png
  docs/src/further_topics/ugrid/images/plotting_basic.png
  docs/src/further_topics/ugrid/images/plotting_global.png
  docs/src/further_topics/ugrid/operations.rst
  lib/iris/experimental/geovista.py
  lib/iris/experimental/ugrid/mesh.py
  lib/iris/tests/integration/experimental/geovista/__init__.py
  lib/iris/tests/integration/experimental/geovista/test_cube_to_poly.py
  lib/iris/tests/integration/experimental/geovista/test_extract_unstructured_region.py
  lib/iris/tests/unit/experimental/geovista/__init__.py
  lib/iris/tests/unit/experimental/geovista/test_cube_to_polydata.py
  lib/iris/tests/unit/experimental/geovista/test_extract_unstructured_region.py
  requirements/locks/py310-linux-64.lock
  requirements/locks/py311-linux-64.lock
  requirements/locks/py39-linux-64.lock
  requirements/py310.yml
  requirements/py311.yml
  requirements/py39.yml
Labels: benchmark_this
