Repository SciTools/iris, pull requests merged in 2025-08, with the labels that each got.

#6604 Convert `system_test`, `test_abf`, `test_basic_maths` to PyTest
  lib/iris/tests/system_test.py
  lib/iris/tests/test_abf.py
  lib/iris/tests/test_basic_maths.py
Labels: Type: Testing, Feature: pytest

#6619 whatsnew updates for v3.13.0
  docs/src/whatsnew/3.13.rst
Labels: Type: Merge Back

#6601 Convert `test_netcdf` to PyTest
  lib/iris/tests/results/netcdf/NetCDFSave__ancillaries/aliases.cdl
  lib/iris/tests/results/netcdf/NetCDFSave__ancillaries/flag.cdl
  lib/iris/tests/results/netcdf/NetCDFSave__ancillaries/fulldims.cdl
  lib/iris/tests/results/netcdf/NetCDFSave__ancillaries/multiple.cdl
  lib/iris/tests/results/netcdf/NetCDFSave__ancillaries/partialdims.cdl
  lib/iris/tests/results/netcdf/NetCDFSave__ancillaries/shared.cdl
  lib/iris/tests/test_netcdf.py
Labels: Type: Testing, Feature: pytest

#6609 Convert `test_cartography`, `test_cdm`, `test_cell` to PyTest
  lib/iris/tests/results/cdm/StockCubeStringRepresentations/0d_repr.txt
  lib/iris/tests/results/cdm/StockCubeStringRepresentations/0d_str.txt
  lib/iris/tests/results/cdm/StockCubeStringRepresentations/1d_repr.txt
  lib/iris/tests/results/cdm/StockCubeStringRepresentations/1d_str.txt
  lib/iris/tests/results/cdm/StockCubeStringRepresentations/2d_repr.txt
  lib/iris/tests/results/cdm/StockCubeStringRepresentations/2d_str.txt
  lib/iris/tests/results/cdm/StockCubeStringRepresentations/3d_repr.txt
  lib/iris/tests/results/cdm/StockCubeStringRepresentations/3d_str.txt
  lib/iris/tests/results/cdm/StockCubeStringRepresentations/4d_repr.txt
  lib/iris/tests/results/cdm/StockCubeStringRepresentations/4d_str.txt
  lib/iris/tests/test_cartography.py
  lib/iris/tests/test_cdm.py
  lib/iris/tests/test_cell.py
  lib/iris/tests/test_cf.py
  lib/iris/tests/test_concatenate.py
Labels: Type: Testing, Feature: pytest

#6637 More PyTest conversion advice
  docs/src/developers_guide/contributing_pytest_conversions.rst
Labels: Type: Documentation, Type: Testing, Feature: pytest

#6630 Convert `tests/unit/experimental` to PyTest
  lib/iris/tests/results/unit/experimental/stratify/relevel/multi_dim_target_levels.cml
  lib/iris/tests/unit/experimental/geovista/test_cube_to_polydata.py
  lib/iris/tests/unit/experimental/geovista/test_extract_unstructured_region.py
  lib/iris/tests/unit/experimental/raster/test_export_geotiff.py
  lib/iris/tests/unit/experimental/regrid/test_regrid_area_weighted_rectilinear_src_and_grid.py
  lib/iris/tests/unit/experimental/regrid/test_regrid_weighted_curvilinear_to_rectilinear.py
  lib/iris/tests/unit/experimental/representation/test_CubeListRepresentation.py
  lib/iris/tests/unit/experimental/representation/test_CubeRepresentation.py
  lib/iris/tests/unit/experimental/stratify/test_relevel.py
Labels: Type: Testing, Feature: pytest

#6633 Convert `tests/unit/fileformats/cf` mesh content to PyTest
  lib/iris/tests/unit/fileformats/cf/test_CFUGridAuxiliaryCoordinateVariable.py
  lib/iris/tests/unit/fileformats/cf/test_CFUGridConnectivityVariable.py
  lib/iris/tests/unit/fileformats/cf/test_CFUGridMeshVariable.py
Labels: Type: Testing, Feature: pytest

#6634 Convert `tests/unit/fileformats/netcdf/loader/ugrid_load` to PyTest
  lib/iris/fileformats/netcdf/__init__.py
  lib/iris/tests/unit/fileformats/netcdf/loader/ugrid_load/test_load_mesh.py
  lib/iris/tests/unit/fileformats/netcdf/loader/ugrid_load/test_load_meshes.py
Labels: Status: Blocked, Type: Testing, Feature: pytest

#6643 Corrected import of ESMPy module
  docs/src/whatsnew/latest.rst
  lib/iris/experimental/regrid_conservative.py
  lib/iris/tests/experimental/regrid/test_regrid_conservative_via_esmpy.py
Labels: Feature: Regridding

#6654 Convert to PyTest: unit pandas, cube representation, merge
  lib/iris/tests/unit/merge/test_ProtoCube.py
  lib/iris/tests/unit/merge/test_merge.py
  lib/iris/tests/unit/pandas/test_pandas.py
  lib/iris/tests/unit/representation/cube_printout/test_CubePrintout.py
  lib/iris/tests/unit/representation/cube_printout/test_Table.py
Labels: Type: Testing, Feature: pytest

#6670 Whats new updates for `v3.13.1`
  docs/src/whatsnew/3.13.rst
Labels: Type: Documentation
