Repository SciTools/iris, pull requests merged in 2025-07, with the labels that each got.

#6516 Rechunk derived
  docs/src/whatsnew/latest.rst
  lib/iris/aux_factory.py
  lib/iris/tests/unit/aux_factory/test_AtmosphereSigmaFactory.py
  lib/iris/tests/unit/aux_factory/test_AuxCoordFactory.py
Labels: benchmark_this

#6517 Allow derived coord references to be lazy.
  docs/src/userguide/cube_statistics.rst
  docs/src/whatsnew/latest.rst
  lib/iris/fileformats/rules.py
Labels: benchmark_this

#6549 Investigate and reduce benchmark changes for mesh timestamps
  lib/iris/coords.py
  lib/iris/mesh/components.py
  lib/iris/tests/unit/mesh/components/test_MeshCoord.py
Labels: benchmark_this

#6537 Merge `FEATURE_wkt` into `main`
  docs/src/further_topics/netcdf_io.rst
  docs/src/whatsnew/latest.rst
  lib/iris/cube.py
  lib/iris/exceptions.py
  lib/iris/fileformats/_nc_load_rules/actions.py
  lib/iris/fileformats/_nc_load_rules/helpers.py
  lib/iris/fileformats/cf.py
  lib/iris/fileformats/netcdf/loader.py
  lib/iris/fileformats/netcdf/saver.py
  lib/iris/tests/integration/netcdf/test_coord_systems.py
  lib/iris/tests/integration/test_netcdf__loadsaveattrs.py
  lib/iris/tests/results/unit/fileformats/netcdf/saver/Saver/write_extended_grid_mapping/multi_cs.cdl
  lib/iris/tests/results/unit/fileformats/netcdf/saver/Saver/write_extended_grid_mapping/multi_cs_missing_coord.cdl
  lib/iris/tests/results/unit/fileformats/netcdf/saver/Saver/write_extended_grid_mapping/no_aux_cs.cdl
  lib/iris/tests/results/unit/fileformats/netcdf/saver/Saver/write_extended_grid_mapping/no_cs.cdl
  lib/iris/tests/unit/coord_systems/test_ObliqueMercator.py
  lib/iris/tests/unit/fileformats/nc_load_rules/actions/__init__.py
  lib/iris/tests/unit/fileformats/nc_load_rules/actions/test__grid_mappings.py
  lib/iris/tests/unit/fileformats/netcdf/saver/test_Saver.py
Labels: benchmark_this

#6566 Generalise support for netcdf load+save of "special" attributes
  docs/src/whatsnew/latest.rst
  lib/iris/fileformats/_nc_load_rules/actions.py
  lib/iris/fileformats/netcdf/_attribute_handlers.py
  lib/iris/fileformats/netcdf/saver.py
  lib/iris/tests/integration/netcdf/test_load_managed_attributes.py
  lib/iris/tests/integration/netcdf/test_save_managed_attributes.py
  lib/iris/tests/integration/test_netcdf__loadsaveattrs.py
  lib/iris/tests/test_netcdf.py
  lib/iris/tests/unit/fileformats/nc_load_rules/actions/test__miscellaneous.py
  lib/iris/tests/unit/fileformats/netcdf/attribute_handlers/__init__.py
  lib/iris/tests/unit/fileformats/netcdf/attribute_handlers/test_GribParamHandler.py
  lib/iris/tests/unit/fileformats/netcdf/attribute_handlers/test_StashHandler.py
  lib/iris/tests/unit/fileformats/netcdf/attribute_handlers/test_UkmoProcessFlagsHandler.py
Labels: benchmark_this

#6584 v3.13.x.mergeback
  docs/src/whatsnew/3.13.rst
  docs/src/whatsnew/index.rst
  docs/src/whatsnew/latest.rst
Labels: Type: Merge Back

#6550 Make benchmark result comparison machine-specific
  benchmarks/bm_runner.py
  docs/src/whatsnew/latest.rst
Labels: Type: Performance, Type: Testing, benchmark_this
