Repository SciTools/iris, pull requests merged in 2025-06, with the labels that each got.

#6465 Redirect ALL un-loadable NetCDF objects to `LOAD_PROBLEMS`
  benchmarks/benchmarks/generate_data/__init__.py
  docs/src/whatsnew/latest.rst
  lib/iris/fileformats/_nc_load_rules/actions.py
  lib/iris/fileformats/_nc_load_rules/helpers.py
  lib/iris/fileformats/cf.py
  lib/iris/fileformats/netcdf/loader.py
  lib/iris/fileformats/netcdf/ugrid_load.py
  lib/iris/loading.py
  lib/iris/tests/integration/netcdf/test_general.py
  lib/iris/tests/results/netcdf/netcdf_monotonic.cml
  lib/iris/tests/unit/fileformats/nc_load_rules/actions/test__grid_mappings.py
  lib/iris/tests/unit/fileformats/nc_load_rules/helpers/test__add_or_capture.py
  lib/iris/tests/unit/fileformats/nc_load_rules/helpers/test_build_ancil_var.py
  lib/iris/tests/unit/fileformats/nc_load_rules/helpers/test_build_and_add_ancil_var.py
  lib/iris/tests/unit/fileformats/nc_load_rules/helpers/test_build_and_add_auxiliary_coordinate.py
  lib/iris/tests/unit/fileformats/nc_load_rules/helpers/test_build_and_add_cell_measure.py
  lib/iris/tests/unit/fileformats/nc_load_rules/helpers/test_build_and_add_cell_methods.py
  lib/iris/tests/unit/fileformats/nc_load_rules/helpers/test_build_and_add_dimension_coordinate.py
  lib/iris/tests/unit/fileformats/nc_load_rules/helpers/test_build_and_add_global_attributes.py
  lib/iris/tests/unit/fileformats/nc_load_rules/helpers/test_build_and_add_names.py
  lib/iris/tests/unit/fileformats/nc_load_rules/helpers/test_build_and_add_units.py
  lib/iris/tests/unit/fileformats/nc_load_rules/helpers/test_build_cell_measure.py
  lib/iris/tests/unit/fileformats/nc_load_rules/helpers/test_build_cube_metadata.py
  lib/iris/tests/unit/fileformats/nc_load_rules/helpers/test_build_raw_cube.py
  lib/iris/tests/unit/fileformats/nc_load_rules/helpers/test_get_attr_units.py
  lib/iris/tests/unit/fileformats/netcdf/loader/test__get_cf_var_data.py
  lib/iris/tests/unit/fileformats/netcdf/loader/test__load_cube.py
  lib/iris/tests/unit/fileformats/netcdf/loader/test_load_cubes.py
  lib/iris/tests/unit/fileformats/netcdf/loader/ugrid_load/test_load_meshes.py
  lib/iris/tests/unit/fileformats/netcdf/loader/ugrid_load/test_meshload_checks.py
  lib/iris/tests/unit/loading/test_load_problems.py
Labels: Type: Enhancement, Release: Minor, Feature: NetCDF + CF-conventions, benchmark_this

#6504 Lockfile update plus testing fix
  lib/iris/tests/integration/netcdf/test_delayed_save.py
  requirements/locks/py311-linux-64.lock
  requirements/locks/py312-linux-64.lock
  requirements/locks/py313-linux-64.lock
Labels: Type: Testing, benchmark_this

#6518 Numpy 2.3 fix
  benchmarks/benchmarks/generate_data/um_files.py
  docs/src/whatsnew/latest.rst
  lib/iris/common/mixin.py
  lib/iris/common/resolve.py
  lib/iris/cube.py
  lib/iris/tests/_shared_utils.py
  lib/iris/tests/results/analysis/calculus/handmade2_wrt_lon.data.0.json
  lib/iris/tests/results/analysis/hmean_latitude_longitude.data.0.json
  lib/iris/tests/results/analysis/variance_latitude_longitude.data.0.json
  lib/iris/tests/test_pp_module.py
  requirements/locks/py311-linux-64.lock
  requirements/locks/py312-linux-64.lock
  requirements/locks/py313-linux-64.lock
Labels: benchmark_this

#6524 More informative stack trace for benchmark data generation
  benchmarks/benchmarks/generate_data/__init__.py
  benchmarks/benchmarks/generate_data/stock.py
  docs/src/whatsnew/latest.rst
Labels: Type: Performance, Type: Infrastructure, Type: Testing

#6529 Detailed documentation on Load Problems
  docs/src/further_topics/filtering_warnings.rst
  docs/src/userguide/code_maintenance.rst
  docs/src/userguide/index.rst
  docs/src/userguide/iris_philosophy.rst
  docs/src/userguide/loading_iris_cubes.rst
  docs/src/whatsnew/latest.rst
Labels: Type: Documentation, Feature: NetCDF + CF-conventions

#6521 Some do-nothing reminders about the next release
  tools/release_do_nothing.py
Labels: Type: Infrastructure
