Repository SciTools/iris, pull requests merged in 2025-04, with the labels that each got.

#6395 TST: make image comparison fail nicely
  lib/iris/tests/test_plot.py
Labels: Type: Testing

#6421 Update Iris benchmarking to align with templating
  .github/workflows/benchmarks_report.yml
  .github/workflows/benchmarks_run.yml
  benchmarks/README.md
  benchmarks/_asv_delegated_abc.py
  benchmarks/asv.conf.json
  benchmarks/asv_delegated.py
  benchmarks/asv_delegated_iris.py
  benchmarks/benchmarks/__init__.py
  benchmarks/benchmarks/generate_data/__init__.py
  benchmarks/bm_runner.py
  benchmarks/custom_bms/install.py
Labels: Type: Performance, Type: Testing, benchmark_this

#6424 Remove `setup.py develop` command
  benchmarks/asv_delegated.py
  docs/src/whatsnew/latest.rst
  setup.py
Labels: benchmark_this
